# 1

In [18]:
import pandas as pd

data =pd.read_csv("C:/Users/SuperUser/Desktop/data/basic1.csv")
data.head()
tmp = data.sort_values('f5',ascending=False).iloc[:10]
a  = tmp['f5'].min()
data.iloc[:10,-1]=a
data[data['age']>=80]['f5'].mean()

62.76223596304349

# 2

In [49]:
import pandas as pd

data =pd.read_csv("C:/Users/SuperUser/Desktop/data/basic1.csv")
a = data[:int(len(data)*0.7)]['f1'].std()

b = data[:int(len(data)*0.7)]['f1'].fillna(data[:int(len(data)*0.7)]['f1'].median()).std()
print(abs(a-b))

SyntaxError: invalid syntax (2702792130.py, line 4)

# 3

In [51]:
import pandas as pd

data =pd.read_csv("C:/Users/SuperUser/Desktop/data/basic1.csv")

std = data['age'].std()*1.5

ans = data[(data['age']<data['age'].mean()-std)|(data['age']>data['age'].mean()+std)]['age'].sum()
print(ans)

473.5

# 4

In [88]:
# 시험환경 세팅 (코드 변경 X)
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

def exam_data_load(df, target, id_name="", null_name=""):
    if id_name == "":
        df = df.reset_index().rename(columns={"index": "id"})
        id_name = 'id'
    else:
        id_name = id_name
    
    if null_name != "":
        df[df == null_name] = np.nan
    
    X_train, X_test = train_test_split(df, test_size=0.2, random_state=2021)
    
    y_train = X_train[[id_name, target]]
    X_train = X_train.drop(columns=[target])

    
    y_test = X_test[[id_name, target]]
    X_test = X_test.drop(columns=[target])
    return X_train, X_test, y_train, y_test 
    
df = pd.read_csv("C:/Users/SuperUser/Desktop/Train (3).csv")
X_train, X_test, y_train, y_test = exam_data_load(df, target='Reached.on.Time_Y.N', id_name='ID')
# ------------------------------------------------------------------------------------------------------------------------------------- #


print(X_train.info())
print('-'*80)
print(X_test.info())
print('-'*80)
print(y_test.info())
print('-'*80)

print(X_train.describe())
print('-'*80)

x_test_id = X_test.pop('ID')
X_train.drop('ID',axis=1,inplace=True)
y = y_train['Reached.on.Time_Y.N']

str_col = X_train.select_dtypes('object').columns
num_col = X_train.select_dtypes(exclude='object').columns
from sklearn.preprocessing import LabelEncoder,StandardScaler

le = LabelEncoder()
dum_col = []
for col in str_col:
    print(f'{col}의 value : \n{X_train[col].value_counts()}')
    print('-'*80)
#     if X_train[col].nunique()>=5:
    X_train[col]=le.fit_transform(X_train[col])    
    X_test[col] = le.fit_transform(X_test[col])
#     else:
#         dum_col.append(col)
# X_train = pd.get_dummies(X_train,columns=dum_col)
# X_test = pd.get_dummies(X_test,columns=dum_col)

ss = StandardScaler()

X_train = ss.fit_transform(X_train)
X_test = ss.fit_transform(X_test)

x_tr,x_te,y_tr,y_te= train_test_split(X_train,y,test_size = 0.2, random_state=2021)

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score,classification_report



model_rf = RandomForestClassifier(max_depth = 7,n_estimators=200, random_state=2021)
model_rf.fit(x_tr,y_tr)
pred_rf = model_rf.predict_proba(x_te)
pred1 = model_rf.predict(x_te)
report1 = classification_report(y_te,pred1)
score_rf = roc_auc_score(y_te,pred_rf[:,1])
print(score_rf)
print('-'*80)
print(report1)

model_kc = KNeighborsClassifier()
model_kc.fit(x_tr,y_tr)
pred_kc = model_kc.predict_proba(x_te)
pred2 = model_kc.predict(x_te)
report2 = classification_report(y_te,pred2)
score_kc = roc_auc_score(y_te, pred_kc[:,1])
print(score_kc)
print('-'*80)
print(report2)

model_lr = LogisticRegression(random_state=2021)
model_lr.fit(x_tr,y_tr)
pred_lr = model_lr.predict_proba(x_te)
pred3 = model_lr.predict(x_te)
report3 = classification_report(y_te,pred3)
score_lr = roc_auc_score(y_te, pred_lr[:,1])
print(score_lr)
print('-'*80)
print(report3)

model_dt = DecisionTreeClassifier(random_state=2021)
model_dt.fit(x_tr,y_tr)
pred_dt = model_dt.predict_proba(x_te)
pred4 = model_dt.predict(x_te)
report4 = classification_report(y_te,pred4)
score_dt = roc_auc_score(y_te, pred_dt[:,1])
print(score_dt)
print('-'*80)
print(report4)

pred = model_rf.predict_proba(X_test)
submission = pd.DataFrame({'ID':x_test_id, "Reached.on.Time_Y.N":pred[:,1] })
submission.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8799 entries, 3999 to 9332
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   8799 non-null   int64
 1   Warehouse_block      8799 non-null   object
 2   Mode_of_Shipment     8799 non-null   object
 3   Customer_care_calls  8799 non-null   int64
 4   Customer_rating      8799 non-null   int64
 5   Cost_of_the_Product  8799 non-null   int64
 6   Prior_purchases      8799 non-null   int64
 7   Product_importance   8799 non-null   object
 8   Gender               8799 non-null   object
 9   Discount_offered     8799 non-null   int64
 10  Weight_in_gms        8799 non-null   int64
dtypes: int64(7), object(4)
memory usage: 824.9+ KB
None
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2200 entries, 4732 to 4413
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2200 non-null   int64
 1   Warehouse_block      2200 non-null   object
 2   Mode_of_Shipment     2200 non-null   object
 3   Customer_care_calls  2200 non-null   int64
 4   Customer_rating      2200 non-null   int64
 5   Cost_of_the_Product  2200 non-null   int64
 6   Prior_purchases      2200 non-null   int64
 7   Product_importance   2200 non-null   object
 8   Gender               2200 non-null   object
 9   Discount_offered     2200 non-null   int64
 10  Weight_in_gms        2200 non-null   int64
dtypes: int64(7), object(4)
memory usage: 206.2+ KB
None
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2200 entries, 4732 to 4413
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2200 non-null   int64
 1   Reached.on.Time_Y.N  2200 non-null   int64
dtypes: int64(2)
memory usage: 51.6 KB
None
--------------------------------------------------------------------------------
                 ID  Customer_care_calls  Customer_rating  \
count   8799.000000          8799.000000      8799.000000
mean    5470.620411             4.050006         2.993295
std     3179.855461             1.140903         1.411744
min        1.000000             2.000000         1.000000
25%     2704.500000             3.000000         2.000000
50%     5481.000000             4.000000         3.000000
75%     8204.500000             5.000000         4.000000
max    10999.000000             7.000000         5.000000

       Cost_of_the_Product  Prior_purchases  Discount_offered  Weight_in_gms
count          8799.000000      8799.000000       8799.000000    8799.000000
mean            210.087169         3.564723         13.510399    3616.203660
std              47.937049         1.520299         16.305299    1635.051213
min              96.000000         2.000000          1.000000    1001.000000
25%             169.000000         3.000000          4.000000    1828.000000
50%             214.000000         3.000000          7.000000    4133.000000
75%             250.000000         4.000000         10.000000    5034.500000
max             310.000000        10.000000         65.000000    7846.000000
--------------------------------------------------------------------------------
Warehouse_block의 value :
F    2941
A    1489
B    1465
C    1458
D    1446
Name: Warehouse_block, dtype: int64
--------------------------------------------------------------------------------
Mode_of_Shipment의 value :
Ship      5913
Flight    1449
Road      1437
Name: Mode_of_Shipment, dtype: int64
--------------------------------------------------------------------------------
Product_importance의 value :
low       4247
medium    3783
high       769
Name: Product_importance, dtype: int64
--------------------------------------------------------------------------------
Gender의 value :
F    4456
M    4343
Name: Gender, dtype: int64
--------------------------------------------------------------------------------
0.7410962981863027
--------------------------------------------------------------------------------
              precision    recall  f1-score   support

           0       0.58      0.91      0.70       732
           1       0.89      0.52      0.66      1028

    accuracy                           0.68      1760
   macro avg       0.73      0.72      0.68      1760
weighted avg       0.76      0.68      0.68      1760

0.7298483978652377
--------------------------------------------------------------------------------
              precision    recall  f1-score   support

           0       0.58      0.59      0.58       732
           1       0.70      0.70      0.70      1028

    accuracy                           0.65      1760
   macro avg       0.64      0.64      0.64      1760
weighted avg       0.65      0.65      0.65      1760

0.7292822818991729
--------------------------------------------------------------------------------
              precision    recall  f1-score   support

           0       0.57      0.56      0.56       732
           1       0.69      0.70      0.70      1028

    accuracy                           0.64      1760
   macro avg       0.63      0.63      0.63      1760
weighted avg       0.64      0.64      0.64      1760

0.6165561012948907
--------------------------------------------------------------------------------
              precision    recall  f1-score   support

           0       0.57      0.51      0.54       732
           1       0.67      0.72      0.70      1028

    accuracy                           0.63      1760
   macro avg       0.62      0.62      0.62      1760
weighted avg       0.63      0.63      0.63      1760

        ID  Reached.on.Time_Y.N
4732  4733             0.702947
2039  2040             0.995706
5113  5114             0.436132
2360  2361             0.983921
5995  5996             0.473128

In [86]:
pred = model_rf.predict_proba(X_test)
roc_auc_score(y_test['Reached.on.Time_Y.N'], pred[:,1])

0.7220030625137333

# 1

In [113]:
import pandas as pd

data = pd.read_csv("C:/Users/SuperUser/Desktop/t1-data2.csv",index_col='year')
data.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
year,,,,,,,,,,,,,,,,,,,,,
2022년,69,37,57,70,40,75,8,67,89,91,...,79,56,98,21,14,25,17,10,60,17
2023년,52,13,22,70,92,80,8,56,17,96,...,62,47,59,6,25,96,69,87,28,64
2024년,88,44,32,55,64,8,4,2,62,44,...,98,95,40,59,69,71,86,53,93,64
2025년,80,97,15,4,74,12,100,60,47,47,...,30,11,2,54,9,52,51,81,78,22
2026년,64,66,62,56,67,80,90,24,58,78,...,93,15,88,67,7,82,5,61,15,63

In [123]:
ans = sum(data.loc['2022년',:]>data.loc['2022년'].median())
print(ans)

50

# 2

In [138]:
data = pd.read_csv("C:/Users/SuperUser/Desktop/t1-data1.csv")
data.dropna(inplace=True)
data = data[:int(np.trunc(len(data)*0.6))]
ans = data['f1'].quantile(0.75)
print(ans)

77.25

# 3

In [147]:
import pandas as pd

data = pd.read_csv("C:/Users/SuperUser/Desktop/t1-data1.csv")
ans = data.isnull().sum().sort_values(ascending=False).index[0]
print(ans)

f1

# 4

In [216]:
import pandas as pd

train = pd.read_csv("C:/Users/SuperUser/Desktop/t2-1-train.csv")
test = pd.read_csv("C:/Users/SuperUser/Desktop/t2-1-test.csv")

y = train.pop('TravelInsurance')
x_test_id = test.pop('id')
train.drop('id',axis=1,inplace=True)

print(train.isnull().sum())
print('-'*80)
print(test.isnull().sum())
print('-'*80)
print(train.info())
print('-'*80)
print(train.describe())
print('-'*80)
print(test.info())
print('-'*80)
print(test.describe())
print('-'*80)
str_col = train.select_dtypes('object').columns
num_col = train.select_dtypes(exclude='object').columns

for col in str_col:
    print(f'{col} value_counts 값 : \n{train[col].value_counts()}')
    print('-'*80)

for col in str_col:
    print(f'{col} value_counts 값 : \n{test[col].value_counts()}')
    print('-'*80)
    
train['AnnualIncome'].fillna(train['AnnualIncome'].mean(),inplace=True)
test['AnnualIncome'].fillna(test['AnnualIncome'].mean(),inplace=True)

df = pd.concat([train, test])

# train = pd.get_dummies(train)
# test = pd.get_dummies(test)

from sklearn.preprocessing import MinMaxScaler,LabelEncoder,RobustScaler
le=LabelEncoder()
for col in str_col:
    df[col]=le.fit_transform(df[col])

train = df[:train.shape[0]].copy()
test = df[train.shape[0]:].copy()

scaler = RobustScaler()

train['AnnualIncome'] = scaler.fit_transform(train[['AnnualIncome']])
test['AnnualIncome'] = scaler.fit_transform(test[['AnnualIncome']])

from sklearn.model_selection import train_test_split
x_tr,x_te,y_tr,y_te = train_test_split(train,y,stratify=y,test_size=0.2,random_state=2021)

from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score,classification_report

model_rf = RandomForestClassifier(random_state=2021)
model_rf.fit(x_tr,y_tr)
pred_rf = model_rf.predict(x_te)
prob_rf = model_rf.predict_proba(x_te)
score_rf = roc_auc_score(y_te,prob_rf[:,1])
report_rf = classification_report(y_te,pred_rf)

model_xg = XGBClassifier(random_state=2021)
model_xg.fit(x_tr,y_tr)
pred_xg = model_xg.predict(x_te)
prob_xg = model_xg.predict_proba(x_te)
score_xg = roc_auc_score(y_te,prob_xg[:,1])
report_xg = classification_report(y_te,pred_xg)

model_lr = LogisticRegression(random_state=2021)
model_lr.fit(x_tr,y_tr)
pred_lr = model_lr.predict(x_te)
prob_lr = model_lr.predict_proba(x_te)
score_lr = roc_auc_score(y_te,prob_lr[:,1])
report_lr = classification_report(y_te,pred_lr)

print(f'RandomForestClassifier_roc_auc_score:{score_rf} ')
print(f'XGBClassifier_roc_auc_score:{score_xg} ')
print(f'LogisticRegression_roc_auc_score:{score_lr} ')

print(f'RandomForestClassifier report: \n{report_rf} ')
print(f'XGBClassifier report:\n{report_xg} ')
print(f'LogisticRegression report:\n{report_lr} ')

model_xg.fit(train,y)
pred = model_xg.predict_proba(test)
submission = pd.DataFrame({'id':x_test_id,'TravelInsurance':pred[:,1]})
print(submission.head())

Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           4
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
dtype: int64
--------------------------------------------------------------------------------
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           3
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
dtype: int64
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  1490 non-null   int64
 1   Employment Type      1490 non-null   object
 2   GraduateOrNot        1490 non-null   object
 3   AnnualIncome         1486 non-null   float64
 4   FamilyMembers        1490 non-null   int64
 5   ChronicDiseases      1490 non-null   int64
 6   FrequentFlyer        1490 non-null   object
 7   EverTravelledAbroad  1490 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 93.2+ KB
None
--------------------------------------------------------------------------------
               Age  AnnualIncome  FamilyMembers  ChronicDiseases
count  1490.000000  1.486000e+03    1490.000000      1490.000000
mean     29.600000  9.311238e+05       4.755705         0.280537
std       2.887829  3.764874e+05       1.603613         0.449412
min      25.000000  3.000000e+05       2.000000         0.000000
25%      28.000000  6.000000e+05       4.000000         0.000000
50%      29.000000  9.000000e+05       5.000000         0.000000
75%      32.000000  1.250000e+06       6.000000         1.000000
max      35.000000  1.800000e+06       9.000000         1.000000
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  497 non-null    int64
 1   Employment Type      497 non-null    object
 2   GraduateOrNot        497 non-null    object
 3   AnnualIncome         494 non-null    float64
 4   FamilyMembers        497 non-null    int64
 5   ChronicDiseases      497 non-null    int64
 6   FrequentFlyer        497 non-null    object
 7   EverTravelledAbroad  497 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 31.2+ KB
None
--------------------------------------------------------------------------------
              Age  AnnualIncome  FamilyMembers  ChronicDiseases
count  497.000000  4.940000e+02     497.000000       497.000000
mean    29.800805  9.393725e+05       4.744467         0.269618
std      2.986286  3.792988e+05       1.629211         0.444208
min     25.000000  3.000000e+05       2.000000         0.000000
25%     28.000000  6.000000e+05       4.000000         0.000000
50%     29.000000  9.000000e+05       5.000000         0.000000
75%     33.000000  1.250000e+06       6.000000         1.000000
max     35.000000  1.750000e+06       9.000000         1.000000
--------------------------------------------------------------------------------
Employment Type value_counts 값 :
Private Sector/Self Employed    1056
Government Sector                434
Name: Employment Type, dtype: int64
--------------------------------------------------------------------------------
GraduateOrNot value_counts 값 :
Yes    1270
No      220
Name: GraduateOrNot, dtype: int64
--------------------------------------------------------------------------------
FrequentFlyer value_counts 값 :
No     1175
Yes     315
Name: FrequentFlyer, dtype: int64
--------------------------------------------------------------------------------
EverTravelledAbroad value_counts 값 :
No     1209
Yes     281
Name: EverTravelledAbroad, dtype: int64
--------------------------------------------------------------------------------
Employment Type value_counts 값 :
Private Sector/Self Employed    360
Government Sector               134
Casual employment                 3
Name: Employment Type, dtype: int64
--------------------------------------------------------------------------------
GraduateOrNot value_counts 값 :
Yes    422
No      75
Name: GraduateOrNot, dtype: int64
--------------------------------------------------------------------------------
FrequentFlyer value_counts 값 :
No     395
Yes    102
Name: FrequentFlyer, dtype: int64
--------------------------------------------------------------------------------
EverTravelledAbroad value_counts 값 :
No     398
Yes     99
Name: EverTravelledAbroad, dtype: int64
--------------------------------------------------------------------------------

,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,28,Private Sector/Self Employed,Yes,1250000.0,6,1,No,No
1,31,Private Sector/Self Employed,Yes,1250000.0,7,1,No,No
2,29,Private Sector/Self Employed,Yes,1200000.0,7,0,No,No
3,33,Government Sector,Yes,650000.0,6,1,No,No
4,28,Private Sector/Self Employed,Yes,800000.0,6,0,No,Yes
...,...,...,...,...,...,...,...,...
492,25,Private Sector/Self Employed,No,1150000.0,5,1,Yes,No
493,34,Private Sector/Self Employed,Yes,1500000.0,9,0,Yes,Yes
494,33,Government Sector,Yes,700000.0,4,0,No,No
495,26,Private Sector/Self Employed,Yes,1400000.0,4,0,No,Yes
496,26,Private Sector/Self Employed,Yes,1500000.0,3,0,Yes,Yes