In [2]:
# 필요한 라이브러리 호출
import pandas as pd
import numpy as np

# 이상치 발견 및 IQR 활용

In [7]:
# 데이터 호출
data=pd.read_csv("C:/users/SuperUser/Desktop/data/train.csv")

In [8]:
# IQR 구하기
q1 = np.percentile(data['Fare'],25)
q3 = np.percentile(data['Fare'],75)

iqr=q3-q1

In [10]:
# Fare 컬럼에서 iqr 범위 벗어난 이상치 구하기
data=data[(data['Fare']<=q1-1.5*iqr)|(data['Fare']>=q3+1.5*iqr)]

In [11]:
#이상치에 해당하는 여성의 수
print(sum(data['Sex']=="female"))

70

1. np.percentile(해당하는 데이터,비율) -> 1분위수= 25, 2분위수=50, 3분위수=75
2. iqr 정상범위 = q1-1.5*iqr <= X =< q3+1.5*iqr
3. 개수는 Sum() 함수로 구하기

# 이상치 발견(소수점 구하기)

In [12]:
# 데이터 호출
data=pd.read_csv("C:/users/SuperUser/Desktop/data/basic1.csv")

In [14]:
# 나이가 소수점인 나이 구하기
data=data[data['age']-np.floor(data['age'])!=0]

In [16]:
# 올림 내림 버림(절사)들의 평균값 구하기
u = np.ceil(data['age']).mean()
d = np.floor(data['age']).mean()
t = np.trunc(data['age']).mean()

In [17]:
print(u+d+t)

69.5

1. 소수점 구하기 = 기존 데이터 - np.floor(데이터) !=0 ex) 1.5 - np.floor(1.5) = 0.5
2. 올림 내림 버림
 - np.ceil() 올림
 - np.floor() 내림
 - np.trunc() 버림

# 결측치 처리(Map 활용하기)

In [28]:
# 데이터 호출
data=pd.read_csv("C:/users/SuperUser/Desktop/data/basic1.csv")

In [29]:
# 결측치 비율 확인하기
data.isnull().sum()/data.shape[0]

id      0.00
age     0.00
city    0.00
f1      0.31
f2      0.00
f3      0.95
f4      0.00
f5      0.00
dtype: float64

In [30]:
# 80 %이상인 f3 컬럼 삭제하기
data.drop('f3',axis=1)

       id    age city    f1  f2    f4         f5
0    id01    2.0   서울   NaN   0  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  INFP  52.667078
4    id05   24.0   서울  85.0   2  ISFJ  29.269869
..    ...    ...  ...   ...  ..   ...        ...
95   id96   92.0   경기  53.0   1  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  INFP  67.886373
97   id98   39.0   경기  58.0   2  INFP  98.429899
98   id99    1.0   경기  47.0   0  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  ESFP  33.308999

[100 rows x 7 columns]

In [31]:
# city 컬럼 데이터 확인하기(중복제거한 유일 값)
data['city'].unique()

array(['서울', '부산', '대구', '경기'], dtype=object)

In [32]:
# city별 'f1'중앙값구하기
s = data[data['city']=="서울"]['f1'].median()
b = data[data['city']=="부산"]['f1'].median()
d = data[data['city']=="대구"]['f1'].median()
k = data[data['city']=="경기"]['f1'].median()
s,b,d,k

(68.0, 62.0, 75.0, 58.0)

In [37]:
# city별 'f1'중앙값으로 결측치 대체하기
data['f1']=data['f1'].fillna(data['city'].map({"서울":s,"부산":b,"대구":d,"경기":k}))

In [38]:
print(data['f1'].mean())

65.52

1. 결측치 확인하기 - data.isnull().sum()
2. data.shape[0] - 전체 행의 개수 / data.shape[1] - 전체 열의 개수
3. data.drop(컬럼명, axis=1) - 데이터 삭제
 - axis=1 : 컬럼을 기준
 - axis=0 : 행을 기준
4. data['컬럼'].unique - 해당 컬럼의 유일 값 반환
5. map() 함수 : 해당 컬럼에 지정값 삽입

# 왜도 첨도 구하기

In [41]:
data=pd.read_csv("C:/Users/SuperUser/Desktop/data/train (1).csv")

In [42]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [43]:
# SalePrice 컬럼의 왜도 첨도 구하기
s = data['SalePrice'].skew()
k = data['SalePrice'].kurt()
s,k

(1.8828757597682129, 6.536281860064529)

In [44]:
# log1p 스케일링
data['SalePrice']=np.log1p(data['SalePrice'])

In [45]:
# 변환 이후 왜도 첨도 구하기
s1 = data['SalePrice'].skew()
k1 = data['SalePrice'].kurt()

In [46]:
print(np.round(s+s1+k+k1,2))

9.35

1. 왜도 - data['column'].skew()
2. 첨도 - data['column'].kurt()
3. 변수 변환 하는 법
 - np.log : 로그변환
 - np.exp : 지수변환
 - np.log1p : log(x+1) 값 변환

# 표준편차 구하기

In [47]:
data=pd.read_csv("C:/users/SuperUser/Desktop/data/basic1.csv")

In [48]:
# f4 컬럼 값이 enfj, infp인 f1의 표준편차 구하기
enfj = data[data['f4']=='ENFJ']['f1'].std()
infp = data[data['f4']=='INFP']['f1'].std()

enfj, infp

(17.727097901235837, 23.586719427112648)

In [49]:
# 두 표준편차의 차이 절댓값으로 구하기

print(np.abs(enfj-infp))

5.859621525876811

1. 표준편차 : data['column'].std() 해당 컬럼의 표준편차
2. 절댓값 : np.abs()

# 결측치 제거 및 GroupBy

In [1]:
# 필요한 라이브러리
import pandas as pd

In [2]:
data=pd.read_csv("basic1.csv") # 데이터 호출

FileNotFoundError: [Errno 2] No such file or directory: 'basic1.csv'

In [4]:
data=data.dropna(subset={'f1'}) # f1 컬럼 결측치 제거

In [5]:
tmp=data.groupby(['city','f2']).sum() # col1,col2를 합으로 groupby

In [8]:
tmp.iloc[0] #0번째 인덱스  값 출력

age    720.400000
f1     833.000000
f5     943.944823
Name: (경기, 0), dtype: float64

In [9]:
tmp.iloc[0]['f1']

833.0

1. df.dropna(): 결측치 제거
    - subset=[col1,col2] : 해당하는 column에서 결측치 제거
2. df.groupby().sum() : 조건에 해당하는 컬럼을 집계해서 group

# Replace 대체

In [12]:
data=pd.read_csv("basic1.csv") # 데이터호출

In [13]:
data[data['f4']=="ESFJ"] # 조건에 맞는 데이터 확인

      id   age city    f1  f2   f3    f4         f5
8   id09   3.3   서울  35.0   2  NaN  ESFJ  17.252986
12  id13  15.0   서울  68.0   0  NaN  ESFJ  83.685380
30  id31  86.0   부산  77.0   0  NaN  ESFJ  73.586397
58  id59  64.0   대구   NaN   1  NaN  ESFJ  20.129444
98  id99   1.0   경기  47.0   0  NaN  ESFJ  97.381034

In [16]:
data['f2']=data['f2'].replace('ESFJ','ISFJ') # 해당 컬럼의 'ESFJ'값을 'ISFJ'로 변경

In [17]:
data[(data['city']=="경기")&(data['f4']=='ISFJ')]['age'].max()

90.0

1. data.replace('a','b') : a를 b로 변경

# 결측치 채우기

In [18]:
data=pd.read_csv("basic1.csv") # 데이터 호출

In [19]:
tmp=data[data['f2']==1]['f1'].cumsum() # 누적합 구하기

In [20]:
tmp=tmp.fillna(method='bfill') # 결측치를 결측치 전의 값으로 대체

In [22]:
print(tmp.mean()) # 평균값 구하기

980.3783783783783

1. data.cumsum() : 누적합 계산
2. data.fillna(0) : 결측치를 0으로 대체
 - data.fillna(method 옵션) : ffill=> 앞에 값으로 대체, bfill=> 뒤에 값으로 대체

# 표준화하기 (StandardScaler)

In [27]:
from sklearn.preprocessing import StandardScaler # 필요한 라이브러리 호출

In [28]:
data=pd.read_csv("basic1.csv") # 데이터 호출

In [29]:
scale = StandardScaler() # 표준화하기 위한 함수 선언
data['f5']=scale.fit_transform(data[['f5']]) # 데이터 표준화 적용

In [30]:
data['f5'].median() # 중앙값 구하기

0.260619629559015

1. from sklearn.preprocessing import StandardScaler : 표준화 라이브러리 호출
2. 표준화 방법
  - scale = StandardScaler() : 표준화 위한 함수 선언
  - data=fit_transform(data) : 표준화 적용

# 여-존슨 및 박스콕스 변환(power_transform)

In [31]:
from sklearn.preprocessing import power_transform # 필요한 라이브러리 호출

In [33]:
data=pd.read_csv("basic1.csv") # 데이터 호출

In [34]:
tmp = data[data['age']>=20] # 조건에 맞는 데이터 추출

In [35]:
tmp['f1'] = tmp['f1'].fillna(tmp['f1'].mode()[0]) # 최빈값으로 해당 컬럼 결측치 대체

<ipython-input-35-c8a21da074b7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['f1'] = tmp['f1'].fillna(tmp['f1'].mode()[0]) # 최빈값으로 해당 컬럼 결측치 대체

In [37]:
tmp['f1'].mode() #최빈값 출력 값 형식

0    50.0
dtype: float64

In [40]:
tmp['y'] = power_transform(tmp[['f1']]) #method 선언 없을 시 default 값 : 여-존슨
tmp['y'].head()

<ipython-input-40-8f8ef477e5de>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['y'] = power_transform(tmp[['f1']]) #method 선언 없을 시 default 값 : 여-존슨

2    0.101083
3   -0.585402
4    1.463459
5   -0.143094
6    0.040578
Name: y, dtype: float64

In [41]:
tmp['y'] = power_transform(tmp[['f1']],standardize=False) # 여-존슨 변환
tmp['y'].head()

<ipython-input-41-bb7a9b9185dd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['y'] = power_transform(tmp[['f1']],standardize=False) # 여-존슨 변환

2    20.583423
3    17.968081
4    25.773745
5    19.653167
6    20.352915
Name: y, dtype: float64

In [45]:
tmp['x']=power_transform(tmp[['f1']],method='box-cox') #box-cox 선언
tmp['x'].head()

<ipython-input-45-ec97983ed71b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['x']=power_transform(tmp[['f1']],method='box-cox') #box-cox 선언

2    0.100290
3   -0.585656
4    1.463969
5   -0.143784
6    0.039801
Name: x, dtype: float64

In [46]:
tmp['x'] = power_transform(tmp[['f1']],method='box-cox',standardize=False) #
tmp['x'].head()

<ipython-input-46-0b62220e9680>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp['x'] = power_transform(tmp[['f1']],method='box-cox',standardize=False)

2    21.067090
3    18.305263
4    26.557680
5    20.084373
6    20.823545
Name: x, dtype: float64

In [47]:
round(sum(abs(tmp['y']-tmp['x'])),2)

39.17

1. data.mode() : 최빈값 계산 ※형식을 주의해서 볼것!
2. power_transform : 여-존슨 및 박스콕스
 - method 선언 없을 시 default는 여-존슨, method='box-cox'는 box-cox 변환

# 최대 최소 정규화 (MinMaxScale)

In [49]:
from sklearn.preprocessing import MinMaxScaler
import numpy

In [50]:
data=pd.read_csv("basic1.csv")

In [53]:
scale=MinMaxScaler()
data['f5']=scale.fit_transform(data[['f5']]) # MinMaxScale 적용

In [54]:
up = data['f5'].quantile(0.95) # 상위 5% 출력
down = data['f5'].quantile(0.05) #하위 5% 출력
print(up+down)

1.0248740983597389

1. from sklearn.preprocessing import MinMaxScaler
2. 정규화 방법
 - scale = MinMaxScaler() : MinMaxScaler 함수 선언
 - data=data.fit_transform(data) : MinMaxScale 데이터에 적용
3. data.quantile(0.95) = np.quantile(data,0.95) 둘이 같다

# 상관관계

In [55]:
data=pd.read_csv("winequality-red.csv") # 데이터 호출

In [56]:
corr=data.corr() # 상관관계 표시

In [58]:
max_q = abs(corr['quality'][:-1]).max() # 상관관계 높은 값
min_q = abs(corr['quality'][:-1]).min() # 상관관계 낮은 값
print(round(max_q+min_q,2))

0.49

1. data.corr() : 상관관계 구하기