# 10950

In [21]:
n = int(input())
for i in range(n):
    a,b = map(int,input().split())
    result = a+b
    print(result)

5
1 1
2 3
3 4
3 3
2 2
4

# 2739

In [28]:
n = int(input())
for i in range(1,10):
#     print(f'{n}*{i}={n*i}')
    print(n, '*', i, '=', n*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

# 5597

In [8]:
students = [i for i in range(1,31)]

for _ in range(28):
    applied = int(input())
    students.remove(applied) #소거

print(min(students))
print(max(students))

3
1
4
5
7
9
6
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
2
8

# 3052

In [21]:
arr = []
for i in range(10):
    n = int(input())
    arr.append(n % 42)
arr = set(arr)
print(len(arr))

1
2
3
4
5
6
7
8
9
10
10

# 1546

In [41]:
n = int(input())
sub = [int(input().split())]
m=max(sub)
print(m)

3
1 2 3

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

# 2738

In [48]:
A, B = [], []

N, M = map(int, input().split())

for row in range(N):
    row = list(map(int, input().split()))
    A.append(row)

for row in range(N):
    row = list(map(int, input().split()))
    B.append(row)
    
for row in range(N):
    for col in range(M):
        print(A[row][col] + B[row][col], end=' ')
    print()

3 3
1 1 1
2 2 2
0 1 0
3 3 3
4 4 4
5 5 100
4 4 4
6 6 6
5 6 100

# 10809

In [12]:
word = input()
alphabet = list(range(97,123))  # 아스키코드 숫자 범위

for x in alphabet :
    print(word.find(chr(x)))

apple
0
-1
-1
-1
4
-1
-1
-1
-1
-1
-1
3
-1
-1
-1
1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1

# 2675

In [11]:
t = int(input())
for i in range(t):
    num, s = input().split()
    text = ''
    for i in s:
        text += int(num) * i
    print(text)

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

# 1157

In [15]:
words = input().upper()
unique_words = list(set(words))  # 입력받은 문자열에서 중복값을 제거

cnt_list = []
for x in unique_words :
    cnt = words.count(x)
    cnt_list.append(cnt)  # count 숫자를 리스트에 append

if cnt_list.count(max(cnt_list)) > 1 :  # count 숫자 최대값이 중복되면
    print('?')
else :
    max_index = cnt_list.index(max(cnt_list))  # count 숫자 최대값 인덱스(위치)
    print(unique_words[max_index])

appppple
P

# 1152

In [24]:
a = list(input().split())
print(len(a))

the tiger is lion
4

# 2908

In [10]:
#내가 짠거


A,B = map(int,input().split())
A_lst = list(map(int,str(A)))
B_lst = list(map(int,str(B)))
for i in range(len(A_lst)-1,-1,-1):
    if A_lst[i]>B_lst[i]:
        tmp = ''.join(map(str,A_lst))
        print(int(str(tmp)[::-1]))
        break
    else:
        tmp = ''.join(map(str,B_lst))
        print(int(str(tmp)[::-1]))
        break

221 231
132

In [11]:
num1, num2 = input().split()
num1 = int(num1[::-1])  # [::-1] : 역순
num2 = int(num2[::-1])

if num1 > num2:
    print(num1)
else :
    print(num2)

221 231
132

# 1316

In [20]:
n = int(input())

group_word = 0
for _ in range(n):
    word = input()
    error = 0
    for index in range(len(word)-1):  # 인덱스 범위 생성 : 0부터 단어개수 -1까지 
        if word[index] != word[index+1]:  # 연달은 두 문자가 다른 때,
            new_word = word[index+1:]  # 현재글자 이후 문자열을 새로운 단어로 생성
            if new_word.count(word[index]) > 0:  # 남은 문자열에서 현재글자가 있있다면
                error += 1  # error에 1씩 증가.
    if error == 0:  
        group_word += 1  # error가 0이면 그룹단어
print(group_word)

3
happy
new
year
3

# 1712

In [3]:
# 내가 푼거

A,B,C = map(int,input().split())
cnt = 1
while True:
    if C*cnt <=  A+B*cnt:
        cnt+=1
    else:
        print(cnt)
        break

1000 70 170
11

In [4]:
# 정답

A, B, C = map(int, input().split())

if B>=C:
    print(-1)
else:
    print(int(A/(C-B)+1))

3 2 1
-1

# 2292

In [5]:
n = int(input())
cnt = 1
cnt_six = 6
count = 1
while n > cnt:
    count += 1
    cnt += cnt_six
    cnt_six += 6
print(count)

13
3

# 1193

In [7]:
X=int(input())

line=1
while X>line:
    X-=line
    line+=1
    
if line%2==0:
    a=X
    b=line-X+1
else:
    a=line-X+1
    b=X
print(a, '/', b, sep='')

3
2/1

# 2869

In [ ]:
# 내가 짠 코드

A,B,V = map(int,input().split())
result=0

while V>0:
    v-=A
    if 
    cnt+=1

    if result+A >=V:
        cnt+=1
        break

In [33]:
A, B, V = map(int, input().split())

day=1
while V>0:
    V-=A
    if V<=0:
        break
    V+=B
    day+=1

print(day)

2 1 5
4

In [34]:
import math
A, B, V = map(int, input().split())
print(math.ceil((V-A)/(A-B))+1)

2 1 5
4

# 10250

In [ ]:
# 내가 푼거
T = int(input())
for i in range(T):
    H,W,N=map(int,input().split())
    x = N//H+1
    y= N%H
    if x<10:     
        print(str(y)+"0"+str(x))
    else:
        print(str(y)+str(x))

# N이 H의 배수일 때 신경을 못씀

In [45]:
10//6

1

In [51]:
# 정식
t = int(input())

for i in range(t):
    h, w, n = map(int, input().split())
    num = n//h + 1
    floor = n % h
    if n % h == 0:  # h의 배수이면,
        num = n//h
        floor = h
    print(f'{floor*100+num}')

1
5 12 10
502

# 2775

In [55]:
t = int(input())
for _ in range(t):
    floor = int(input())
    num = int(input())
    f0 = [x for x in range(1,num+1)]
    for i in range(floor):
        for j in range(1,num):
            f0[j]+=f0[j-1]
    print(f0[-1])

2
1
3
6
2
3
10

# 2839

In [62]:
# 내가 푼거

N = int(input())
if (N%5)%3==0:
    a=N//5
    b=(N%5)//3
    print(a+b)
elif(N%3)%5==0:
    a=N//3
    b=(N%3)%5
    print(a+b)
else:
    print(-1)
    
# 11. 13 등 이 해결이 안됨

11
-1

In [65]:
# 정식

sugar = int(input())

bag = 0
while sugar >= 0 :
    if sugar % 5 == 0 :  # 5의 배수이면
        bag += (sugar // 5)  # 5로 나눈 몫을 구해야 정수가 됨
        print(bag)
        break
    sugar -= 3  
    bag += 1  # 5의 배수가 될 때까지 설탕-3, 봉지+1
else :
    print(-1)

11
3