# Ïú†ÌäúÎ∏å Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Data

In [2]:
import pandas as pd

# URL ÌòïÏãùÏúºÎ°ú Îç∞Ïù¥ÌÑ∞ Ìò∏Ï∂ú
dataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv'
data = pd.read_csv(dataUrl,index_col = 0)
data.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[Ïã†Î≥ë] Î¨ºÏûêÏ∞ΩÍ≥†,Ïû•ÏÇêÏ≠à,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ÎπÑ) - ÎÇòÎ°ú Î∞îÍæ∏Ïûê Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ÎÖÑ Ï†úÏïºÏùò Ï¢Ö Ïò®ÎùºÏù∏ ÌÉÄÏ¢ÖÌñâÏÇ¨ | Î≥¥Ïã†Í∞Å ÌòÑÏû• ÌñâÏÇ¨Îäî ÏßÑÌñâÌïòÏßÄ ÏïäÏäµÎãàÎã§.,ÏÑúÏö∏Ïãú ¬∑ Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,Í≥†Í∏∞ÎÇ®ÏûêÏùò Ïπ†Î©¥Ï°∞ ÌååÌã∞,Í≥†Í∏∞ÎÇ®Ïûê MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,Í≥®Î™© 3mcÎ•º Î∂ÑÎÖ∏ÌïòÍ≤å ÎßåÎì† ÎßàÏùåÍ≥†ÏÉùÏù¥ Ïã¨ÌñàÏùÑ Í≥µÎ¶â Î∞±Î∞òÏßë ÏÇ¨Ïû•ÎãòÏùò Ìë∏ÎÖê?! [ÏòàÎä•...,Ïä§Î∏åÏä§Î∞•Ïßë,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [13]:
# Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Ï†úÏûëÌöüÏàò ÎßéÏùÄ Ï±ÑÎÑê ÏÉÅÏúÑ 10Í∞ú Ï∂îÏ∂ú

data[data['channelId'].isin(data['channelId'].value_counts().head(10).index)].channelTitle.unique()

# dataÎÇ¥Ïóê channelId Í∞íÏù¥ ÏÉÅÏúÑ 10Í∞úÏùò id Í∞íÏóê ÏûàÎäî Í∞íÎßå Ï∂úÎ†•ÌõÑ, title Í∞íÏúºÎ°ú Ï∂úÎ†•

array(['Ïû•ÏÇêÏ≠à', 'Ï¥ùÎ™áÎ™Ö', 'ÌååÎøåÎ¶¨', 'Ïß§Ìà∞', 'Îü∞ÎãùÎß® - Ïä§Î∏åÏä§ Í≥µÏãù Ï±ÑÎÑê',
       'Ïó†ÎöúÎ£®ÎßàÎöúÎ£® : MBC Í≥µÏãù Ï¢ÖÌï© Ï±ÑÎÑê', 'SPOTV', 'Ï±ÑÎÑê Ïã≠Ïò§Ïïº', 'Ïù¥Í≥ºÏû•', 'BANGTANTV'],
      dtype=object)

In [17]:
# dislikeÏàòÍ∞Ä likes ÏàòÎ≥¥Îã§ ÎÜíÏùÄ ÎèôÏòÅÏÉÅ Ï∂úÎ†•

data[data['dislikes']>data['likes']]['channelTitle'].unique()

array(['Ìï´ÎèÑÍ∑∏TV', 'ASMR Ïï†Ï†ïTV', 'ÌïòÏñÄÌä∏Î¶¨HayanTree', 'ÏñëÌå° YangPang',
       'Ï≤†Íµ¨Ìòï (CHULTUBE)', 'ÏôúÎÉêÎß®ÌïòÏö∞Ïä§', '(MUTUBE)ÏôÄÍæ∏ÎåÄÏû•Î¥âÏ§Ä', 'Ïò§Î©îÌÇ¥TV', 'Ïú°ÏßÄÎã¥',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ÏÇ¨ÎÇòÏù¥ ÍπÄÍ∏∞Ìõà',
       'ÎÇòÌòºÏûêÏÇ∞Îã§ STUDIO', 'Gen.G esports'], dtype=object)

In [36]:
# Ï±ÑÎÑêÎ™ÖÏùÑ Î∞îÍæº ÏºÄÏù¥Ïä§ ( channelIdÎäî Í≥†Ïú†Í∞í)

data[['channelTitle','channelId']].duplicated().value_counts() # True 58556Í∞ú / False = 1843
chg = data[['channelTitle','channelId']].drop_duplicates().channelId.value_counts() 
print(len(chg[chg>1]))

71

In [45]:
# ÌäπÏ†ïÏöîÏùºÏóê Ïù∏Í∏∞ÏûàÎçò ÏòÅÏÉÅ Ïπ¥ÌÖåÍ≥†Î¶¨

data.loc[:,'days']=pd.to_datetime(data['trending_date2']).dt.day_name() # ÎÇ†ÏßúÌòïÏãùÏúºÎ°ú Î≥ÄÌôò ÌõÑ ÏöîÏùºÎ≥Ñ Ïù¥Î¶Ñ ÏÉùÏÑ±
data[data['days']=='Sunday']['categoryId'].value_counts().index[0] # ÏùºÏöîÏùºÏóê Ìï¥ÎãπÌïòÎäî categoryId Í∞í Ïπ¥Ïö¥Ìä∏ ÌõÑ Ìò∏Ï∂ú

24

In [55]:
# ÏöîÏùºÎ≥Ñ category Í∞úÏàò Ï∂úÎ†•

data.groupby(['categoryId','days']).size().unstack() # Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÌòïÏãùÏúºÎ°ú Ï∂úÎ†•

days        Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1              243     263       255     274       246      257        234
2              120     105       119      99       128      119        129
10             833     837       776     830       890      894        917
15             187     215       198     217       207      208        207
17             633     668       592     636       682      708        706
19              90      92        87      91        92       89         85
20             283     298       296     289       282      285        291
22            1288    1373      1289    1337      1341     1375       1333
23             568     594       570     556       560      569        566
24            2976    3148      3066    3096      2954     3084       3090
25             444     453       422     437       470      452        468
26             369     378       364     363       375      394        385
27             183     205       183     199       194      194        212
28             171     160       173     167       166      161        165
29              12      10        10       9        13       11         12

In [63]:
# viewcount ÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÜíÏùÄ ÏòÅÏÉÅ ÌôïÏù∏  (view_countÍ∞íÏù¥ 0ÏùÄ Ï†úÏô∏)

tmp = data[data['view_count']!=0] # view_count 0Í∞í Ï†úÏô∏
len(tmp[tmp['view_count']==0]) # result = 0

tmp.loc[:,'ratio'] = (tmp['comment_count']/tmp['view_count']).dropna() # viewcountÎåÄÎπÑ commennt_count ÎπÑÏú® Í∞íÏùÑ ÏÉàÎ°úÏö¥ Ïª¨Îüº ÏÉùÏÑ±
tmp.sort_values('ratio',ascending=False).iloc[0].title # ratio Í∞í Í∏∞Ï§ÄÏúºÎ°ú ÎÇ¥Î¶ºÏ∞®Ïàú Ï†ïÎ†¨ ÌõÑ Ï≤´Î≤àÏß∏ Í∞í title ÏÑ†ÌÉù

C:\Users\SuperUser\AppData\Local\Temp\ipykernel_8840\2992716606.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.loc[:,'ratio'] = (tmp['comment_count']/tmp['view_count']).dropna() # viewcountÎåÄÎπÑ commennt_count ÎπÑÏú® Í∞íÏùÑ ÏÉàÎ°úÏö¥ Ïª¨Îüº ÏÉùÏÑ±

'60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)'

In [68]:
# viewcount ÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÇÆÏùÄ ÏòÅÏÉÅ ÌôïÏù∏  (view_count,ratioÍ∞íÏù¥ 0ÏùÄ Ï†úÏô∏)
len(tmp[tmp['ratio']==0]) # result = 777
tmp = tmp[tmp['ratio']!=0] # 0 Í∞í Ï†úÍ±∞
len(tmp[tmp['ratio']==0]) # result = 0

tmp.sort_values('ratio',ascending=True).iloc[0].title # Í∞ÄÏû• ratioÍ∞íÏù¥ ÎÇÆÏùÄ title Ï∂úÎ†•

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [76]:
# like ÎåÄÎπÑ dislike ÏàòÍ∞Ä Í∞ÄÏûë Ï†ÅÏùÄ ÏòÅÏÉÅ(0 Í∞íÏùÄ Ï†úÏô∏)

len(data[(data['likes']==0)|(data['dislikes']==0)]) # result = 706
tmp = data[(data['likes']!=0)&(data['dislikes']!=0)] # 0Í∞í Ï†úÏô∏
len(tmp[(tmp['likes']==0)|(tmp['dislikes']==0)]) # result = 0

tmp.loc[:,'ratio'] = (tmp['dislikes']/tmp['likes']).dropna()
tmp.sort_values('ratio',ascending=True).iloc[0].title

C:\Users\SuperUser\AppData\Local\Temp\ipykernel_8840\2299923241.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.loc[:,'ratio'] = (tmp['dislikes']/tmp['likes']).dropna()

'[Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞ÄÎìùÌïú NCT 127 ÎèÑÏòÅ&Ï†ïÏö∞Ïùò Ï§åÌÑ∞Î∑∞'

In [92]:
# Í∞ÄÏû•ÎßéÏùÄ Ìä∏ÎûúÎìú ÏòÅÏÉÅ Ï†úÏûëÌïú Ï±ÑÎÑê Ïù¥Î¶Ñ

# data[data['channelId']=='UChbE5OZQ6dRHECsX0tEPEZQ']
data[['channelId','channelTitle']].value_counts().index[0][1]

'Ïß§Ìà∞'

In [98]:
# 20Ìöå Ïù¥ÏÉÅ Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Î¶¨Ïä§Ìä∏Ïóê Ìè¨Ìï®Îêú ÎèôÏòÅÏÉÅ

(data[['title','channelId']].value_counts()>=20).sum()

40

# Ïú†ÌäúÎ∏å Í≥µÎ≤îÏª®ÌÖêÏ∏† ÎèôÏòÅÏÉÅ Îç∞Ïù¥ÌÑ∞

In [215]:
import pandas as pd


channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ÍΩàÎöúÎ£π
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ÍΩàÎöúÎ£π
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ÍΩàÎöúÎ£π
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ÍΩàÎöúÎ£π
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ÍΩàÎöúÎ£π

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,Í≥µÎ≤î EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,Í≥µÎ≤î EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,Í≥µÎ≤î EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,Í≥µÎ≤î EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,Í≥µÎ≤î EP1

In [216]:
# ÎÇ†ÏßúÌÉÄÏûÖÏúºÎ°ú Î≥ÄÍ≤® ÌõÑ video Îç∞Ïù¥ÌÑ∞ÏóêÏÑú videonameÏùò Í∞Å value Í∞í ÌôïÏù∏

channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])

video['videoname'].value_counts()

 Í≥µÎ≤î EP1    3492
 Í≥µÎ≤î EP2    3204
 Í≥µÎ≤î EP3    2568
 Í≥µÎ≤î EP4    2280
 Í≥µÎ≤î EP5    1562
 Í≥µÎ≤î EP6    1274
 Í≥µÎ≤î EP7     555
 Í≥µÎ≤î EP8     266
Name: videoname, dtype: int64

In [217]:
# ÏàòÏßëÎêú Í∞Å videoÏùò Í∞ÄÏû• ÏµúÏã†Ìôî Îêú ÎÇ†ÏßúÏùò viewcount Í∞í Ï∂úÎ†•

tmp = video.drop_duplicates('videoname',keep='last')
tmp[['viewcnt','videoname','ct']].sort_values(['videoname','ct']).reset_index(drop=True)

   viewcnt videoname                  ct
0  3180532    Í≥µÎ≤î EP1 2021-11-01 15:30:03
1  2199328    Í≥µÎ≤î EP2 2021-11-01 15:30:03
2  1671294    Í≥µÎ≤î EP3 2021-11-01 15:30:03
3  1818493    Í≥µÎ≤î EP4 2021-11-01 15:30:03
4  1503435    Í≥µÎ≤î EP5 2021-11-01 15:30:04
5  1750222    Í≥µÎ≤î EP6 2021-11-01 15:30:04
6  1630200    Í≥µÎ≤î EP7 2021-11-01 15:30:05
7  1289088    Í≥µÎ≤î EP8 2021-11-01 15:30:05

In [218]:
# channel Îç∞Ïù¥ÌÑ∞ Ï§ë 2021-10-03Ïùº Ïù¥ÌõÑ Í∞Å Ï±ÑÎÑêÏùò Ï≤òÏùå Í∏∞Î°ù Îêú Íµ¨ÎèÖÏûê Ïàò Íµ¨ÌïòÍ∏∞

tmp = channel[channel['ct']>=pd.to_datetime('2021-10-03')].drop_duplicates('channelid',keep='first').sort_values(['ct','channelname']).reset_index(drop=True)
tmp[['channelname','subcnt']]

        channelname   subcnt
0            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞   922000
1             ÏïºÏ†ÑÏÇΩÏß±Ïû¨   257000
2        Ï∏ÑÏ†ïChuJeong   322000
3        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂     7520
4       Î¶¥ÌéÑ Lilpearl    10100
5   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle    55000
6               Ï°∞ÎÇòÎã®   215000
7           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§    14900
8     Balming Tiger    54300
9     Í≥ΩÌÜ†Î¶¨ kwak tori   471000
10              ÍΩàÎöúÎ£π  1330000

In [219]:
# Í∞Å Ï±ÑÎÑêÏùò 202-10-03 03:00:00~2021-11-01 15:00:00ÍπåÏßÄ Íµ¨ÎèÖÏûê Ïàò Ï¶ùÍ∞ÄÎüâ Íµ¨ÌïòÍ∏∞

end = channel[channel['ct'].dt.strftime('%Y-%m-%d %H')=='2021-11-01 15']
start = channel[channel['ct'].dt.strftime('%Y-%m-%d %H')=='2021-10-03 03']

end_data = end[['channelname','subcnt']].reset_index(drop=True)
start_data = start[['channelname','subcnt']].reset_index(drop=True)

end_data.columns = ['channelname','end_sub']
start_data.columns = ['channelname','start_sub']

m_data = pd.merge(start_data,end_data)
m_data.loc[:,'updown']  = m_data['end_sub']-m_data['start_sub']
m_data[['channelname','updown']]

        channelname  updown
0               ÍΩàÎöúÎ£π   70000
1             ÏïºÏ†ÑÏÇΩÏß±Ïû¨   11000
2        Ï∏ÑÏ†ïChuJeong    1000
3            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞  -11000
4   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle       0
5               Ï°∞ÎÇòÎã®   12000
6           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§   10300
7        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂    1540
8       Î¶¥ÌéÑ Lilpearl   11000
9     Í≥ΩÌÜ†Î¶¨ kwak tori   -2000
10    Balming Tiger    2500

In [220]:
# ÏàòÏßëÍ∞ÑÍ≤© 5Î∂ÑÏù¥Ìïò 20Î∂Ñ Ïù¥ÏÉÅÏù∏ Îç∞Ïù¥ÌÑ∞ Ï∂îÏ∂ú ( Ïôú Ïã§Ìå®??!!!)

tmp = video[video['videoname']==' Í≥µÎ≤î EP1'].sort_values('ct').reset_index(drop=True)
tmp[(tmp['ct'].diff(1)>=datetime.timedelta(minutes=20))|(tmp['ct'].diff(1)<=datetime.timedelta(minutes=5))]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,Í≥µÎ≤î EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,Í≥µÎ≤î EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,Í≥µÎ≤î EP1

In [221]:
# Í∞Å ÏóêÌîºÏÜåÎìú Î≥Ñ ÏãúÏûë ÎÇ†Ïßú Î∞è Ïù¥Î¶Ñ Î¨∂Ïñ¥ÏÑú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Ï∂úÎ†•

tmp = video[['videoname','ct']].sort_values(['ct','videoname']).drop_duplicates('videoname',keep='first').reset_index(drop=True) # Ï†ÑÏ≤òÎ¶¨ ÏàúÏÑú ÏßëÏ§ëÌïòÍ∏∞
tmp['date']=tmp['ct'].dt.date # dt.date = > 'YYYY-MM-DD' ÌòïÏãùÏúºÎ°ú Ï∂úÎ†•(Î¨∏ÏûêÏó¥)
tmp[['videoname','date']]

  videoname        date
0    Í≥µÎ≤î EP1  2021-10-07
1    Í≥µÎ≤î EP2  2021-10-09
2    Í≥µÎ≤î EP3  2021-10-14
3    Í≥µÎ≤î EP4  2021-10-16
4    Í≥µÎ≤î EP5  2021-10-21
5    Í≥µÎ≤î EP6  2021-10-23
6    Í≥µÎ≤î EP7  2021-10-28
7    Í≥µÎ≤î EP8  2021-10-30

In [222]:
#‚ÄúÍ≥µÎ≤î‚Äù Ïª®ÌÖêÏ∏†Ïùò Í≤ΩÏö∞ 19:00ÏãúÏóê Í≥µÍ∞ú ÎêòÎäîÍ≤ÉÏúºÎ°ú ÏïåÎ†§Ï†∏ÏûàÎã§. Í≥µÍ∞úÎêú ÎÇ†Ïùò 21ÏãúÏùò viewcnt, ct, videoname ÏúºÎ°ú Íµ¨ÏÑ±Îêú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ 
#viewcntÎ•º ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÏó¨ Ï∂úÎ†•

tmp = video[video['ct'].dt.hour==21].sort_values(['ct','videoname']).drop_duplicates('videoname',keep='first')
tmp[['videoname','viewcnt','ct']].sort_values('viewcnt',ascending=False).reset_index(drop=True)

  videoname  viewcnt                  ct
0    Í≥µÎ≤î EP8   264029 2021-10-30 21:00:08
1    Í≥µÎ≤î EP7   252032 2021-10-28 21:00:04
2    Í≥µÎ≤î EP4   217674 2021-10-16 21:00:04
3    Í≥µÎ≤î EP6   213899 2021-10-23 21:00:06
4    Í≥µÎ≤î EP5   201179 2021-10-21 21:00:04
5    Í≥µÎ≤î EP2   148144 2021-10-09 21:00:03
6    Í≥µÎ≤î EP3   147183 2021-10-14 21:00:04
7    Í≥µÎ≤î EP1   117340 2021-10-07 21:00:03

In [223]:
# video Ï†ïÎ≥¥Ïùò Í∞ÄÏû• ÏµúÍ∑º Îç∞Ïù¥ÌÑ∞Îì§ÏóêÏÑú Í∞Å ÏóêÌîºÏÜåÎìúÏùò Ïã´Ïñ¥Ïöî/Ï¢ãÏïÑÏöî ÎπÑÏú®ÏùÑ ratio Ïª¨ÎüºÏúºÎ°ú ÎßåÎì§Í≥† 
# videoname, ratioÎ°ú Íµ¨ÏÑ±Îêú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ ratioÎ•º Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨

tmp = video.sort_values(['ct','videoname'],ascending=False).drop_duplicates('videoname',keep='first')
tmp['ratio'] = (tmp['dislikecnt']/tmp['likecnt']).dropna()

tmp[['videoname','ratio']].sort_values('ratio',ascending=True).reset_index(drop=True)

  videoname     ratio
0    Í≥µÎ≤î EP7  0.013636
1    Í≥µÎ≤î EP6  0.015881
2    Í≥µÎ≤î EP4  0.017971
3    Í≥µÎ≤î EP5  0.021128
4    Í≥µÎ≤î EP3  0.022360
5    Í≥µÎ≤î EP1  0.027118
6    Í≥µÎ≤î EP2  0.029844
7    Í≥µÎ≤î EP8  0.141357

In [224]:
#2021-11-01 00:00:00 ~ 15:00:00ÍπåÏßÄ Í∞Å ÏóêÌîºÏÜåÎìúÎ≥Ñ viewcntÏùò Ï¶ùÍ∞ÄÎüâÏùÑ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ Ï∂úÎ†•
def check(x):
    result = max(x) - min(x)
    return result

tmp = video[(video['ct']>=pd.to_datetime('2021-11-01 00:00:00'))&(video['ct']<=pd.to_datetime('2021-11-01 15:00:00'))].reset_index(drop=True)
tmp[['videoname','viewcnt']].groupby('videoname').agg(check)

           viewcnt
videoname
 Í≥µÎ≤î EP1      13298
 Í≥µÎ≤î EP2      10300
 Í≥µÎ≤î EP3       9927
 Í≥µÎ≤î EP4       9824
 Í≥µÎ≤î EP5      10824
 Í≥µÎ≤î EP6      14141
 Í≥µÎ≤î EP7      26949
 Í≥µÎ≤î EP8      89147

In [228]:
# video Îç∞Ïù¥ÌÑ∞ Ï§ëÏóêÏÑú Ï§ëÎ≥µÎêòÎäî Îç∞Ïù¥ÌÑ∞Í∞Ä Ï°¥Ïû¨ÌïúÎã§. Ï§ëÎ≥µÎêòÎäî Í∞Å Îç∞Ïù¥ÌÑ∞Ïùò ÏãúÍ∞ÑÎåÄÏôÄ videoname Ï∂úÎ†•

tmp = video[(video.duplicated())==True]
tmp[['videoname','ct']]

     videoname                  ct
722     Í≥µÎ≤î EP1 2021-10-13 09:41:37
3927    Í≥µÎ≤î EP2 2021-10-13 09:41:37

# ÏõîÎìúÏªµ Ï∂úÏ†ÑÏÑ†Ïàò Í≥®Í∏∞Î°ù

In [321]:
data= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
data.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [322]:
# Ï£ºÏñ¥ÏßÑ Ï†ÑÏ≤¥ Í∏∞Í∞ÑÏùò Í∞Å ÎÇòÎùºÎ≥Ñ Í≥®ÎìùÏ†êÏàò ÏÉÅÏúÑ 5Í∞ú Íµ≠Í∞ÄÏôÄ ÎìùÏ†êÏàò Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÌòïÌÉú Ï∂úÎ†•

data.groupby('Country').sum().sort_values('Goals',ascending=False).iloc[:5]

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

In [323]:
# Ï£ºÏñ¥ÏßÑ Ï†ÑÏ≤¥Í∏∞Í∞ÑÎèôÏïà Í≥®ÎìùÏ†êÏùÑ Ìïú ÏÑ†ÏàòÍ∞Ä Í∞ÄÏû• ÎßéÏùÄ ÎÇòÎùº ÏÉÅÏúÑ 5Í∞ú Íµ≠Í∞ÄÏôÄ Í∑∏ ÏÑ†Ïàò Ïà´ÏûêÎ•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÌòïÏãùÏúºÎ°ú Ï∂úÎ†•ÌïòÎùº

tmp = data.groupby('Country')['Player'].size().sort_values(ascending=False).head(5).to_frame()
tmp.columns=['cnt']
tmp

           cnt
Country
Brazil      81
Germany     78
Italy       60
Argentina   59
France      58

In [324]:
# Years Ïª¨ÎüºÏùÄ ÎÖÑÎèÑ -ÎÖÑÎèÑ ÌòïÏãùÏúºÎ°ú Íµ¨ÏÑ±ÎêòÏñ¥ÏûàÍ≥†, Í∞Å ÎÖÑÎèÑÎäî 4ÏûêÎ¶¨ Ïà´ÏûêÏù¥Îã§. 
#ÎÖÑÎèÑ ÌëúÍ∏∞Í∞Ä 4ÏûêÎ¶¨ Ïà´ÏûêÎ°ú ÏïàÎêú ÏºÄÏù¥Ïä§Í∞Ä Ï°¥Ïû¨ÌïúÎã§. Ìï¥Îãπ Í±¥ÏùÄ Î™áÍ±¥Ïù∏ÏßÄ Ï∂úÎ†•ÌïòÎùº
cnt=0
for i in range(len(data['Years'].str.split('-'))):
    for j in range(len(data['Years'].str.split('-')[i])):
        if len(data['Years'].str.split('-')[i][j]) !=4:
            cnt+=1
print(cnt)

45

In [335]:
# Q23ÏóêÏÑú Î∞úÏÉùÌïú ÏòàÏô∏ ÏºÄÏù¥Ïä§Î•º Ï†úÏô∏Ìïú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ df2ÎùºÍ≥† Ï†ïÏùòÌïòÍ≥† Îç∞Ïù¥ÌÑ∞Ïùò ÌñâÏùò Ïà´ÏûêÎ•º Ï∂úÎ†•

data['yearLst'] = data.Years.str.split('-')

def checkFour(x):
    for value in x:
        if len(str(value)) != 4:
            return False
        
    return True
    
df2 = data[data.check ==True].reset_index(drop=True)
print(df2.shape[0])

1250

In [350]:
df2

,Player,Goals,Years,Country,check,yearLst,LenCup
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,True,"[2002, 2006, 2010, 2014]",4
1,Ronaldo,15,1998-2002-2006,Brazil,True,"[1998, 2002, 2006]",3
2,Gerd Muller,14,1970-1974,Germany,True,"[1970, 1974]",2
3,Just Fontaine,13,1958,France,True,[1958],1
4,Pele,12,1958-1962-1966-1970,Brazil,True,"[1958, 1962, 1966, 1970]",4
...,...,...,...,...,...,...,...
1245,Josip Skoblar,1,1962,Yugoslavia,True,[1962],1
1246,Safet Susic,1,1982-1990,Yugoslavia,True,"[1982, 1990]",2
1247,Aleksandar Tirnanic,1,1930,Yugoslavia,True,[1930],1
1248,Djordje Vujadinovic,1,1930,Yugoslavia,True,[1930],1
1249,Branko Zebec,1,1954-1958,Yugoslavia,True,"[1954, 1958]",2

In [342]:
# ÏõîÎìúÏªµ Ï∂úÏ†ÑÌöüÏàòÎ•º ÎÇòÌÉÄÎÇ¥Îäî ‚ÄòLenCup‚Äô Ïª¨ÎüºÏùÑ Ï∂îÍ∞ÄÌïòÍ≥† 4Ìöå Ï∂úÏ†ÑÌïú ÏÑ†ÏàòÏùò Ïà´ÏûêÎ•º Íµ¨ÌïòÏó¨Îùº

df2['LenCup']=df2['yearLst'].str.len()
result = df2['LenCup'].value_counts()[4]
result

16

In [355]:
# Yugoslavia Íµ≠Í∞ÄÏùò ÏõîÎìúÏªµ Ï∂úÏ†ÑÌöüÏàòÍ∞Ä 2ÌöåÏù∏ ÏÑ†ÏàòÎì§Ïùò Ïà´ÏûêÎ•º Íµ¨ÌïòÏó¨Îùº
len(df2[(df2['Country']=='Yugoslavia')&(df2['LenCup']==2)])

7

In [363]:
#2002ÎÖÑÎèÑÏóê Ï∂úÏ†ÑÌïú Ï†ÑÏ≤¥ ÏÑ†ÏàòÎäî Î™áÎ™ÖÏù∏Í∞Ä?

len(df2[df2['Years'].str.contains('2002')])

156

In [373]:
# Ïù¥Î¶ÑÏóê ‚Äòcarlos‚Äô Îã®Ïñ¥Í∞Ä Îì§Ïñ¥Í∞ÄÎäî ÏÑ†ÏàòÏùò Ïà´ÏûêÎäî Î™á Î™ÖÏù∏Í∞Ä? (ÎåÄ, ÏÜåÎ¨∏Ïûê Íµ¨Î∂Ñ x)

len(df2[df2['Player'].str.lower().str.contains('carlos')])

13

In [379]:
#ÏõîÎìúÏªµ Ï∂úÏ†Ñ ÌöüÏàòÍ∞Ä 1ÌöåÎøêÏù∏ ÏÑ†ÏàòÎì§ Ï§ëÏóêÏÑú Í∞ÄÏû• ÎßéÏùÄ ÎìùÏ†êÏùÑ Ïò¨Î†∏Îçò ÏÑ†ÏàòÎäî ÎàÑÍµ¨Ïù∏Í∞Ä?

df2[['Player','Goals']][df2['LenCup']==1].iloc[0].Player

'Just Fontaine'

In [385]:
#ÏõîÎìúÏªµ Ï∂úÏ†ÑÌöüÏàòÍ∞Ä 1Ìöå ÎøêÏù∏ ÏÑ†ÏàòÎì§Ïù¥ Í∞ÄÏû• ÎßéÏùÄ Íµ≠Í∞ÄÎäî Ïñ¥ÎîîÏù∏Í∞Ä?

df2[df2['LenCup']==1]['Country'].value_counts().index[0]

'Brazil'