# Ïú†ÌäúÎ∏å Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Data

In [2]:
import pandas as pd

# URL ÌòïÏãùÏúºÎ°ú Îç∞Ïù¥ÌÑ∞ Ìò∏Ï∂ú
dataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv'
data = pd.read_csv(dataUrl,index_col = 0)
data.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[Ïã†Î≥ë] Î¨ºÏûêÏ∞ΩÍ≥†,Ïû•ÏÇêÏ≠à,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ÎπÑ) - ÎÇòÎ°ú Î∞îÍæ∏Ïûê Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ÎÖÑ Ï†úÏïºÏùò Ï¢Ö Ïò®ÎùºÏù∏ ÌÉÄÏ¢ÖÌñâÏÇ¨ | Î≥¥Ïã†Í∞Å ÌòÑÏû• ÌñâÏÇ¨Îäî ÏßÑÌñâÌïòÏßÄ ÏïäÏäµÎãàÎã§.,ÏÑúÏö∏Ïãú ¬∑ Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,Í≥†Í∏∞ÎÇ®ÏûêÏùò Ïπ†Î©¥Ï°∞ ÌååÌã∞,Í≥†Í∏∞ÎÇ®Ïûê MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,Í≥®Î™© 3mcÎ•º Î∂ÑÎÖ∏ÌïòÍ≤å ÎßåÎì† ÎßàÏùåÍ≥†ÏÉùÏù¥ Ïã¨ÌñàÏùÑ Í≥µÎ¶â Î∞±Î∞òÏßë ÏÇ¨Ïû•ÎãòÏùò Ìë∏ÎÖê?! [ÏòàÎä•...,Ïä§Î∏åÏä§Î∞•Ïßë,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [13]:
# Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Ï†úÏûëÌöüÏàò ÎßéÏùÄ Ï±ÑÎÑê ÏÉÅÏúÑ 10Í∞ú Ï∂îÏ∂ú

data[data['channelId'].isin(data['channelId'].value_counts().head(10).index)].channelTitle.unique()

# dataÎÇ¥Ïóê channelId Í∞íÏù¥ ÏÉÅÏúÑ 10Í∞úÏùò id Í∞íÏóê ÏûàÎäî Í∞íÎßå Ï∂úÎ†•ÌõÑ, title Í∞íÏúºÎ°ú Ï∂úÎ†•

array(['Ïû•ÏÇêÏ≠à', 'Ï¥ùÎ™áÎ™Ö', 'ÌååÎøåÎ¶¨', 'Ïß§Ìà∞', 'Îü∞ÎãùÎß® - Ïä§Î∏åÏä§ Í≥µÏãù Ï±ÑÎÑê',
       'Ïó†ÎöúÎ£®ÎßàÎöúÎ£® : MBC Í≥µÏãù Ï¢ÖÌï© Ï±ÑÎÑê', 'SPOTV', 'Ï±ÑÎÑê Ïã≠Ïò§Ïïº', 'Ïù¥Í≥ºÏû•', 'BANGTANTV'],
      dtype=object)

In [17]:
# dislikeÏàòÍ∞Ä likes ÏàòÎ≥¥Îã§ ÎÜíÏùÄ ÎèôÏòÅÏÉÅ Ï∂úÎ†•

data[data['dislikes']>data['likes']]['channelTitle'].unique()

array(['Ìï´ÎèÑÍ∑∏TV', 'ASMR Ïï†Ï†ïTV', 'ÌïòÏñÄÌä∏Î¶¨HayanTree', 'ÏñëÌå° YangPang',
       'Ï≤†Íµ¨Ìòï (CHULTUBE)', 'ÏôúÎÉêÎß®ÌïòÏö∞Ïä§', '(MUTUBE)ÏôÄÍæ∏ÎåÄÏû•Î¥âÏ§Ä', 'Ïò§Î©îÌÇ¥TV', 'Ïú°ÏßÄÎã¥',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ÏÇ¨ÎÇòÏù¥ ÍπÄÍ∏∞Ìõà',
       'ÎÇòÌòºÏûêÏÇ∞Îã§ STUDIO', 'Gen.G esports'], dtype=object)

In [36]:
# Ï±ÑÎÑêÎ™ÖÏùÑ Î∞îÍæº ÏºÄÏù¥Ïä§ ( channelIdÎäî Í≥†Ïú†Í∞í)

data[['channelTitle','channelId']].duplicated().value_counts() # True 58556Í∞ú / False = 1843
chg = data[['channelTitle','channelId']].drop_duplicates().channelId.value_counts() 
print(len(chg[chg>1]))

71

In [45]:
# ÌäπÏ†ïÏöîÏùºÏóê Ïù∏Í∏∞ÏûàÎçò ÏòÅÏÉÅ Ïπ¥ÌÖåÍ≥†Î¶¨

data.loc[:,'days']=pd.to_datetime(data['trending_date2']).dt.day_name() # ÎÇ†ÏßúÌòïÏãùÏúºÎ°ú Î≥ÄÌôò ÌõÑ ÏöîÏùºÎ≥Ñ Ïù¥Î¶Ñ ÏÉùÏÑ±
data[data['days']=='Sunday']['categoryId'].value_counts().index[0] # ÏùºÏöîÏùºÏóê Ìï¥ÎãπÌïòÎäî categoryId Í∞í Ïπ¥Ïö¥Ìä∏ ÌõÑ Ìò∏Ï∂ú

24

In [55]:
# ÏöîÏùºÎ≥Ñ category Í∞úÏàò Ï∂úÎ†•

data.groupby(['categoryId','days']).size().unstack() # Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÌòïÏãùÏúºÎ°ú Ï∂úÎ†•

days        Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1              243     263       255     274       246      257        234
2              120     105       119      99       128      119        129
10             833     837       776     830       890      894        917
15             187     215       198     217       207      208        207
17             633     668       592     636       682      708        706
19              90      92        87      91        92       89         85
20             283     298       296     289       282      285        291
22            1288    1373      1289    1337      1341     1375       1333
23             568     594       570     556       560      569        566
24            2976    3148      3066    3096      2954     3084       3090
25             444     453       422     437       470      452        468
26             369     378       364     363       375      394        385
27             183     205       183     199       194      194        212
28             171     160       173     167       166      161        165
29              12      10        10       9        13       11         12

In [63]:
# viewcount ÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÜíÏùÄ ÏòÅÏÉÅ ÌôïÏù∏  (view_countÍ∞íÏù¥ 0ÏùÄ Ï†úÏô∏)

tmp = data[data['view_count']!=0] # view_count 0Í∞í Ï†úÏô∏
len(tmp[tmp['view_count']==0]) # result = 0

tmp.loc[:,'ratio'] = (tmp['comment_count']/tmp['view_count']).dropna() # viewcountÎåÄÎπÑ commennt_count ÎπÑÏú® Í∞íÏùÑ ÏÉàÎ°úÏö¥ Ïª¨Îüº ÏÉùÏÑ±
tmp.sort_values('ratio',ascending=False).iloc[0].title # ratio Í∞í Í∏∞Ï§ÄÏúºÎ°ú ÎÇ¥Î¶ºÏ∞®Ïàú Ï†ïÎ†¨ ÌõÑ Ï≤´Î≤àÏß∏ Í∞í title ÏÑ†ÌÉù

C:\Users\SuperUser\AppData\Local\Temp\ipykernel_8840\2992716606.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.loc[:,'ratio'] = (tmp['comment_count']/tmp['view_count']).dropna() # viewcountÎåÄÎπÑ commennt_count ÎπÑÏú® Í∞íÏùÑ ÏÉàÎ°úÏö¥ Ïª¨Îüº ÏÉùÏÑ±

'60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)'

In [68]:
# viewcount ÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÇÆÏùÄ ÏòÅÏÉÅ ÌôïÏù∏  (view_count,ratioÍ∞íÏù¥ 0ÏùÄ Ï†úÏô∏)
len(tmp[tmp['ratio']==0]) # result = 777
tmp = tmp[tmp['ratio']!=0] # 0 Í∞í Ï†úÍ±∞
len(tmp[tmp['ratio']==0]) # result = 0

tmp.sort_values('ratio',ascending=True).iloc[0].title # Í∞ÄÏû• ratioÍ∞íÏù¥ ÎÇÆÏùÄ title Ï∂úÎ†•

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [76]:
# like ÎåÄÎπÑ dislike ÏàòÍ∞Ä Í∞ÄÏûë Ï†ÅÏùÄ ÏòÅÏÉÅ(0 Í∞íÏùÄ Ï†úÏô∏)

len(data[(data['likes']==0)|(data['dislikes']==0)]) # result = 706
tmp = data[(data['likes']!=0)&(data['dislikes']!=0)] # 0Í∞í Ï†úÏô∏
len(tmp[(tmp['likes']==0)|(tmp['dislikes']==0)]) # result = 0

tmp.loc[:,'ratio'] = (tmp['dislikes']/tmp['likes']).dropna()
tmp.sort_values('ratio',ascending=True).iloc[0].title

C:\Users\SuperUser\AppData\Local\Temp\ipykernel_8840\2299923241.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.loc[:,'ratio'] = (tmp['dislikes']/tmp['likes']).dropna()

'[Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞ÄÎìùÌïú NCT 127 ÎèÑÏòÅ&Ï†ïÏö∞Ïùò Ï§åÌÑ∞Î∑∞'

In [92]:
# Í∞ÄÏû•ÎßéÏùÄ Ìä∏ÎûúÎìú ÏòÅÏÉÅ Ï†úÏûëÌïú Ï±ÑÎÑê Ïù¥Î¶Ñ

# data[data['channelId']=='UChbE5OZQ6dRHECsX0tEPEZQ']
data[['channelId','channelTitle']].value_counts().index[0][1]

'Ïß§Ìà∞'

In [98]:
# 20Ìöå Ïù¥ÏÉÅ Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Î¶¨Ïä§Ìä∏Ïóê Ìè¨Ìï®Îêú ÎèôÏòÅÏÉÅ

(data[['title','channelId']].value_counts()>=20).sum()

40

# Ïú†ÌäúÎ∏å Í≥µÎ≤îÏª®ÌÖêÏ∏† ÎèôÏòÅÏÉÅ Îç∞Ïù¥ÌÑ∞

In [215]:
import pandas as pd


channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ÍΩàÎöúÎ£π
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ÍΩàÎöúÎ£π
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ÍΩàÎöúÎ£π
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ÍΩàÎöúÎ£π
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ÍΩàÎöúÎ£π

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,Í≥µÎ≤î EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,Í≥µÎ≤î EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,Í≥µÎ≤î EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,Í≥µÎ≤î EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,Í≥µÎ≤î EP1

In [216]:
# ÎÇ†ÏßúÌÉÄÏûÖÏúºÎ°ú Î≥ÄÍ≤® ÌõÑ video Îç∞Ïù¥ÌÑ∞ÏóêÏÑú videonameÏùò Í∞Å value Í∞í ÌôïÏù∏

channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])

video['videoname'].value_counts()

 Í≥µÎ≤î EP1    3492
 Í≥µÎ≤î EP2    3204
 Í≥µÎ≤î EP3    2568
 Í≥µÎ≤î EP4    2280
 Í≥µÎ≤î EP5    1562
 Í≥µÎ≤î EP6    1274
 Í≥µÎ≤î EP7     555
 Í≥µÎ≤î EP8     266
Name: videoname, dtype: int64

In [217]:
# ÏàòÏßëÎêú Í∞Å videoÏùò Í∞ÄÏû• ÏµúÏã†Ìôî Îêú ÎÇ†ÏßúÏùò viewcount Í∞í Ï∂úÎ†•

tmp = video.drop_duplicates('videoname',keep='last')
tmp[['viewcnt','videoname','ct']].sort_values(['videoname','ct']).reset_index(drop=True)

   viewcnt videoname                  ct
0  3180532    Í≥µÎ≤î EP1 2021-11-01 15:30:03
1  2199328    Í≥µÎ≤î EP2 2021-11-01 15:30:03
2  1671294    Í≥µÎ≤î EP3 2021-11-01 15:30:03
3  1818493    Í≥µÎ≤î EP4 2021-11-01 15:30:03
4  1503435    Í≥µÎ≤î EP5 2021-11-01 15:30:04
5  1750222    Í≥µÎ≤î EP6 2021-11-01 15:30:04
6  1630200    Í≥µÎ≤î EP7 2021-11-01 15:30:05
7  1289088    Í≥µÎ≤î EP8 2021-11-01 15:30:05

In [218]:
# channel Îç∞Ïù¥ÌÑ∞ Ï§ë 2021-10-03Ïùº Ïù¥ÌõÑ Í∞Å Ï±ÑÎÑêÏùò Ï≤òÏùå Í∏∞Î°ù Îêú Íµ¨ÎèÖÏûê Ïàò Íµ¨ÌïòÍ∏∞

tmp = channel[channel['ct']>=pd.to_datetime('2021-10-03')].drop_duplicates('channelid',keep='first').sort_values(['ct','channelname']).reset_index(drop=True)
tmp[['channelname','subcnt']]

        channelname   subcnt
0            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞   922000
1             ÏïºÏ†ÑÏÇΩÏß±Ïû¨   257000
2        Ï∏ÑÏ†ïChuJeong   322000
3        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂     7520
4       Î¶¥ÌéÑ Lilpearl    10100
5   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle    55000
6               Ï°∞ÎÇòÎã®   215000
7           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§    14900
8     Balming Tiger    54300
9     Í≥ΩÌÜ†Î¶¨ kwak tori   471000
10              ÍΩàÎöúÎ£π  1330000

In [219]:
# Í∞Å Ï±ÑÎÑêÏùò 202-10-03 03:00:00~2021-11-01 15:00:00ÍπåÏßÄ Íµ¨ÎèÖÏûê Ïàò Ï¶ùÍ∞ÄÎüâ Íµ¨ÌïòÍ∏∞

end = channel[channel['ct'].dt.strftime('%Y-%m-%d %H')=='2021-11-01 15']
start = channel[channel['ct'].dt.strftime('%Y-%m-%d %H')=='2021-10-03 03']

end_data = end[['channelname','subcnt']].reset_index(drop=True)
start_data = start[['channelname','subcnt']].reset_index(drop=True)

end_data.columns = ['channelname','end_sub']
start_data.columns = ['channelname','start_sub']

m_data = pd.merge(start_data,end_data)
m_data.loc[:,'updown']  = m_data['end_sub']-m_data['start_sub']
m_data[['channelname','updown']]

        channelname  updown
0               ÍΩàÎöúÎ£π   70000
1             ÏïºÏ†ÑÏÇΩÏß±Ïû¨   11000
2        Ï∏ÑÏ†ïChuJeong    1000
3            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞  -11000
4   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle       0
5               Ï°∞ÎÇòÎã®   12000
6           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§   10300
7        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂    1540
8       Î¶¥ÌéÑ Lilpearl   11000
9     Í≥ΩÌÜ†Î¶¨ kwak tori   -2000
10    Balming Tiger    2500

In [220]:
# ÏàòÏßëÍ∞ÑÍ≤© 5Î∂ÑÏù¥Ìïò 20Î∂Ñ Ïù¥ÏÉÅÏù∏ Îç∞Ïù¥ÌÑ∞ Ï∂îÏ∂ú ( Ïôú Ïã§Ìå®??!!!)

tmp = video[video['videoname']==' Í≥µÎ≤î EP1'].sort_values('ct').reset_index(drop=True)
tmp[(tmp['ct'].diff(1)>=datetime.timedelta(minutes=20))|(tmp['ct'].diff(1)<=datetime.timedelta(minutes=5))]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,Í≥µÎ≤î EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,Í≥µÎ≤î EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,Í≥µÎ≤î EP1

In [221]:
# Í∞Å ÏóêÌîºÏÜåÎìú Î≥Ñ ÏãúÏûë ÎÇ†Ïßú Î∞è Ïù¥Î¶Ñ Î¨∂Ïñ¥ÏÑú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Ï∂úÎ†•

tmp = video[['videoname','ct']].sort_values(['ct','videoname']).drop_duplicates('videoname',keep='first').reset_index(drop=True) # Ï†ÑÏ≤òÎ¶¨ ÏàúÏÑú ÏßëÏ§ëÌïòÍ∏∞
tmp['date']=tmp['ct'].dt.date # dt.date = > 'YYYY-MM-DD' ÌòïÏãùÏúºÎ°ú Ï∂úÎ†•(Î¨∏ÏûêÏó¥)
tmp[['videoname','date']]

  videoname        date
0    Í≥µÎ≤î EP1  2021-10-07
1    Í≥µÎ≤î EP2  2021-10-09
2    Í≥µÎ≤î EP3  2021-10-14
3    Í≥µÎ≤î EP4  2021-10-16
4    Í≥µÎ≤î EP5  2021-10-21
5    Í≥µÎ≤î EP6  2021-10-23
6    Í≥µÎ≤î EP7  2021-10-28
7    Í≥µÎ≤î EP8  2021-10-30

In [222]:
#‚ÄúÍ≥µÎ≤î‚Äù Ïª®ÌÖêÏ∏†Ïùò Í≤ΩÏö∞ 19:00ÏãúÏóê Í≥µÍ∞ú ÎêòÎäîÍ≤ÉÏúºÎ°ú ÏïåÎ†§Ï†∏ÏûàÎã§. Í≥µÍ∞úÎêú ÎÇ†Ïùò 21ÏãúÏùò viewcnt, ct, videoname ÏúºÎ°ú Íµ¨ÏÑ±Îêú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ 
#viewcntÎ•º ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÏó¨ Ï∂úÎ†•

tmp = video[video['ct'].dt.hour==21].sort_values(['ct','videoname']).drop_duplicates('videoname',keep='first')
tmp[['videoname','viewcnt','ct']].sort_values('viewcnt',ascending=False).reset_index(drop=True)

  videoname  viewcnt                  ct
0    Í≥µÎ≤î EP8   264029 2021-10-30 21:00:08
1    Í≥µÎ≤î EP7   252032 2021-10-28 21:00:04
2    Í≥µÎ≤î EP4   217674 2021-10-16 21:00:04
3    Í≥µÎ≤î EP6   213899 2021-10-23 21:00:06
4    Í≥µÎ≤î EP5   201179 2021-10-21 21:00:04
5    Í≥µÎ≤î EP2   148144 2021-10-09 21:00:03
6    Í≥µÎ≤î EP3   147183 2021-10-14 21:00:04
7    Í≥µÎ≤î EP1   117340 2021-10-07 21:00:03

In [223]:
# video Ï†ïÎ≥¥Ïùò Í∞ÄÏû• ÏµúÍ∑º Îç∞Ïù¥ÌÑ∞Îì§ÏóêÏÑú Í∞Å ÏóêÌîºÏÜåÎìúÏùò Ïã´Ïñ¥Ïöî/Ï¢ãÏïÑÏöî ÎπÑÏú®ÏùÑ ratio Ïª¨ÎüºÏúºÎ°ú ÎßåÎì§Í≥† 
# videoname, ratioÎ°ú Íµ¨ÏÑ±Îêú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ ratioÎ•º Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨

tmp = video.sort_values(['ct','videoname'],ascending=False).drop_duplicates('videoname',keep='first')
tmp['ratio'] = (tmp['dislikecnt']/tmp['likecnt']).dropna()

tmp[['videoname','ratio']].sort_values('ratio',ascending=True).reset_index(drop=True)

  videoname     ratio
0    Í≥µÎ≤î EP7  0.013636
1    Í≥µÎ≤î EP6  0.015881
2    Í≥µÎ≤î EP4  0.017971
3    Í≥µÎ≤î EP5  0.021128
4    Í≥µÎ≤î EP3  0.022360
5    Í≥µÎ≤î EP1  0.027118
6    Í≥µÎ≤î EP2  0.029844
7    Í≥µÎ≤î EP8  0.141357

In [224]:
#2021-11-01 00:00:00 ~ 15:00:00ÍπåÏßÄ Í∞Å ÏóêÌîºÏÜåÎìúÎ≥Ñ viewcntÏùò Ï¶ùÍ∞ÄÎüâÏùÑ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ Ï∂úÎ†•
def check(x):
    result = max(x) - min(x)
    return result

tmp = video[(video['ct']>=pd.to_datetime('2021-11-01 00:00:00'))&(video['ct']<=pd.to_datetime('2021-11-01 15:00:00'))].reset_index(drop=True)
tmp[['videoname','viewcnt']].groupby('videoname').agg(check)

           viewcnt
videoname
 Í≥µÎ≤î EP1      13298
 Í≥µÎ≤î EP2      10300
 Í≥µÎ≤î EP3       9927
 Í≥µÎ≤î EP4       9824
 Í≥µÎ≤î EP5      10824
 Í≥µÎ≤î EP6      14141
 Í≥µÎ≤î EP7      26949
 Í≥µÎ≤î EP8      89147

In [228]:
# video Îç∞Ïù¥ÌÑ∞ Ï§ëÏóêÏÑú Ï§ëÎ≥µÎêòÎäî Îç∞Ïù¥ÌÑ∞Í∞Ä Ï°¥Ïû¨ÌïúÎã§. Ï§ëÎ≥µÎêòÎäî Í∞Å Îç∞Ïù¥ÌÑ∞Ïùò ÏãúÍ∞ÑÎåÄÏôÄ videoname Ï∂úÎ†•

tmp = video[(video.duplicated())==True]
tmp[['videoname','ct']]

     videoname                  ct
722     Í≥µÎ≤î EP1 2021-10-13 09:41:37
3927    Í≥µÎ≤î EP2 2021-10-13 09:41:37

# ÏõîÎìúÏªµ Ï∂úÏ†ÑÏÑ†Ïàò Í≥®Í∏∞Î°ù

In [321]:
data= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
data.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [322]:
# Ï£ºÏñ¥ÏßÑ Ï†ÑÏ≤¥ Í∏∞Í∞ÑÏùò Í∞Å ÎÇòÎùºÎ≥Ñ Í≥®ÎìùÏ†êÏàò ÏÉÅÏúÑ 5Í∞ú Íµ≠Í∞ÄÏôÄ ÎìùÏ†êÏàò Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÌòïÌÉú Ï∂úÎ†•

data.groupby('Country').sum().sort_values('Goals',ascending=False).iloc[:5]

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

In [323]:
# Ï£ºÏñ¥ÏßÑ Ï†ÑÏ≤¥Í∏∞Í∞ÑÎèôÏïà Í≥®ÎìùÏ†êÏùÑ Ìïú ÏÑ†ÏàòÍ∞Ä Í∞ÄÏû• ÎßéÏùÄ ÎÇòÎùº ÏÉÅÏúÑ 5Í∞ú Íµ≠Í∞ÄÏôÄ Í∑∏ ÏÑ†Ïàò Ïà´ÏûêÎ•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÌòïÏãùÏúºÎ°ú Ï∂úÎ†•ÌïòÎùº

tmp = data.groupby('Country')['Player'].size().sort_values(ascending=False).head(5).to_frame()
tmp.columns=['cnt']
tmp

           cnt
Country
Brazil      81
Germany     78
Italy       60
Argentina   59
France      58

In [324]:
# Years Ïª¨ÎüºÏùÄ ÎÖÑÎèÑ -ÎÖÑÎèÑ ÌòïÏãùÏúºÎ°ú Íµ¨ÏÑ±ÎêòÏñ¥ÏûàÍ≥†, Í∞Å ÎÖÑÎèÑÎäî 4ÏûêÎ¶¨ Ïà´ÏûêÏù¥Îã§. 
#ÎÖÑÎèÑ ÌëúÍ∏∞Í∞Ä 4ÏûêÎ¶¨ Ïà´ÏûêÎ°ú ÏïàÎêú ÏºÄÏù¥Ïä§Í∞Ä Ï°¥Ïû¨ÌïúÎã§. Ìï¥Îãπ Í±¥ÏùÄ Î™áÍ±¥Ïù∏ÏßÄ Ï∂úÎ†•ÌïòÎùº
cnt=0
for i in range(len(data['Years'].str.split('-'))):
    for j in range(len(data['Years'].str.split('-')[i])):
        if len(data['Years'].str.split('-')[i][j]) !=4:
            cnt+=1
print(cnt)

45

In [335]:
# Q23ÏóêÏÑú Î∞úÏÉùÌïú ÏòàÏô∏ ÏºÄÏù¥Ïä§Î•º Ï†úÏô∏Ìïú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ df2ÎùºÍ≥† Ï†ïÏùòÌïòÍ≥† Îç∞Ïù¥ÌÑ∞Ïùò ÌñâÏùò Ïà´ÏûêÎ•º Ï∂úÎ†•

data['yearLst'] = data.Years.str.split('-')

def checkFour(x):
    for value in x:
        if len(str(value)) != 4:
            return False
        
    return True
    
df2 = data[data.check ==True].reset_index(drop=True)
print(df2.shape[0])

1250

In [350]:
df2

,Player,Goals,Years,Country,check,yearLst,LenCup
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,True,"[2002, 2006, 2010, 2014]",4
1,Ronaldo,15,1998-2002-2006,Brazil,True,"[1998, 2002, 2006]",3
2,Gerd Muller,14,1970-1974,Germany,True,"[1970, 1974]",2
3,Just Fontaine,13,1958,France,True,[1958],1
4,Pele,12,1958-1962-1966-1970,Brazil,True,"[1958, 1962, 1966, 1970]",4
...,...,...,...,...,...,...,...
1245,Josip Skoblar,1,1962,Yugoslavia,True,[1962],1
1246,Safet Susic,1,1982-1990,Yugoslavia,True,"[1982, 1990]",2
1247,Aleksandar Tirnanic,1,1930,Yugoslavia,True,[1930],1
1248,Djordje Vujadinovic,1,1930,Yugoslavia,True,[1930],1
1249,Branko Zebec,1,1954-1958,Yugoslavia,True,"[1954, 1958]",2

In [342]:
# ÏõîÎìúÏªµ Ï∂úÏ†ÑÌöüÏàòÎ•º ÎÇòÌÉÄÎÇ¥Îäî ‚ÄòLenCup‚Äô Ïª¨ÎüºÏùÑ Ï∂îÍ∞ÄÌïòÍ≥† 4Ìöå Ï∂úÏ†ÑÌïú ÏÑ†ÏàòÏùò Ïà´ÏûêÎ•º Íµ¨ÌïòÏó¨Îùº

df2['LenCup']=df2['yearLst'].str.len()
result = df2['LenCup'].value_counts()[4]
result

16

In [355]:
# Yugoslavia Íµ≠Í∞ÄÏùò ÏõîÎìúÏªµ Ï∂úÏ†ÑÌöüÏàòÍ∞Ä 2ÌöåÏù∏ ÏÑ†ÏàòÎì§Ïùò Ïà´ÏûêÎ•º Íµ¨ÌïòÏó¨Îùº
len(df2[(df2['Country']=='Yugoslavia')&(df2['LenCup']==2)])

7

In [363]:
#2002ÎÖÑÎèÑÏóê Ï∂úÏ†ÑÌïú Ï†ÑÏ≤¥ ÏÑ†ÏàòÎäî Î™áÎ™ÖÏù∏Í∞Ä?

len(df2[df2['Years'].str.contains('2002')])

156

In [373]:
# Ïù¥Î¶ÑÏóê ‚Äòcarlos‚Äô Îã®Ïñ¥Í∞Ä Îì§Ïñ¥Í∞ÄÎäî ÏÑ†ÏàòÏùò Ïà´ÏûêÎäî Î™á Î™ÖÏù∏Í∞Ä? (ÎåÄ, ÏÜåÎ¨∏Ïûê Íµ¨Î∂Ñ x)

len(df2[df2['Player'].str.lower().str.contains('carlos')])

13

In [379]:
#ÏõîÎìúÏªµ Ï∂úÏ†Ñ ÌöüÏàòÍ∞Ä 1ÌöåÎøêÏù∏ ÏÑ†ÏàòÎì§ Ï§ëÏóêÏÑú Í∞ÄÏû• ÎßéÏùÄ ÎìùÏ†êÏùÑ Ïò¨Î†∏Îçò ÏÑ†ÏàòÎäî ÎàÑÍµ¨Ïù∏Í∞Ä?

df2[['Player','Goals']][df2['LenCup']==1].iloc[0].Player

'Just Fontaine'

In [385]:
#ÏõîÎìúÏªµ Ï∂úÏ†ÑÌöüÏàòÍ∞Ä 1Ìöå ÎøêÏù∏ ÏÑ†ÏàòÎì§Ïù¥ Í∞ÄÏû• ÎßéÏùÄ Íµ≠Í∞ÄÎäî Ïñ¥ÎîîÏù∏Í∞Ä?

df2[df2['LenCup']==1]['Country'].value_counts().index[0]

'Brazil'

# Îî∞Î¶âÏù¥ Îç∞Ïù¥ÌÑ∞

In [3]:
import pandas as pd
data =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
data.head()

         ÎåÄÏó¨ÏùºÏûê  ÎåÄÏó¨ÏãúÍ∞Ñ  ÎåÄÏó¨ÏÜåÎ≤àÌò∏ ÎåÄÏó¨Íµ¨Î∂ÑÏΩîÎìú ÏÑ±Î≥Ñ Ïó∞Î†πÎåÄÏΩîÎìú  Ïù¥Ïö©Í±¥Ïàò    Ïö¥ÎèôÎüâ   ÌÉÑÏÜåÎüâ     Ïù¥ÎèôÍ±∞Î¶¨  ÏÇ¨Ïö©ÏãúÍ∞Ñ
0  2021-06-01     0   3541    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1  13.04  0.17   731.55     6

In [39]:
# ÎåÄÏó¨ÏùºÏûêÎ≥Ñ Îç∞Ïù¥ÌÑ∞Ïùò ÏàòÎ•º Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Ï∂úÎ†•ÌïòÍ≥†, Í∞ÄÏû• ÎßéÏùÄ Îç∞Ïù¥ÌÑ∞Í∞Ä ÏûàÎäî ÎÇ†Ïßú Ï∂úÎ†•

rst = data['ÎåÄÏó¨ÏùºÏûê'].value_counts().to_frame().reset_index()
rst.columns = ['ÎåÄÏó¨ÏùºÏûê','cnt']
ans = rst[rst['cnt']==rst['cnt'].max()]['ÎåÄÏó¨ÏùºÏûê'][0]
display(rst)
print(ans)

          ÎåÄÏó¨ÏùºÏûê    cnt
0   2021-06-04  56788
1   2021-06-02  56100
2   2021-06-08  55623
3   2021-06-14  54945
4   2021-06-09  54507
5   2021-06-05  52730
6   2021-06-07  52623
7   2021-06-11  52089
8   2021-06-12  48569
9   2021-06-01  48081
10  2021-06-06  47787
11  2021-06-13  43131
12  2021-06-10  36992
13  2021-06-03  18985

2021-06-04

In [50]:
# Í∞Å ÏùºÏûêÏùò ÏöîÏùºÏùÑ ÌëúÍ∏∞ÌïòÍ≥† (‚ÄòMonday‚Äô ~‚ÄôSunday‚Äô) ‚Äòday_name‚ÄôÏª¨ÎüºÏùÑ Ï∂îÍ∞Ä
#Ïù¥Î•º Ïù¥Ïö©ÌïòÏó¨ Í∞Å ÏöîÏùºÎ≥Ñ Ïù¥Ïö© ÌöüÏàòÏùò Ï¥ùÌï©ÏùÑ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú Ï∂úÎ†•


data['day_name']=pd.to_datetime(data['ÎåÄÏó¨ÏùºÏûê']).dt.day_name()
tmp=data.groupby('day_name').size().to_frame().reset_index()
tmp.columns=['day','cnt']
tmp.sort_values('cnt',ascending=False)

         day     cnt
6  Wednesday  110607
0     Friday  108877
1     Monday  107568
5    Tuesday  103704
2   Saturday  101299
3     Sunday   90918
4   Thursday   55977

In [78]:
# Í∞Å ÏöîÏùºÎ≥Ñ Í∞ÄÏû• ÎßéÏù¥ Ïù¥Ïö©Ìïú ÎåÄÏó¨ÏÜåÏùò Ïù¥Ïö©ÌöüÏàòÏôÄ ÎåÄÏó¨ÏÜå Î≤àÌò∏Î•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú Ï∂úÎ†•ÌïòÎùº
# data.head()
data.groupby(['day_name','ÎåÄÏó¨ÏÜåÎ≤àÌò∏'],as_index=False).size().sort_values(['day_name','size'],ascending=False)\ #ÏΩîÎìúÍ∞Ä Í∏∏Ïñ¥ÏÑú \ÏÇ¨Ïö©
.drop_duplicates('day_name',keep='first').reset_index(drop=True)

    day_name  ÎåÄÏó¨ÏÜåÎ≤àÌò∏  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

In [110]:
# ÎÇòÏù¥ÎåÄÎ≥Ñ ÎåÄÏó¨Íµ¨Î∂Ñ ÏΩîÎìúÏùò (ÏùºÏùºÍ∂å/Ï†ÑÏ≤¥ÌöüÏàò) ÎπÑÏú®ÏùÑ Íµ¨Ìïú ÌõÑ Í∞ÄÏû• ÎÜíÏùÄ ÎπÑÏú®ÏùÑ Í∞ÄÏßÄÎäî ÎÇòÏù¥ÎåÄÎ•º ÌôïÏù∏ÌïòÎùº
#ÏùºÏùºÍ∂åÏùò Í≤ΩÏö∞ ÏùºÏùºÍ∂å Í≥º ÏùºÏùºÍ∂å(ÎπÑÌöåÏõê)ÏùÑ Î™®Îëê Ìè¨Ìï®ÌïòÎùº

a = data[data['ÎåÄÏó¨Íµ¨Î∂ÑÏΩîÎìú'].str.contains('ÏùºÏùºÍ∂å')]['Ïó∞Î†πÎåÄÏΩîÎìú'].value_counts().sort_index() # ÏùºÏùºÍ∂å, ÏùºÏùºÍ∂å(ÎπÑÌöåÏõê) Ìè¨Ìï®Ìïú Ïó∞Î†πÎ≥Ñ Ìï©Í≥Ñ
b = data['Ïó∞Î†πÎåÄÏΩîÎìú'].value_counts().sort_index() # Ïó∞Î†πÎ≥Ñ Ï¥ù Ìï©Í≥Ñ
ratio = (a/b).sort_values(ascending=False)
print(ratio.index[0])

~10ÎåÄ

In [116]:
# Ïó∞Î†πÎåÄÎ≥Ñ ÌèâÍ∑† Ïù¥ÎèôÍ±∞Î¶¨Î•º Íµ¨ÌïòÏó¨Îùº
data.groupby('Ïó∞Î†πÎåÄÏΩîÎìú')['Ïù¥ÎèôÍ±∞Î¶¨'].mean().to_frame(name='mean_dis')

          mean_dis
Ïó∞Î†πÎåÄÏΩîÎìú
20ÎåÄ    3211.890552
30ÎåÄ    3341.443859
40ÎåÄ    3514.857416
50ÎåÄ    3593.668100
60ÎåÄ    3538.145737
70ÎåÄ~   3085.039641
~10ÎåÄ   2634.426279

In [120]:
data['ÎåÄÏó¨ÏùºÏûê']=pd.to_datetime(data['ÎåÄÏó¨ÏùºÏûê'])

In [151]:
# Ïó∞Î†πÎåÄ ÏΩîÎìúÍ∞Ä 20ÎåÄÏù∏ Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌïòÍ≥†,Ïù¥ÎèôÍ±∞Î¶¨Í∞íÏù¥ Ï∂îÏ∂úÌïú Îç∞Ïù¥ÌÑ∞Ïùò Ïù¥ÎèôÍ±∞Î¶¨Í∞íÏùò ÌèâÍ∑† Ïù¥ÏÉÅÏù∏ Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌïúÎã§.
# ÏµúÏ¢Ö Ï∂îÏ∂úÎêú Îç∞Ïù¥ÌÑ∞Î•º ÎåÄÏó¨ÏùºÏûê, ÎåÄÏó¨ÏÜå Î≤àÌò∏ ÏàúÏÑúÎ°ú ÎÇ¥Î¶ºÏ∞®Ïàú Ï†ïÎ†¨ ÌõÑ 1ÌñâÎ∂ÄÌÑ∞ 200ÌñâÍπåÏßÄÏùò ÌÉÑÏÜåÎüâÏùò ÌèâÍ∑†ÏùÑ ÏÜåÏà´Ï†ê 3Ïß∏ ÏûêÎ¶¨ÍπåÏßÄ Íµ¨ÌïòÏó¨Îùº

# tmp = data[(data['Ïó∞Î†πÎåÄÏΩîÎìú']=='20ÎåÄ')&(data['Ïù¥ÎèôÍ±∞Î¶¨']>=data['Ïù¥ÎèôÍ±∞Î¶¨'].mean())].sort_values(['ÎåÄÏó¨ÏùºÏûê','ÎåÄÏó¨ÏÜåÎ≤àÌò∏'],ascending=False)\
# .reset_index(drop=True).iloc[:200] --> Ïò§ÎãµÏù∏ Ïù¥Ïú† : 20ÎåÄ Îç∞Ïù¥ÌÑ∞ "Ï∂îÏ∂ú ÌõÑ" Ïù¥ÎèôÍ±∞Î¶¨ ÌèâÍ∑†Ïóê Îî∞Î•∏ Ï∂îÏ∂úÏù∏Îç∞ ÎÇú 20ÎåÄÏù¥Î©¥ÏÑú, ÌèâÍ∑†Ïóê Îî∞Î•∏ Îç∞Ïù¥ÌÑ∞ Ï∂îÏ∂ú

tw = data[data.Ïó∞Î†πÎåÄÏΩîÎìú =='20ÎåÄ'].reset_index(drop=True)
tw_mean = tw[tw.Ïù¥ÎèôÍ±∞Î¶¨ >= tw.Ïù¥ÎèôÍ±∞Î¶¨.mean()].reset_index(drop=True)
tw_mean['ÌÉÑÏÜåÎüâ'] =tw_mean['ÌÉÑÏÜåÎüâ'].astype('float')
target =tw_mean.sort_values(['ÎåÄÏó¨ÏùºÏûê','ÎåÄÏó¨ÏÜåÎ≤àÌò∏'], ascending=False).reset_index(drop=True).iloc[:200].ÌÉÑÏÜåÎüâ
result = round(target.sum()/len(target),3)
print(result)

1.613

In [173]:
#6Ïõî 7Ïùº ~10ÎåÄÏùò ‚ÄúÏù¥Ïö©Í±¥Ïàò‚ÄùÏùò Ï§ëÏïôÍ∞íÏùÄ?

data[(data['Ïó∞Î†πÎåÄÏΩîÎìú']=='~10ÎåÄ')&(data['ÎåÄÏó¨ÏùºÏûê']==pd.to_datetime('2021-06-07'))]['Ïù¥Ïö©Í±¥Ïàò'].median()

1.0

In [206]:
#ÌèâÏùº (Ïõî~Í∏à) Ï∂úÍ∑º ÏãúÍ∞ÑÎåÄ(Ïò§Ï†Ñ 6,7,8Ïãú)Ïùò ÎåÄÏó¨ÏÜåÎ≥Ñ Ïù¥Ïö© ÌöüÏàòÎ•º Íµ¨Ìï¥ÏÑú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÌòïÌÉúÎ°ú ÌëúÌòÑÌïú ÌõÑ 
#Í∞Å ÎåÄÏó¨ÏãúÍ∞ÑÎ≥Ñ Ïù¥Ïö© ÌöüÏàòÏùò ÏÉÅÏúÑ 3Í∞ú ÎåÄÏó¨ÏÜåÏôÄ Ïù¥Ïö©ÌöüÏàòÎ•º Ï∂úÎ†•ÌïòÎùº
tmp = data[(data['ÎåÄÏó¨ÏùºÏûê'].dt.weekday<5)&(data['ÎåÄÏó¨ÏãúÍ∞Ñ'].isin([6,7,8]))].groupby(['ÎåÄÏó¨ÏãúÍ∞Ñ','ÎåÄÏó¨ÏÜåÎ≤àÌò∏'])\
.size().to_frame('Ïù¥Ïö©ÌöüÏàò')
ans = tmp.sort_values(['ÎåÄÏó¨ÏãúÍ∞Ñ','Ïù¥Ïö©ÌöüÏàò'],ascending=False).groupby('ÎåÄÏó¨ÏãúÍ∞Ñ').head(3)
ans

            Ïù¥Ïö©ÌöüÏàò
ÎåÄÏó¨ÏãúÍ∞Ñ ÎåÄÏó¨ÏÜåÎ≤àÌò∏
8    2701    119
     646     115
     1152     92
7    259     104
     230      77
     726      77
6    2744     45
     1125     40
     1028     36

In [209]:
#Ïù¥ÎèôÍ±∞Î¶¨Ïùò ÌèâÍ∑† Ïù¥ÏÉÅÏùò Ïù¥ÎèôÍ±∞Î¶¨ Í∞íÏùÑ Í∞ÄÏßÄÎäî Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌïòÏó¨ Ï∂îÏ∂úÎç∞Ïù¥ÌÑ∞Ïùò Ïù¥ÎèôÍ±∞Î¶¨Ïùò ÌëúÎ≥∏ÌëúÏ§ÄÌé∏Ï∞® Í∞íÏùÑ Íµ¨ÌïòÏó¨Îùº

data[data['Ïù¥ÎèôÍ±∞Î¶¨']>=data['Ïù¥ÎèôÍ±∞Î¶¨'].mean()]['Ïù¥ÎèôÍ±∞Î¶¨'].std()

5092.139707505305

In [214]:
# ÎÇ®ÏÑ±(‚ÄòM‚Äô or ‚Äòm‚Äô)Í≥º Ïó¨ÏÑ±(‚ÄòF‚Äô or ‚Äòf‚Äô)Ïùò Ïù¥ÎèôÍ±∞Î¶¨Í∞íÏùò ÌèâÍ∑†Í∞íÏùÑ Íµ¨ÌïòÏó¨Îùº

m = data[data['ÏÑ±Î≥Ñ'].isin(['M','m'])]['Ïù¥ÎèôÍ±∞Î¶¨'].mean()
f = data[data['ÏÑ±Î≥Ñ'].isin(['F','f'])]['Ïù¥ÎèôÍ±∞Î¶¨'].mean()
ans = pd.DataFrame({'ÏÑ±Î≥Ñ':['ÎÇ®','Ïó¨'],'Ïù¥ÎèôÍ±∞Î¶¨':[m,f]})
ans

  ÏÑ±Î≥Ñ         Ïù¥ÎèôÍ±∞Î¶¨
0  ÎÇ®  3209.110871
1  Ïó¨  3468.575025

# Ï†Ñ ÏÑ∏Í≥Ñ ÌñâÎ≥µÎèÑ ÏßÄÌëú Îç∞Ïù¥ÌÑ∞

In [216]:
import pandas as pd
data =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
data.head()

,ÌñâÎ≥µÎû≠ÌÇπ,ÎÇòÎùºÎ™Ö,Ï†êÏàò,ÏÉÅÎåÄGDP,ÏÇ¨ÌöåÏ†ÅÏßÄÏõê,ÌñâÎ≥µÍ∏∞ÎåÄÏπò,ÏÑ†ÌÉùÏùò ÏûêÏú†ÎèÑ,Í¥ÄÎåÄÌï®,Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù,ÎÖÑÎèÑ
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [233]:
#Îç∞Ïù¥ÌÑ∞Îäî 2018ÎÖÑÎèÑÏôÄ 2019ÎÖÑÎèÑÏùò Ï†ÑÏÑ∏Í≥Ñ ÌñâÎ≥µ ÏßÄÏàòÎ•º ÌëúÌòÑÌïúÎã§. Í∞ÅÎÖÑÎèÑÏùò ÌñâÎ≥µÎû≠ÌÇπ 10ÏúÑÎ•º Ï∞®ÏßÄÌïú ÎÇòÎùºÏùò ÌñâÎ≥µÏ†êÏàòÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº

data[data['ÌñâÎ≥µÎû≠ÌÇπ']==10]['Ï†êÏàò'].mean()

7.259

In [236]:
# Îç∞Ïù¥ÌÑ∞Îäî 2018ÎÖÑÎèÑÏôÄ 2019ÎÖÑÎèÑÏùò Ï†ÑÏÑ∏Í≥Ñ ÌñâÎ≥µ ÏßÄÏàòÎ•º ÌëúÌòÑÌïúÎã§. 
# Í∞ÅÎÖÑÎèÑÏùò ÌñâÎ≥µÎû≠ÌÇπ 50ÏúÑÏù¥ÎÇ¥Ïùò ÎÇòÎùºÎì§Ïùò Í∞ÅÍ∞ÅÏùò ÌñâÎ≥µÏ†êÏàò ÌèâÍ∑†ÏùÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÏãúÌïòÎùº
data[data['ÌñâÎ≥µÎû≠ÌÇπ']<=50].groupby('ÎÖÑÎèÑ')['Ï†êÏàò'].mean().to_frame(name='ÌèâÍ∑† ÌñâÎ≥µÏ†êÏàò')

      ÌèâÍ∑† ÌñâÎ≥µÏ†êÏàò
ÎÖÑÎèÑ
2018  6.64678
2019  6.67002

In [249]:
#2018ÎÖÑÎèÑ Îç∞Ïù¥ÌÑ∞Îì§Îßå Ï∂îÏ∂úÌïòÏó¨ ÌñâÎ≥µÏ†êÏàòÏôÄ Î∂ÄÌå®Ïóê ÎåÄÌïú Ïù∏ÏãùÏóê ÎåÄÌïú ÏÉÅÍ¥ÄÍ≥ÑÏàòÎ•º Íµ¨ÌïòÏó¨Îùº
data[data['ÎÖÑÎèÑ']==2018][['Ï†êÏàò','Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù']].corr().iloc[0,1]

0.40529152271510027

In [265]:
# 2018ÎÖÑÎèÑÏôÄ 2019ÎÖÑÎèÑÏùò ÌñâÎ≥µÎû≠ÌÇπÏù¥ Î≥ÄÌôîÌïòÏßÄ ÏïäÏùÄ ÎÇòÎùºÎ™ÖÏùò ÏàòÎ•º Íµ¨ÌïòÏó¨Îùº
display(len(data[['ÌñâÎ≥µÎû≠ÌÇπ','ÎÇòÎùºÎ™Ö']])) # Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞ Ïàò
display(len(data[['ÌñâÎ≥µÎû≠ÌÇπ','ÎÇòÎùºÎ™Ö']].drop_duplicates())) # Ï§ëÎ≥µÏùÑ Ï†úÍ±∞ Ìïú Îç∞Ïù¥ÌÑ∞ (Ïó¨Í∏∞ÏÑú Ï§ëÎ≥µ Îç∞Ïù¥ÌÑ∞Îäî ÌñâÎ≥µÎû≠ÌÇπÏù¥ Î≥ÄÌôîÌïòÏßÄ ÏïäÏùÄ Îç∞Ïù¥ÌÑ∞)
len(data[['ÌñâÎ≥µÎû≠ÌÇπ','ÎÇòÎùºÎ™Ö']])- len(data[['ÌñâÎ≥µÎû≠ÌÇπ','ÎÇòÎùºÎ™Ö']].drop_duplicates())

312

297

15

In [263]:
data[data[['ÌñâÎ≥µÎû≠ÌÇπ','ÎÇòÎùºÎ™Ö']].duplicated()] # Ï§ëÎ≥µÎêú Îç∞Ïù¥ÌÑ∞

,ÌñâÎ≥µÎû≠ÌÇπ,ÎÇòÎùºÎ™Ö,Ï†êÏàò,ÏÉÅÎåÄGDP,ÏÇ¨ÌöåÏ†ÅÏßÄÏõê,ÌñâÎ≥µÍ∏∞ÎåÄÏπò,ÏÑ†ÌÉùÏùò ÏûêÏú†ÎèÑ,Í¥ÄÎåÄÌï®,Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù,ÎÖÑÎèÑ
156,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
159,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
163,8,New Zealand,7.324,1.268,1.601,0.876,0.669,0.365,0.389,2018
177,22,Malta,6.627,1.270,1.525,0.884,0.645,0.376,0.142,2018
189,34,Singapore,6.343,1.529,1.451,1.008,0.631,0.261,0.457,2018
208,53,Latvia,5.933,1.148,1.454,0.671,0.363,0.092,0.066,2018
211,56,Jamaica,5.890,0.819,1.493,0.693,0.575,0.096,0.031,2018
215,60,Kazakhstan,5.790,1.143,1.516,0.631,0.454,0.148,0.121,2018
220,65,Peru,5.663,0.934,1.249,0.674,0.530,0.092,0.034,2018
231,76,Hong Kong,5.430,1.405,1.290,1.030,0.524,0.246,0.291,2018
278,123,Mozambique,4.417,0.198,0.902,0.173,0.531,0.206,0.158,2018
294,139,Togo,3.999,0.259,0.474,0.253,0.434,0.158,0.101,2018
298,143,Madagascar,3.774,0.262,0.908,0.402,0.221,0.155,0.049,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018

In [290]:
#2019ÎÖÑÎèÑ Îç∞Ïù¥ÌÑ∞Îì§Îßå Ï∂îÏ∂úÌïòÏó¨ Í∞ÅÎ≥ÄÏàòÍ∞Ñ ÏÉÅÍ¥ÄÍ≥ÑÏàòÎ•º Íµ¨ÌïòÍ≥† ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨Ìïú ÌõÑ ÏÉÅÏúÑ 5Í∞úÎ•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú Ï∂úÎ†•ÌïòÎùº. 
#Ïª¨ÎüºÎ™ÖÏùÄ v1,v2,corrÏúºÎ°ú ÌëúÏãúÌïòÎùº

tmp = data[data['ÎÖÑÎèÑ']==2019].corr().iloc[:-1,:-1].unstack().to_frame(name='corr').reset_index()
tmp.columns=['v1','v2','corr']
tmp[tmp['corr']!=1].sort_values('corr',ascending=False).drop_duplicates('corr').head(5).reset_index(drop=True)

      v1     v2      corr
0  ÌñâÎ≥µÍ∏∞ÎåÄÏπò  ÏÉÅÎåÄGDP  0.835462
1  ÏÉÅÎåÄGDP     Ï†êÏàò  0.793883
2  ÌñâÎ≥µÍ∏∞ÎåÄÏπò     Ï†êÏàò  0.779883
3  ÏÇ¨ÌöåÏ†ÅÏßÄÏõê     Ï†êÏàò  0.777058
4  ÏÇ¨ÌöåÏ†ÅÏßÄÏõê  ÏÉÅÎåÄGDP  0.754906

In [306]:
# Í∞Å ÎÖÑÎèÑÎ≥Ñ ÌïòÏúÑ ÌñâÎ≥µÏ†êÏàòÏùò ÌïòÏúÑ 5Í∞ú Íµ≠Í∞ÄÏùò ÌèâÍ∑† ÌñâÎ≥µÏ†êÏàòÎ•º Íµ¨ÌïòÏó¨Îùº
data.groupby('ÎÖÑÎèÑ').tail(5).groupby('ÎÖÑÎèÑ').mean()[['Ï†êÏàò']]

          Ï†êÏàò
ÎÖÑÎèÑ
2018  3.1800
2019  3.1408

In [310]:
# 2019ÎÖÑ Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌïòÍ≥† Ìï¥ÎãπÎç∞Ïù¥ÌÑ∞Ïùò ÏÉÅÎåÄ GDP ÌèâÍ∑† Ïù¥ÏÉÅÏùò ÎÇòÎùºÎì§Í≥º 
#ÌèâÍ∑† Ïù¥ÌïòÏùò ÎÇòÎùºÎì§Ïùò ÌñâÎ≥µÏ†êÏàò ÌèâÍ∑†ÏùÑ Í∞ÅÍ∞Å Íµ¨ÌïòÍ≥† Í∑∏ Ï∞®Ïù¥Í∞íÏùÑ Ï∂úÎ†•ÌïòÎùº

a = data[(data['ÎÖÑÎèÑ']==2019)&(data['ÏÉÅÎåÄGDP']>=data['ÏÉÅÎåÄGDP'].mean())]['Ï†êÏàò'].mean()
b = data[(data['ÎÖÑÎèÑ']==2019)&(data['ÏÉÅÎåÄGDP']<=data['ÏÉÅÎåÄGDP'].mean())]['Ï†êÏàò'].mean()
a-b

1.3904839572192538

In [337]:
# Í∞ÅÎÖÑÎèÑÏùò Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏ÏãùÏùÑ ÎÇ¥Î¶ºÏ∞®Ïàú Ï†ïÎ†¨ÌñàÏùÑÎïå ÏÉÅÏúÑ 20Í∞ú Íµ≠Í∞ÄÏùò Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏ÏãùÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº

data[['ÎÖÑÎèÑ','Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù']].sort_values(['ÎÖÑÎèÑ','Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù'],ascending=False).groupby('ÎÖÑÎèÑ').head(20).\
groupby('ÎÖÑÎèÑ').mean()

      Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù
ÎÖÑÎèÑ
2018    0.3267
2019    0.3201

In [349]:
# 2018ÎÖÑÎèÑ ÌñâÎ≥µÎû≠ÌÇπ 50ÏúÑ Ïù¥ÎÇ¥Ïóê Ìè¨Ìï®ÎêêÎã§Í∞Ä 2019ÎÖÑ 50ÏúÑ Î∞ñÏúºÎ°ú Î∞ÄÎ†§ÎÇú Íµ≠Í∞ÄÏùò Ïà´ÏûêÎ•º Íµ¨ÌïòÏó¨Îùº

len(set(data[(data['ÎÖÑÎèÑ']==2018)&(data['ÌñâÎ≥µÎû≠ÌÇπ']<=50)]['ÎÇòÎùºÎ™Ö'])-set(data[(data['ÎÖÑÎèÑ']==2019)&(data['ÌñâÎ≥µÎû≠ÌÇπ']<=50)]['ÎÇòÎùºÎ™Ö']))

4

# ÏßÄÏó≠Íµ¨ ÏóêÎÑàÏßÄ ÏÜåÎπÑÎüâ Îç∞Ïù¥ÌÑ∞

In [389]:
import pandas as pd
data= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
data.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [390]:
#DateTimeÏª¨ÎüºÏùÑ ÌÜµÌï¥ Í∞Å ÏõîÎ≥ÑÎ°ú Î™áÍ∞úÏùò Îç∞Ïù¥ÌÑ∞Í∞Ä ÏûàÎäîÏßÄ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú Íµ¨ÌïòÏó¨Îùº

data['DateTime']=pd.to_datetime(data['DateTime'])
tmp = data
tmp.loc[:,'month']=tmp['DateTime'].dt.month
tmp.groupby('month').size().to_frame(name='cnt')

        cnt
month
1      4464
2      4032
3      4464
4      4320
5      4464
6      4320
7      4464
8      4464
9      4320
10     4464
11     4320
12     4320

In [398]:
# 3ÏõîÎã¨Ïùò Í∞Å ÏãúÍ∞ÑÎåÄÎ≥Ñ Ïò®ÎèÑÏùò ÌèâÍ∑†Îì§ Ï§ë Í∞ÄÏû• ÎÇÆÏùÄ ÏãúÍ∞ÑÎåÄÏùò Ïò®ÎèÑÎ•º Ï∂úÎ†•ÌïòÎùº

tmp = data[data['DateTime'].dt.month ==3]
tmp.groupby(tmp['DateTime'].dt.hour)['Temperature'].mean().sort_values().values[0]

11.506612903225806

In [399]:
# 3ÏõîÎã¨Ïùò Í∞Å ÏãúÍ∞ÑÎåÄÎ≥Ñ Ïò®ÎèÑÏùò ÌèâÍ∑†Îì§ Ï§ë Í∞ÄÏû• ÎÜíÏùÄ ÏãúÍ∞ÑÎåÄÏùò Ïò®ÎèÑÎ•º Ï∂úÎ†•ÌïòÎùº

tmp = data[data['DateTime'].dt.month ==3]
tmp.groupby(tmp['DateTime'].dt.hour)['Temperature'].mean().sort_values(ascending=False).values[0]

18.393602150537635

In [402]:
data.columns

Index(['DateTime', 'Temperature', 'Humidity', 'Wind Speed',
       'general diffuse flows', 'diffuse flows', 'Zone 1 Power Consumption',
       'Zone 2  Power Consumption', 'Zone 3  Power Consumption', 'month'],
      dtype='object')

In [404]:
# Zone 1 Power Consumption Ïª¨ÎüºÏùò valueÍ∞íÏùò ÌÅ¨Í∏∞Í∞Ä Zone 2 Power Consumption Ïª¨ÎüºÏùò valueÍ∞íÏùò ÌÅ¨Í∏∞Î≥¥Îã§ ÌÅ∞ Îç∞Ïù¥ÌÑ∞Îì§Ïùò 
# HumidityÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº

data[data['Zone 1 Power Consumption']>data['Zone 2  Power Consumption']]['Humidity'].mean()

68.23624448055094

In [418]:
# Í∞Å zoneÏùò ÏóêÎÑàÏßÄ ÏÜåÎπÑÎüâÏùò ÏÉÅÍ¥ÄÍ¥ÄÍ≥ÑÎ•º Íµ¨Ìï¥ÏÑú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÍ∏∞ÌïòÎùº

data[['Zone 1 Power Consumption','Zone 2  Power Consumption','Zone 3  Power Consumption']].corr()

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

In [427]:
#TemperatureÏùò Í∞íÏù¥ 10ÎØ∏ÎßåÏùò Í≤ΩÏö∞ A, 10Ïù¥ÏÉÅ 20ÎØ∏ÎßåÏùò Í≤ΩÏö∞ B,20Ïù¥ÏÉÅ 30ÎØ∏ÎßåÏùò Í≤ΩÏö∞ C,
#Í∑∏ Ïô∏Ïùò Í≤ΩÏö∞ DÎùºÍ≥† Ìï†Îïå Í∞Å Îã®Í≥ÑÏùò Îç∞Ïù¥ÌÑ∞ Ïà´ÏûêÎ•º Íµ¨ÌïòÏó¨Îùº

def chg(x):
    if x<10:
        return 'A'
    elif 10<=x<20:
        return 'B'
    elif 20<=x<30:
        return 'C'
    else:
        return 'D'
    
tmp = data['Temperature'].apply(lambda x: chg(x))
tmp.value_counts()

B    26993
C    21105
A     2874
D     1444
Name: Temperature, dtype: int64

In [430]:
# 6Ïõî Îç∞Ïù¥ÌÑ∞Ï§ë 12ÏãúÏùò TemperatureÏùò ÌëúÏ§ÄÌé∏Ï∞®Î•º Íµ¨ÌïòÏó¨Îùº
data[(data['DateTime'].dt.month==6)&(data['DateTime'].dt.hour==12)]['Temperature'].std()

2.049941782795103

In [431]:
# 6Ïõî Îç∞Ïù¥ÌÑ∞Ï§ë 12ÏãúÏùò TemperatureÏùò Î∂ÑÏÇ∞ÏùÑ Íµ¨ÌïòÏó¨Îùº

data[(data['DateTime'].dt.month==6)&(data['DateTime'].dt.hour==12)]['Temperature'].var()

4.202261312849164

In [443]:
# TemperatureÏùò ÌèâÍ∑†Ïù¥ÏÉÅÏùò TemperatureÏùò Í∞íÏùÑ Í∞ÄÏßÄÎäî Îç∞Ïù¥ÌÑ∞Î•º TemperatureÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ï†ïÎ†¨ ÌñàÏùÑÎïå 4Î≤àÏß∏ ÌñâÏùò Humidity Í∞íÏùÄ?

data[data['Temperature']>data['Temperature'].mean()].sort_values('Temperature')['Humidity'].values[3]

87.9

In [445]:
#TemperatureÏùò Ï§ëÍ∞ÑÍ∞í Ïù¥ÏÉÅÏùò TemperatureÏùò Í∞íÏùÑ Í∞ÄÏßÄÎäî Îç∞Ïù¥ÌÑ∞Î•ºTemperatureÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ï†ïÎ†¨ ÌñàÏùÑÎïå 4Î≤àÏß∏ ÌñâÏùò Humidity Í∞íÏùÄ?
data[data['Temperature']>=data['Temperature'].median()].sort_values('Temperature')['Humidity'].values[3]

80.3

# Ìè¨ÏºìÎ™¨ Ï†ïÎ≥¥ Îç∞Ïù¥ÌÑ∞

In [446]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [451]:
#Legendary Ïª¨ÎüºÏùÄ Ï†ÑÏÑ§Ìè¨ÏºìÎ™¨ Ïú†Î¨¥Î•º ÎÇòÌÉÄÎÇ∏Îã§.Ï†ÑÏÑ§Ìè¨ÏºìÎ™¨Í≥º Í∑∏Î†áÏßÄ ÏïäÏùÄ Ìè¨ÏºìÎ™¨Îì§Ïùò HPÌèâÍ∑†Ïùò Ï∞®Ïù¥Î•º Íµ¨ÌïòÏó¨Îùº

abs(data.groupby('Legendary')['HP'].mean()[0]-data.groupby('Legendary')['HP'].mean()[1])

25.55614861329147

In [454]:
#Type 1ÏùÄ Ï£ºÏÜçÏÑ± Type 2 Îäî Î∂ÄÏÜçÏÑ±ÏùÑ ÎÇòÌÉÄÎÇ∏Îã§. Í∞ÄÏû• ÎßéÏùÄ Î∂ÄÏÜçÏÑ± Ï¢ÖÎ•òÎäî Î¨¥ÏóáÏù∏Í∞Ä?

data['Type 2'].value_counts().index[0]

'Flying'

In [459]:
# Í∞ÄÏû• ÎßéÏùÄ Type 1 Ïùò Ï¢ÖÏùò ÌèâÍ∑† Attack ÏùÑ ÌèâÍ∑† DefenseÎ°ú ÎÇòÎààÍ∞íÏùÄ?

data[data['Type 1']==data['Type 1'].value_counts().index[0]]['Attack'].mean()/data[data['Type 1']==data['Type 1'].value_counts().index[0]]['Defense'].mean()

1.0165238678090576

In [469]:
# Ìè¨ÏºìÎ™¨ ÏÑ∏ÎåÄ(Generation) Ï§ë Í∞ÄÏû•ÎßéÏùÄ LegendaryÎ•º Î≥¥Ïú†Ìïú ÏÑ∏ÎåÄÎäî Î™áÏÑ∏ÎåÄÏù∏Í∞Ä?

# 1. groupby Ìï¥Í≤∞Î≤ï
data[data['Legendary']==True].groupby(['Generation','Legendary']).size().to_frame(name='cnt').sort_values('cnt',ascending=False).index[0][0]

#2 value_countsÎ°ú Í∞ÑÎã®ÌïòÍ≤å Ìï¥Í≤∞ÌïòÍ∏∞

data[data['Legendary']==True]['Generation'].value_counts().index[0]

3

In [477]:
# HP‚Äô, ‚ÄòAttack‚Äô, ‚ÄòDefense‚Äô, ‚ÄòSp. Atk‚Äô, ‚ÄòSp. Def‚Äô, ‚ÄòSpeed‚Äô Í∞ÑÏùò ÏÉÅÍ¥Ä Í≥ÑÏàòÏ§ë Í∞ÄÏû• Ï†àÎåìÍ∞íÏù¥ ÌÅ∞ Îëê Î≥ÄÏàòÏôÄ Í∑∏ Í∞íÏùÑ Íµ¨ÌïòÏó¨Îùº

tmp = data[['HP','Attack', 'Defense', 'Sp. Atk','Sp. Def','Speed']].corr().unstack().reset_index().rename(columns={0: "corr"})
tmp[tmp['corr']!=1].sort_values('corr',ascending=False).iloc[0]

level_0     Sp. Def
level_1     Defense
corr       0.510747
Name: 26, dtype: object

In [490]:
# Í∞Å GenerationÏùò AttackÏúºÎ°ú Ïò§Î¶ÑÏ∞®Ïàú Ï†ïÎ†¨Ïãú ÏÉÅÏúÑ 3Í∞ú Îç∞Ïù¥ÌÑ∞Îì§(18Í∞ú)Ïùò AttackÏùò Ï†ÑÏ≤¥ ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº

data.sort_values(['Generation','Attack']).groupby('Generation').head(3)['Attack'].mean()

19.5

In [491]:
# Í∞Å GenerationÏùò AttackÏúºÎ°ú ÎÇ¥Î¶ºÏ∞®Ïàú Ï†ïÎ†¨Ïãú ÏÉÅÏúÑ 5Í∞ú Îç∞Ïù¥ÌÑ∞Îì§(30Í∞ú)Ïùò AttackÏùò Ï†ÑÏ≤¥ ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº

data.sort_values(['Generation','Attack'],ascending=False).groupby('Generation').head(5)['Attack'].mean()

157.23333333333332

In [499]:
# Í∞ÄÏû• ÌùîÌïòÍ≤å Î∞úÍ≤¨ÎêòÎäî (Type1 , Type2) Ïùò ÏåçÏùÄ Î¨¥ÏóáÏù∏Í∞Ä?

data[['Type 1','Type 2']].value_counts().head(1)

Type 1  Type 2
Normal  Flying    24
dtype: int64

In [503]:
#ÌïúÎ≤àÏî©Îßå Ï°¥Ïû¨ÌïòÎäî (Type1 , Type2)Ïùò ÏåçÏùò Í∞ØÏàòÎäî Î™áÍ∞úÏù∏Í∞Ä?

tmp = data[['Type 1','Type 2']].value_counts()
len(tmp[tmp==1])

39