# 1

In [19]:
import pandas as pd
import numpy as np
data = pd.read_csv("C:/Users/SuperUser/Desktop/data/titanic_train.csv")
q1 = np.percentile(data['Fare'],25)
q3 = np.percentile(data['Fare'],75)
iqr = q3-q1

ans = data[(data['Fare']<q1-iqr*1.5) | (data['Fare']>q3+1.5*iqr)]['Sex']=='female'
print(sum(ans))

70

# 2

In [21]:
import pandas as pd
import numpy as np
data = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic1.csv")

data=data[(data['age']-np.floor(data['age']))!=0]

u = np.ceil(data['age']).mean()
f = np.floor(data['age']).mean()
t = np.trunc(data['age']).mean()

print(u+f+t)

69.5

# 3

In [48]:
import pandas as pd
import numpy as np

data = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic1.csv")
# print(data.isnull().sum()/data.shape[0])
data = data.drop('f3',axis=1)

data['city'].unique()
s = data[data['city']=='서울']['f1'].median()
b = data[data['city']=='부산']['f1'].median()
d = data[data['city']=='대구']['f1'].median()
k = data[data['city']=='경기']['f1'].median()

data['f1'] = data['f1'].fillna(data['city'].map({'서울':s,'부산':b,'대구':d,'경기':k}))
print(data['f1'].mean())

65.52

# 4

In [50]:
import pandas as pd
import numpy as np

data = pd.read_csv("C:/Users/SuperUser/Desktop/train.csv")

s = data['SalePrice'].skew()
k = data['SalePrice'].kurt()

data['SalePrice'] = np.log1p(data['SalePrice'])

s1 = data['SalePrice'].skew()
k1 = data['SalePrice'].kurt()

print(round(s+k+s1+k1,2))

9.35

# 5

In [52]:
import pandas as pd
import numpy as np

data = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic1.csv")

a = data[data['f4']=='ENFJ']['f1'].std()
b = data[data['f4']=='INFP']['f1'].std()

print(abs(a-b))

5.859621525876811

# 6

In [61]:
import pandas as pd

data = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic1.csv")

data = data.dropna(subset=['f1'])

data = data.groupby(['city','f2']).sum()
data.iloc[0]['f1']

833.0

# 7

In [64]:
import pandas as pd

data = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic1.csv")

data['f4']=data['f4'].replace('ESFJ','ISFJ')

ans = data[(data['city']=='경기')&(data['f4']=='ISFJ')]['age'].max()
print(ans)

90.0

# 8

In [16]:
import pandas as pd

data = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic1.csv")

tmp = data[data['f2']==1]['f1'].cumsum()
tmp = tmp.fillna(method='bfill')
tmp.mean()

980.3783783783783

# 9

In [18]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

data = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic1.csv")
scale = StandardScaler()
data['f5']=scale.fit_transform(data[['f5']])
data['f5'].median()

0.260619629559015

# 10

In [28]:
import pandas as pd
from sklearn.preprocessing import power_transform

data = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic1.csv")
data= data[data['age']>=20]

data['f1']=data['f1'].fillna(data['f1'].mode()[0])

data['a']=power_transform(data[['f1']],standardize=False)
data['b']=power_transform(data[['f1']], method = "box-cox",standardize=False)
# data['a'].head()
round(sum(abs(data['a']-data['b'])),2)

39.17

# 11

In [37]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

data = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic1.csv")
scale = MinMaxScaler()
data['f5']=scale.fit_transform(data[['f5']])
tmp=data['f5'].sort_values(ascending=False)

up = tmp.quantile(0.95)
down = tmp.quantile(0.05)
print(up+down)

1.0248740983597389

# 12

In [50]:
import pandas as pd

data = pd.read_csv("C:/Users/SuperUser/Desktop/covid.csv",index_col = 0)

# data.head()

data=data.groupby('country').max()
data = data.reset_index().sort_values('ratio',ascending=False)

data = data[1:]

top = data['ratio'].head(10).mean()
bot = data['ratio'].tail(10).mean()

print(round(top-bot,1))

91.6

# 13

In [56]:
import pandas as pd

data = pd.read_csv("C:/Users/SuperUser/Desktop/winequality-red.csv")

a= abs(data.corr()[:-1]['quality']).max()
b= abs(data.corr()[:-1]['quality']).min()

print(round(a+b,2))

0.49

# 14

In [61]:
import pandas as pd

data = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic1.csv")
data = data.groupby(['city','f4'])[['f5']].mean()

data=data.reset_index().sort_values('f5',ascending=False)
round(sum(data['f5'].iloc[:7]),2)

643.68

# 15

In [64]:
import pandas as pd

data = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic1.csv")
data = data.sort_values('age',ascending=False).head(20)
data['f1']=data['f1'].fillna(data['f1'].median())

data[(data['f4']=='ISFJ')&(data['f5']>=20)]['f1'].mean()

73.875

# 16

In [67]:
import pandas as pd

data = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic1.csv")

data=data[data['f2']==0].sort_values('age',ascending=True)
data = data[:20]

before = data['f1'].var()
data['f1']=data['f1'].fillna(data['f1'].min())
after = data['f1'].var()

print(round(before-after,2))

38.44

# 17

In [73]:
import pandas as pd

data = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic2.csv")

data['Date']=pd.to_datetime(data['Date'])

data['year']=data['Date'].dt.year
data['month']=data['Date'].dt.month
data['day']=data['Date'].dt.day

data[(data['year']==2022)&(data['month']==5)]['Sales'].median()

1477685.0

# 18

In [1]:
import pandas as pd

data = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic2.csv")

data['Date']=pd.to_datetime(data['Date'])

data['year']=data['Date'].dt.year
data['month']=data['Date'].dt.month
data['day']=data['Date'].dt.day
data['weekday']=data['Date'].dt.weekday

a = data[(data['year']==2022)&(data['month']==5)&(data['weekday']>=5)]['Sales'].mean()
b = data[(data['year']==2022)&(data['month']==5)&(data['weekday'] < 5)]['Sales'].mean()

print(round(a-b,2))

3010339.1

# 19

In [2]:
import pandas as pd

data = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic2.csv")

data['Date']=pd.to_datetime(data['Date'])

data['year']=data['Date'].dt.year
data['month']=data['Date'].dt.month

def chg(x):
    if x['Events']==1:
        x['Sale2']=x['Sales']*0.8
    else:
        x['Sale2']=x['Sales']
    return x
data=data.apply(lambda x: chg(x),axis=1)

a = data[data['year']==2022].groupby('month')['Sale2'].sum().max()
b = data[data['year']==2023].groupby('month')['Sale2'].sum().max()

print(round(abs(a-b),0))

42473436.0

# 20

In [12]:
import pandas as pd

a = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic1.csv")
b = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic3.csv")

data = pd.merge(a,b ,how='left',on='f4')
data=data.dropna(subset=['r2'])

data = data.reset_index()

print(sum(data.iloc[:20]['f2']))

15

# 21

In [26]:
import pandas as pd

data = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic1.csv")

data = data[(data['age']>0)]
data = data[(data['age']==round(data['age'],0))]

data['range'] = pd.qcut(data['age'],q=3,labels=['g1','g2','g3'])

a = data[data['range']=='g1']['age'].median()
b = data[data['range']=='g2']['age'].median()
c = data[data['range']=='g3']['age'].median()

print(a+b+c)

165.0

# 22

In [33]:
import pandas as pd

data = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic2.csv")

data['Date']=pd.to_datetime(data['Date'])
data=data.set_index('Date')
tmp = data.resample('W').sum()
a = tmp['Sales'].max()
b = tmp['Sales'].min()

print(abs(a-b))

91639050

# 23

In [38]:
import pandas as pd

data = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic1.csv")

a = data['f1'].sort_values(ascending=False).iloc[9]
data['f1']=data['f1'].fillna(a)

a = data['f1'].median()
data = data.drop_duplicates(subset=['age'])
b= data['f1'].median()

print(abs(a-b))

0.5

# 24

In [57]:
import pandas as pd

data = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic2.csv")
data['prev']=data['PV'].shift(1)

data['prev'] = data['prev'].fillna(method='bfill')

data.head()
a = data[(data['Events']==1)&(data['Sales']<=1000000)]['prev'].sum()
a

1894876.0

# 25

In [77]:
import pandas as pd

data = pd.read_csv("C:/Users/SuperUser/Desktop/data/basic1.csv")

tmp = data[(data['f4'].str[:1]=='E')&(data['city']=='부산')&(20<=data['age']) & (data['age']<30)]

len(tmp)

0

In [139]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

def exam_data_load(df, target, id_name="", null_name=""):
    if id_name == "":
        df = df.reset_index().rename(columns={"index": "id"})
        id_name = 'id'
    else:
        id_name = id_name
    
    if null_name != "":
        df[df == null_name] = np.nan
    
    X_train, X_test = train_test_split(df, test_size=0.2, random_state=2021)
    
    y_train = X_train[[id_name, target]]
    X_train = X_train.drop(columns=[target])

    
    y_test = X_test[[id_name, target]]
    X_test = X_test.drop(columns=[target])
    return X_train, X_test, y_train, y_test 
    
df = pd.read_csv("C:/Users/SuperUser/Desktop/data/titanic_train.csv")
X_train, X_test, y_train, y_test = exam_data_load(df, target='Survived', id_name='PassengerId')

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((712, 11), (179, 11), (712, 2), (179, 2))

In [140]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 90 to 116
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Pclass       712 non-null    int64
 2   Name         712 non-null    object
 3   Sex          712 non-null    object
 4   Age          575 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Ticket       712 non-null    object
 8   Fare         712 non-null    float64
 9   Cabin        170 non-null    object
 10  Embarked     711 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 66.8+ KB

In [141]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179 entries, 210 to 45
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  179 non-null    int64
 1   Pclass       179 non-null    int64
 2   Name         179 non-null    object
 3   Sex          179 non-null    object
 4   Age          139 non-null    float64
 5   SibSp        179 non-null    int64
 6   Parch        179 non-null    int64
 7   Ticket       179 non-null    object
 8   Fare         179 non-null    float64
 9   Cabin        34 non-null     object
 10  Embarked     178 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 16.8+ KB

In [142]:
col = ['Pclass','Sex','SibSp','Fare','Embarked']
y = y_train['Survived']
X_train = pd.get_dummies(X_train[col])
test = pd.get_dummies(X_test[col])

In [143]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(max_depth = 7, n_estimators=200, random_state=2022)
model.fit(X_train,y)
pred = model.predict(test)
model.score(X_train,y)

0.8862359550561798

In [145]:
output = pd.DataFrame({'PassengerId': X_test.PassengerId, 'Survived':pred})
output

     PassengerId  Survived
210          211         0
876          877         0
666          667         0
819          820         0
736          737         0
..           ...       ...
494          495         0
871          872         1
530          531         1
157          158         0
45            46         0

[179 rows x 2 columns]

In [226]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

def exam_data_load(df, target, id_name="", null_name=""):
    if id_name == "":
        df = df.reset_index().rename(columns={"index": "id"})
        id_name = 'id'
    else:
        id_name = id_name
    
    if null_name != "":
        df[df == null_name] = np.nan
    
    X_train, X_test = train_test_split(df, test_size=0.2, random_state=2021)
    
    y_train = X_train[[id_name, target]]
    X_train = X_train.drop(columns=[target])

    
    y_test = X_test[[id_name, target]]
    X_test = X_test.drop(columns=[target])
    return X_train, X_test, y_train, y_test 
    
df = pd.read_csv("C:/Users/SuperUser/Desktop/diabetes.csv")
X_train, X_test, y_train, y_test = exam_data_load(df, target='Outcome')

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((614, 9), (154, 9), (614, 2), (154, 2))

In [227]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 614 entries, 147 to 116
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        614 non-null    int64
 1   Pregnancies               614 non-null    int64
 2   Glucose                   614 non-null    int64
 3   BloodPressure             614 non-null    int64
 4   SkinThickness             614 non-null    int64
 5   Insulin                   614 non-null    int64
 6   BMI                       614 non-null    float64
 7   DiabetesPedigreeFunction  614 non-null    float64
 8   Age                       614 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 48.0 KB

In [228]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 154 entries, 258 to 174
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        154 non-null    int64
 1   Pregnancies               154 non-null    int64
 2   Glucose                   154 non-null    int64
 3   BloodPressure             154 non-null    int64
 4   SkinThickness             154 non-null    int64
 5   Insulin                   154 non-null    int64
 6   BMI                       154 non-null    float64
 7   DiabetesPedigreeFunction  154 non-null    float64
 8   Age                       154 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 12.0 KB

In [229]:
X_train.describe()

,id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000
mean,386.978827,3.845277,120.705212,68.530945,20.982085,82.229642,31.948534,0.477471,33.319218
std,219.881344,3.388952,32.047977,19.761915,15.965031,116.525772,7.734385,0.339811,11.940953
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,196.500000,1.000000,99.000000,62.000000,0.000000,0.000000,27.400000,0.244250,24.000000
50%,388.000000,3.000000,117.000000,72.000000,23.000000,44.000000,32.250000,0.377000,29.000000
75%,575.750000,6.000000,140.000000,80.000000,33.000000,130.000000,36.600000,0.628500,41.000000
max,766.000000,17.000000,199.000000,114.000000,99.000000,846.000000,59.400000,2.420000,81.000000

In [230]:
col=['Glucose','BloodPressure','SkinThickness','Insulin','BMI']
mean = X_train[col].mean()
X_train[col] = X_train[col].replace(0,mean)

In [231]:
# from sklearn.preprocessing import StandardScaler
# scale = StandardScaler()
# col = ['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']
# X_train[col] = scale.fit_transform(X_train[col])
# X_test[col] = scale.fit_transform(X_test[col])

In [232]:
from sklearn.preprocessing import RobustScaler

scale = RobustScaler()
col = ['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']
X_train[col] = scale.fit_transform(X_train[col])
X_test[col] = scale.fit_transform(X_test[col])

In [233]:
y = y_train['Outcome']

In [234]:
X = X_train.drop('id',axis=1)
test = X_test.drop('id',axis =1)

In [235]:
from sklearn.svm import SVC
model = SVC()
model.fit(X,y)
pred = model.predict(test)
model.score(X,y)

0.8159609120521173

In [236]:
output = pd.DataFrame({'idx': X_test.index,'Outcome':pred})
output.head()

   idx  Outcome
0  258        1
1  220        1
2  438        0
3  130        1
4  730        0

In [237]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

def exam_data_load(df, target, id_name="", null_name=""):
    if id_name == "":
        df = df.reset_index().rename(columns={"index": "id"})
        id_name = 'id'
    else:
        id_name = id_name
    
    if null_name != "":
        df[df == null_name] = np.nan
    
    X_train, X_test = train_test_split(df, test_size=0.2, random_state=2021)
    
    y_train = X_train[[id_name, target]]
    X_train = X_train.drop(columns=[target])

    
    y_test = X_test[[id_name, target]]
    X_test = X_test.drop(columns=[target])
    return X_train, X_test, y_train, y_test 
    
df = pd.read_csv("C:/Users/SuperUser/Desktop/adult.csv")
X_train, X_test, y_train, y_test = exam_data_load(df, target='income', null_name='?')

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((26048, 15), (6513, 15), (26048, 2), (6513, 2))

In [238]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26048 entries, 21851 to 25716
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              26048 non-null  int64
 1   age             26048 non-null  int64
 2   workclass       24592 non-null  object
 3   fnlwgt          26048 non-null  int64
 4   education       26048 non-null  object
 5   education.num   26048 non-null  int64
 6   marital.status  26048 non-null  object
 7   occupation      24585 non-null  object
 8   relationship    26048 non-null  object
 9   race            26048 non-null  object
 10  sex             26048 non-null  object
 11  capital.gain    26048 non-null  int64
 12  capital.loss    26048 non-null  int64
 13  hours.per.week  26048 non-null  int64
 14  native.country  25587 non-null  object
dtypes: int64(7), object(8)
memory usage: 3.2+ MB

In [239]:
numeric_features = [
                    'age',
                    'fnlwgt', 
                    'education.num',
                    'capital.gain', 
                    'capital.loss', 
                    'hours.per.week',                     
                   ]

cat_features = [
                 'workclass',              
                 'education',            
                 'marital.status', 
                 'occupation', 
                 'relationship', 
                 'race', 
                 'sex',
                 'native.country'
]
y =(y_train['income'] !='<=50K').astype(int)

In [240]:
from sklearn.preprocessing import LabelEncoder

all_df = pd.concat([X_train.assign(ind="train"),X_test.assign(ind="test")])
le = LabelEncoder()
all_df[cat_features] = all_df[cat_features].apply(le.fit_transform)
X_train = all_df[all_df['ind']=='train']
X_train=X_train.drop('ind',axis=1)
X_test = all_df[all_df['ind']=='test']
X_test =X_test.drop('ind',axis=1)

In [241]:
from sklearn.model_selection import train_test_split
X_tr,X_te,y_tr,y_te = train_test_split(X_train,y,test_size=0.15,random_state=2022)
X_tr.shape,X_te.shape,y_tr.shape,y_te.shape

((22140, 15), (3908, 15), (22140,), (3908,))

In [242]:
X_tr = X_tr.drop('id',axis=1)
X_te = X_te.drop('id',axis=1)

In [243]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

model = RandomForestClassifier(max_depth=7, n_estimators=200, random_state=2022)
model.fit(X_tr,y_tr)
pred = model.predict(X_te)
score = accuracy_score(y_te,pred)

In [244]:
score

0.8554247697031729

In [245]:
X_test_id = X_test.pop('id')
pred = model.predict(X_test)

In [246]:
output=pd.DataFrame({'id':X_test_id,'income':pred})
output.head()

          id  income
20901  20901       0
14170  14170       0
1776    1776       1
30428  30428       0
8602    8602       0