In [2]:
# 필요한 라이브러리 호출
import pandas as pd
import numpy as np

# 이상치 발견 및 IQR 활용

In [7]:
# 데이터 호출
data=pd.read_csv("C:/users/SuperUser/Desktop/data/train.csv")

In [8]:
# IQR 구하기
q1 = np.percentile(data['Fare'],25)
q3 = np.percentile(data['Fare'],75)

iqr=q3-q1

In [10]:
# Fare 컬럼에서 iqr 범위 벗어난 이상치 구하기
data=data[(data['Fare']<=q1-1.5*iqr)|(data['Fare']>=q3+1.5*iqr)]

In [11]:
#이상치에 해당하는 여성의 수
print(sum(data['Sex']=="female"))

70

1. np.percentile(해당하는 데이터,비율) -> 1분위수= 25, 2분위수=50, 3분위수=75
2. iqr 정상범위 = q1-1.5*iqr <= X =< q3+1.5*iqr
3. 개수는 Sum() 함수로 구하기

# 이상치 발견(소수점 구하기)

In [12]:
# 데이터 호출
data=pd.read_csv("C:/users/SuperUser/Desktop/data/basic1.csv")

In [14]:
# 나이가 소수점인 나이 구하기
data=data[data['age']-np.floor(data['age'])!=0]

In [16]:
# 올림 내림 버림(절사)들의 평균값 구하기
u = np.ceil(data['age']).mean()
d = np.floor(data['age']).mean()
t = np.trunc(data['age']).mean()

In [17]:
print(u+d+t)

69.5

1. 소수점 구하기 = 기존 데이터 - np.floor(데이터) !=0 ex) 1.5 - np.floor(1.5) = 0.5
2. 올림 내림 버림
 - np.ceil() 올림
 - np.floor() 내림
 - np.trunc() 버림

# 결측치 처리(Map 활용하기)

In [28]:
# 데이터 호출
data=pd.read_csv("C:/users/SuperUser/Desktop/data/basic1.csv")

In [29]:
# 결측치 비율 확인하기
data.isnull().sum()/data.shape[0]

id      0.00
age     0.00
city    0.00
f1      0.31
f2      0.00
f3      0.95
f4      0.00
f5      0.00
dtype: float64

In [30]:
# 80 %이상인 f3 컬럼 삭제하기
data.drop('f3',axis=1)

       id    age city    f1  f2    f4         f5
0    id01    2.0   서울   NaN   0  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  INFP  52.667078
4    id05   24.0   서울  85.0   2  ISFJ  29.269869
..    ...    ...  ...   ...  ..   ...        ...
95   id96   92.0   경기  53.0   1  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  INFP  67.886373
97   id98   39.0   경기  58.0   2  INFP  98.429899
98   id99    1.0   경기  47.0   0  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  ESFP  33.308999

[100 rows x 7 columns]

In [31]:
# city 컬럼 데이터 확인하기(중복제거한 유일 값)
data['city'].unique()

array(['서울', '부산', '대구', '경기'], dtype=object)

In [32]:
# city별 'f1'중앙값구하기
s = data[data['city']=="서울"]['f1'].median()
b = data[data['city']=="부산"]['f1'].median()
d = data[data['city']=="대구"]['f1'].median()
k = data[data['city']=="경기"]['f1'].median()
s,b,d,k

(68.0, 62.0, 75.0, 58.0)

In [37]:
# city별 'f1'중앙값으로 결측치 대체하기
data['f1']=data['f1'].fillna(data['city'].map({"서울":s,"부산":b,"대구":d,"경기":k}))

In [38]:
print(data['f1'].mean())

65.52

1. 결측치 확인하기 - data.isnull().sum()
2. data.shape[0] - 전체 행의 개수 / data.shape[1] - 전체 열의 개수
3. data.drop(컬럼명, axis=1) - 데이터 삭제
 - axis=1 : 컬럼을 기준
 - axis=0 : 행을 기준
4. data['컬럼'].unique - 해당 컬럼의 유일 값 반환
5. map() 함수 : 해당 컬럼에 지정값 삽입

# 왜도 첨도 구하기

In [41]:
data=pd.read_csv("C:/Users/SuperUser/Desktop/data/train (1).csv")

In [42]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [43]:
# SalePrice 컬럼의 왜도 첨도 구하기
s = data['SalePrice'].skew()
k = data['SalePrice'].kurt()
s,k

(1.8828757597682129, 6.536281860064529)

In [44]:
# log1p 스케일링
data['SalePrice']=np.log1p(data['SalePrice'])

In [45]:
# 변환 이후 왜도 첨도 구하기
s1 = data['SalePrice'].skew()
k1 = data['SalePrice'].kurt()

In [46]:
print(np.round(s+s1+k+k1,2))

9.35

1. 왜도 - data['column'].skew()
2. 첨도 - data['column'].kurt()
3. 변수 변환 하는 법
 - np.log : 로그변환
 - np.exp : 지수변환
 - np.log1p : log(x+1) 값 변환

# 표준편차 구하기

In [47]:
data=pd.read_csv("C:/users/SuperUser/Desktop/data/basic1.csv")

In [48]:
# f4 컬럼 값이 enfj, infp인 f1의 표준편차 구하기
enfj = data[data['f4']=='ENFJ']['f1'].std()
infp = data[data['f4']=='INFP']['f1'].std()

enfj, infp

(17.727097901235837, 23.586719427112648)

In [49]:
# 두 표준편차의 차이 절댓값으로 구하기

print(np.abs(enfj-infp))

5.859621525876811

1. 표준편차 : data['column'].std() 해당 컬럼의 표준편차
2. 절댓값 : np.abs()