# 수질 음용성 여부 예측

In [413]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/x_test.csv")


display(x_train.head())
display(y_train.head())

,ID,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,0,8.662710,173.531947,20333.079495,5.636388,439.787938,459.633120,16.283311,89.924253,5.120103
1,1,NaN,226.270824,15380.124079,6.661474,NaN,392.558205,14.083110,50.286395,4.516870
2,2,7.583770,217.283262,36343.407055,8.532726,375.964391,393.877683,17.442301,77.722257,3.642289
3,3,6.584813,182.375456,24723.106296,6.238920,NaN,414.350751,17.582615,78.213738,4.404132
4,4,7.179864,180.854211,10859.553752,8.263503,341.302486,358.056264,12.065317,83.329918,3.878447

   ID  Potability
0   0           0
1   1           1
2   2           0
3   3           0
4   4           0

In [414]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2620 entries, 0 to 2619
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2620 non-null   int64
 1   ph               2225 non-null   float64
 2   Hardness         2620 non-null   float64
 3   Solids           2620 non-null   float64
 4   Chloramines      2620 non-null   float64
 5   Sulfate          2003 non-null   float64
 6   Conductivity     2620 non-null   float64
 7   Organic_carbon   2620 non-null   float64
 8   Trihalomethanes  2488 non-null   float64
 9   Turbidity        2620 non-null   float64
dtypes: float64(9), int64(1)
memory usage: 204.8 KB

In [415]:
for col in x_train.columns:
    print(f'{col}의 NULL 값 여부 확인 : \n{x_train[col].isnull().sum()}')
    print('-'*80)

ID의 NULL 값 여부 확인 :
0
--------------------------------------------------------------------------------
ph의 NULL 값 여부 확인 :
395
--------------------------------------------------------------------------------
Hardness의 NULL 값 여부 확인 :
0
--------------------------------------------------------------------------------
Solids의 NULL 값 여부 확인 :
0
--------------------------------------------------------------------------------
Chloramines의 NULL 값 여부 확인 :
0
--------------------------------------------------------------------------------
Sulfate의 NULL 값 여부 확인 :
617
--------------------------------------------------------------------------------
Conductivity의 NULL 값 여부 확인 :
0
--------------------------------------------------------------------------------
Organic_carbon의 NULL 값 여부 확인 :
0
--------------------------------------------------------------------------------
Trihalomethanes의 NULL 값 여부 확인 :
132
--------------------------------------------------------------------------------
Turbidity의 NULL 값 여부 확인 :
0
--------------------------------------------------------------------------------

In [416]:
for col in x_test.columns:
    print(f'{col}의 NULL 값 여부 확인 : \n{x_test[col].isnull().sum()}')
    print('-'*80)

ID의 NULL 값 여부 확인 :
0
--------------------------------------------------------------------------------
ph의 NULL 값 여부 확인 :
107
--------------------------------------------------------------------------------
Hardness의 NULL 값 여부 확인 :
0
--------------------------------------------------------------------------------
Solids의 NULL 값 여부 확인 :
0
--------------------------------------------------------------------------------
Chloramines의 NULL 값 여부 확인 :
0
--------------------------------------------------------------------------------
Sulfate의 NULL 값 여부 확인 :
152
--------------------------------------------------------------------------------
Conductivity의 NULL 값 여부 확인 :
0
--------------------------------------------------------------------------------
Organic_carbon의 NULL 값 여부 확인 :
0
--------------------------------------------------------------------------------
Trihalomethanes의 NULL 값 여부 확인 :
38
--------------------------------------------------------------------------------
Turbidity의 NULL 값 여부 확인 :
0
--------------------------------------------------------------------------------

In [417]:
x_train.describe()

,ID,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
count,2620.000000,2225.000000,2620.000000,2620.000000,2620.000000,2003.000000,2620.000000,2620.000000,2488.000000,2620.000000
mean,1625.172901,7.059707,196.264418,22093.718726,7.128428,333.128452,426.860672,14.255754,66.362313,3.973541
std,943.704162,1.608470,33.367043,8840.992109,1.589347,41.675257,81.005322,3.335463,16.176955,0.776490
min,0.000000,0.000000,47.432000,728.750830,0.352000,129.000000,181.483754,2.200000,0.738000,1.450000
25%,810.750000,6.069364,176.676887,15675.546419,6.133588,307.592458,366.706407,12.053075,55.614198,3.439540
50%,1614.500000,7.025504,197.103467,20972.316194,7.145240,332.239359,422.145751,14.207656,66.363580,3.969391
75%,2443.250000,8.064653,217.024476,27410.099280,8.124300,358.967592,482.843561,16.509051,77.517441,4.514376
max,3275.000000,14.000000,317.338124,61227.196008,13.043806,481.030642,753.342620,28.300000,120.030077,6.357439

In [418]:
x_train['ph'] = x_train['ph'].fillna(x_train['ph'].mean())
x_train['Sulfate'] = x_train['Sulfate'].fillna(x_train['Sulfate'].mean())
x_train['Trihalomethanes'] = x_train['Trihalomethanes'].fillna(x_train['Trihalomethanes'].mean())

x_test['ph'] = x_test['ph'].fillna(x_test['ph'].mean())
x_test['Sulfate'] = x_test['Sulfate'].fillna(x_test['Sulfate'].mean())
x_test['Trihalomethanes'] = x_test['Trihalomethanes'].fillna(x_test['Trihalomethanes'].mean())

In [419]:
y = y_train['Potability']
x_train.drop('ID',axis=1,inplace=True)
x_test_id = x_test.pop('ID')

In [420]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [421]:
from sklearn.model_selection import train_test_split
x_tr,x_te,y_tr,y_te = train_test_split(x_train,y, test_size=0.1)

In [429]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier(n_estimators = 100, 
                                max_depth = 12,
                                min_samples_leaf = 8,
                                min_samples_split = 8,
                                random_state = 0,
                                n_jobs = -1)
model_rf.fit(x_tr,y_tr)
pred_rf = model_rf.predict(x_te)
model_rf.score(x_tr,y_tr)

0.7909245122985581

In [438]:
from xgboost import XGBClassifier
model_xgb = XGBClassifier(max_depth = 3,
                          eta = 0.1, 
                          objective = 'binary:logistic',
                          eval_metric = 'logloss',
                          early_stoppings = 100 )
model_xgb.fit(x_tr,y_tr)
pred_xgb = model_xgb.predict(x_te)
model_xgb.score(x_tr,y_tr)
# help(XGBClassifier())

[17:55:12] WARNING: C:/Users/administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "early_stoppings" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.

0.73960983884648

In [451]:
from sklearn.svm import SVC
model_svc = SVC()
model_svc.fit(x_tr,y_tr)
pred_svc = model_svc.predict(x_te)
model_svc.score(x_tr,y_tr)

0.7298558100084818

In [440]:
from sklearn.tree import DecisionTreeClassifier
model_dc = DecisionTreeClassifier(max_depth=10)
model_dc.fit(x_tr,y_tr)
pred_dc = model_dc.predict(x_te)
model_dc.score(x_tr,y_tr)
# help(DecisionTreeClassifier())

0.7332485156912638

In [441]:
from sklearn.linear_model import LogisticRegression
model_lr = LogisticRegression()
model_lr.fit(x_tr,y_tr)
pred_lr = model_lr.predict(x_te)
model_lr.score(x_tr,y_tr)

0.6136556403731976

In [452]:
from sklearn.metrics import classification_report

score_rf =classification_report(y_te,pred_rf)
score_xgb = classification_report(y_te,pred_xgb)
score_svc = classification_report(y_te,pred_svc)
score_dc = classification_report(y_te,pred_dc)
score_lr = classification_report(y_te,pred_lr)
print(score_rf)
print('-'*80)
print(score_xgb)
print('-'*80)
print(score_svc)
print('-'*80)
print(score_dc)
print('-'*80)
print(score_lr)

              precision    recall  f1-score   support

           0       0.63      0.94      0.76       155
           1       0.71      0.21      0.32       107

    accuracy                           0.64       262
   macro avg       0.67      0.57      0.54       262
weighted avg       0.66      0.64      0.58       262

--------------------------------------------------------------------------------
              precision    recall  f1-score   support

           0       0.64      0.93      0.76       155
           1       0.69      0.23      0.35       107

    accuracy                           0.65       262
   macro avg       0.67      0.58      0.55       262
weighted avg       0.66      0.65      0.59       262

--------------------------------------------------------------------------------
              precision    recall  f1-score   support

           0       0.66      0.94      0.77       155
           1       0.76      0.30      0.43       107

    accuracy                           0.68       262
   macro avg       0.71      0.62      0.60       262
weighted avg       0.70      0.68      0.63       262

--------------------------------------------------------------------------------
              precision    recall  f1-score   support

           0       0.63      0.78      0.70       155
           1       0.52      0.35      0.42       107

    accuracy                           0.60       262
   macro avg       0.58      0.56      0.56       262
weighted avg       0.59      0.60      0.58       262

--------------------------------------------------------------------------------
              precision    recall  f1-score   support

           0       0.59      1.00      0.74       155
           1       0.00      0.00      0.00       107

    accuracy                           0.59       262
   macro avg       0.30      0.50      0.37       262
weighted avg       0.35      0.59      0.44       262

C:\Users\SuperUser\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\SuperUser\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\SuperUser\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [79]:
final_predict = model_svc.predict(x_test)
output = pd.DataFrame({'ID': x_test_id,'Potability': final_predict})
output.head()

   ID  Potability
0  16           0
1  20           1
2  23           1
3  37           0
4  38           0

# 중고차 가격 예측 데이터

In [393]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_test.csv")


display(x_train.head())
display(y_train.head())

,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,13207,hyundi,Santa Fe,2019,Semi-Auto,4223,Diesel,145.0,39.8,2.2
1,17314,vauxhall,GTC,2015,Manual,47870,Diesel,125.0,60.1,2.0
2,12342,audi,RS4,2019,Automatic,5151,Petrol,145.0,29.1,2.9
3,13426,vw,Scirocco,2016,Automatic,20423,Diesel,30.0,57.6,2.0
4,16004,skoda,Scala,2020,Semi-Auto,3569,Petrol,145.0,47.1,1.0

   carID  price
0  13207  31995
1  17314   7700
2  12342  58990
3  13426  12999
4  16004  16990

In [394]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4960 entries, 0 to 4959
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   carID         4960 non-null   int64
 1   brand         4960 non-null   object
 2   model         4960 non-null   object
 3   year          4960 non-null   int64
 4   transmission  4960 non-null   object
 5   mileage       4960 non-null   int64
 6   fuelType      4960 non-null   object
 7   tax           4960 non-null   float64
 8   mpg           4960 non-null   float64
 9   engineSize    4960 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 387.6+ KB

In [395]:
obj_col = x_train.select_dtypes(include='object').columns
obj_col

for i in obj_col:
    print(f'{i}의 value 값 : \n {x_train[i].value_counts()}')
    print('-'*80)

brand의 value 값 :
 merc        790
vw          768
ford        766
bmw         638
hyundi      511
toyota      446
skoda       425
audi        343
vauxhall    273
Name: brand, dtype: int64
--------------------------------------------------------------------------------
model의 value 값 :
  Arteon         167
 Grand C-MAX    164
 Scirocco       163
 Prius          154
 Santa Fe       150
               ...
 Eos              5
 Z3               5
 Getz             4
 CLK              4
 IQ               2
Name: model, Length: 90, dtype: int64
--------------------------------------------------------------------------------
transmission의 value 값 :
 Manual       1948
Automatic    1660
Semi-Auto    1351
Other           1
Name: transmission, dtype: int64
--------------------------------------------------------------------------------
fuelType의 value 값 :
 Diesel      2989
Petrol      1754
Hybrid       189
Other         26
Electric       2
Name: fuelType, dtype: int64
--------------------------------------------------------------------------------

In [396]:
obj_col = x_test.select_dtypes(include='object').columns
obj_col

for i in obj_col:
    print(f'{i}의 value 값 : \n {x_test[i].value_counts()}')
    print('-'*80)

brand의 value 값 :
 ford        430
merc        429
vw          391
bmw         340
hyundi      306
toyota      271
skoda       213
audi        180
vauxhall    112
Name: brand, dtype: int64
--------------------------------------------------------------------------------
model의 value 값 :
  Santa Fe       95
 Galaxy         93
 CLS Class      91
 Grand C-MAX    83
 Arteon         81
                ..
 Eos             2
 Z3              2
 S4              1
 Caddy           1
 Caddy Life      1
Name: model, Length: 89, dtype: int64
--------------------------------------------------------------------------------
transmission의 value 값 :
 Manual       989
Automatic    928
Semi-Auto    754
Other          1
Name: transmission, dtype: int64
--------------------------------------------------------------------------------
fuelType의 value 값 :
 Diesel      1662
Petrol       901
Hybrid        98
Other         10
Electric       1
Name: fuelType, dtype: int64
--------------------------------------------------------------------------------

In [397]:
x_test_id = x_test.pop('carID')
x_train.drop('carID',axis=1,inplace=True)
y = y_train['price']

In [398]:
col = ['brand','transmission','fuelType']
x_train = pd.get_dummies(x_train,columns = col)
x_test = pd.get_dummies(x_test,columns = col)

In [399]:
num_col

Index(['year', 'mileage', 'tax', 'mpg', 'engineSize', 'brand_audi',
       'brand_bmw', 'brand_ford', 'brand_hyundi', 'brand_merc', 'brand_skoda',
       'brand_toyota', 'brand_vauxhall', 'brand_vw', 'transmission_Automatic',
       'transmission_Manual', 'transmission_Other', 'transmission_Semi-Auto',
       'fuelType_Diesel', 'fuelType_Electric', 'fuelType_Hybrid',
       'fuelType_Other', 'fuelType_Petrol'],
      dtype='object')

In [400]:
from sklearn.preprocessing import StandardScaler
num_col = x_train.select_dtypes(exclude='object').columns

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train[num_col])
x_test = scaler.fit_transform(x_test[num_col])

In [401]:
from sklearn.model_selection import train_test_split
x_tr,x_te,y_tr,y_te = train_test_split(x_train,y,test_size=0.2,random_state=2022)

In [402]:
from xgboost import XGBRegressor

model_xgb = XGBRegressor(learning_rate=0.05)
model_xgb.fit(x_tr,y_tr)
pred_xgb = model_xgb.predict(x_te)
model_xgb.score(x_tr,y_tr)

0.9709318396470045

In [403]:
from sklearn.linear_model import LinearRegression
model_lr = LinearRegression()
model_lr.fit(x_tr,y_tr)
pred_lr = model_lr.predict(x_te)
model_lr.score(x_tr,y_tr)

0.7164181386527304

In [404]:
from sklearn.ensemble import RandomForestRegressor
model_rf = RandomForestRegressor()
model_rf.fit(x_tr,y_tr)
pred_rf = model_rf.predict(x_te)
model_rf.score(x_tr,y_tr)

0.9918236486525954

In [405]:
from sklearn.metrics import mean_squared_error
score_xgb = mean_squared_error(y_te,pred_xgb)
score_lr = mean_squared_error(y_te,pred_lr)
score_rf = mean_squared_error(y_te,pred_rf)
print(score_xgb,score_lr,score_rf)

18305865.466297135 63382743.151165284 16963000.693045184

In [406]:
from sklearn.metrics import r2_score
r2_xgb = r2_score(y_te,pred_xgb)
r2_lr = r2_score(y_te,pred_lr)
r2_rf = r2_score(y_te,pred_rf)
print(r2_xgb,r2_lr,r2_rf)

0.9221005677403409 0.7302788160643947 0.9278150423512472

In [407]:
final_pred = model_rf.predict(x_test)

output = pd.DataFrame({'carID':x_test_id,'price':final_pred})
output.head()

   carID     price
0  12000  37738.93
1  12001  23166.92
2  12004  56881.02
3  12013  16045.25
4  12017  49140.62

# 의료비용 예측 데이터

In [362]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/x_test.csv")


display(x_train.head())
display(y_train.head())

   ID  age     sex     bmi  children smoker     region
0   2   35  female  35.860         2     no  southeast
1   3   28  female  23.845         2     no  northwest
2   4   23  female  32.780         2    yes  southeast
3   6   52  female  25.300         2    yes  southeast
4   7   63    male  39.800         3     no  southwest

   ID      charges
0   2   5836.52040
1   3   4719.73655
2   4  36021.01120
3   6  24667.41900
4   7  15170.06900

In [363]:
x_test_id = x_test.pop('ID')
x_train.drop('ID',axis=1,inplace=True)
y=y_train['charges']

In [364]:
x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

In [365]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test =scaler.fit_transform(x_test)

In [366]:
from sklearn.model_selection import train_test_split
x_tr,x_te,y_tr,y_te = train_test_split(x_train,y,test_size=0.1,random_state=2022)

In [412]:
from sklearn.ensemble import RandomForestRegressor
model_rf = RandomForestRegressor()
model_rf.fit(x_tr,y_tr)
pred_rf = model_rf.predict(x_te)
model_rf.score(x_tr,y_tr)

0.9924812256890587

In [368]:
from xgboost import XGBRegressor
model_xgb = XGBRegressor()
model_xgb.fit(x_tr,y_tr)
pred_xgb = model_xgb.predict(x_te)
model_xgb.score(x_tr,y_tr)

0.9957633237356179

In [369]:
import sklearn.linear_model
print(sklearn.linear_model.__all__)

['ARDRegression', 'BayesianRidge', 'ElasticNet', 'ElasticNetCV', 'Hinge', 'Huber', 'HuberRegressor', 'Lars', 'LarsCV', 'Lasso', 'LassoCV', 'LassoLars', 'LassoLarsCV', 'LassoLarsIC', 'LinearRegression', 'Log', 'LogisticRegression', 'LogisticRegressionCV', 'ModifiedHuber', 'MultiTaskElasticNet', 'MultiTaskElasticNetCV', 'MultiTaskLasso', 'MultiTaskLassoCV', 'OrthogonalMatchingPursuit', 'OrthogonalMatchingPursuitCV', 'PassiveAggressiveClassifier', 'PassiveAggressiveRegressor', 'Perceptron', 'QuantileRegressor', 'Ridge', 'RidgeCV', 'RidgeClassifier', 'RidgeClassifierCV', 'SGDClassifier', 'SGDRegressor', 'SGDOneClassSVM', 'SquaredLoss', 'TheilSenRegressor', 'enet_path', 'lars_path', 'lars_path_gram', 'lasso_path', 'orthogonal_mp', 'orthogonal_mp_gram', 'ridge_regression', 'RANSACRegressor', 'PoissonRegressor', 'GammaRegressor', 'TweedieRegressor']

In [370]:
from sklearn.linear_model import LinearRegression
model_lr = LinearRegression()
model_lr.fit(x_tr,y_tr)
pred_lr = model_lr.predict(x_te)
model_lr.score(x_tr,y_tr)

0.751701630629262

In [375]:
from sklearn.metrics import r2_score
score_rf = r2_score(y_te,pred_rf)
score_xgb = r2_score(y_te,pred_xgb)
score_lr = r2_score(y_te,pred_lr)
print(score_rf,score_xgb,score_lr)

0.8308896892559241 0.8181151581420787 0.7439350482542846

In [372]:
final_pred = model_rf.predict(x_test)
output = pd.DataFrame({'ID':x_test_id, 'charges':final_pred})
output.head()

   ID       charges
0   0   5432.826103
1   1   3369.066246
2   5   8564.029712
3  21   6296.263409
4  26  11735.360279