# 서비스 이탈예측 데이터

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.svm import SVC

from sklearn.metrics import classification_report
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_test.csv")


display(x_train.head())
display(y_train.head())

display(x_train.info())
display(x_train.describe())

str_col = x_train.select_dtypes('object').columns
for col in str_col:
    print(f'{col}값의 value : \n {x_train[col].value_counts()}')
    print('-'*80)

x_test.drop('Surname',axis=1,inplace=True)
x_test_id = x_test.pop('CustomerId')
x_train.drop(columns=['CustomerId','Surname'],axis=1,inplace=True)
y = y_train['Exited']

x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

x_tr,x_te,y_tr,y_te = train_test_split(x_train,y,test_size = 0.2,random_state=2022)

model_rf = RandomForestClassifier(random_state=2022)
model_rf.fit(x_tr,y_tr)
pred_rf = model_rf.predict(x_te)
report_rf= classification_report(y_te, pred_rf)
print(report_rf)
print('-'*80)

model_xgb = XGBClassifier(random_state=2022)
model_xgb.fit(x_tr,y_tr)
pred_xgb = model_xgb.predict(x_te)
report_xgb = classification_report(y_te,pred_xgb)
print(report_xgb)
print('-'*80)

model_svc = SVC(random_state=2022)
model_svc.fit(x_tr,y_tr)
pred_svc = model_svc.predict(x_te)
report_svc = classification_report(y_te, pred_svc)
print(report_svc)
print('-'*80)

# model_rf.fit(x_train,y)

final_pred = model_rf.predict(x_test)
output = pd.DataFrame({'CustomerId' : x_test_id,'Exited':final_pred})
print(output.head())

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15799217,Zetticci,791,Germany,Female,35,7,52436.20,1,1,0,161051.75
1,15748986,Bischof,705,Germany,Male,42,8,166685.92,2,1,1,55313.51
2,15722004,Hsiung,543,France,Female,31,4,138317.94,1,0,0,61843.73
3,15780966,Pritchard,709,France,Female,32,2,0.00,2,0,0,109681.29
4,15636731,Ts'ai,714,Germany,Female,36,1,101609.01,2,1,1,447.73

   CustomerId  Exited
0    15799217       0
1    15748986       0
2    15722004       0
3    15780966       0
4    15636731       0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6499 entries, 0 to 6498
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       6499 non-null   int64
 1   Surname          6499 non-null   object
 2   CreditScore      6499 non-null   int64
 3   Geography        6499 non-null   object
 4   Gender           6499 non-null   object
 5   Age              6499 non-null   int64
 6   Tenure           6499 non-null   int64
 7   Balance          6499 non-null   float64
 8   NumOfProducts    6499 non-null   int64
 9   HasCrCard        6499 non-null   int64
 10  IsActiveMember   6499 non-null   int64
 11  EstimatedSalary  6499 non-null   float64
dtypes: float64(2), int64(7), object(3)
memory usage: 609.4+ KB

None

,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
count,6.499000e+03,6499.000000,6499.000000,6499.000000,6499.000000,6499.000000,6499.000000,6499.000000,6499.000000
mean,1.569157e+07,650.396830,38.957070,5.041545,76836.581068,1.519772,0.708878,0.514387,100346.564524
std,7.187584e+04,96.618957,10.502803,2.891779,62407.570894,0.578975,0.454314,0.499831,57944.655305
min,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,11.580000
25%,1.562949e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.000000,0.000000,50907.565000
50%,1.569181e+07,651.000000,37.000000,5.000000,97560.160000,1.000000,1.000000,1.000000,100496.840000
75%,1.575358e+07,718.000000,44.000000,8.000000,127844.690000,2.000000,1.000000,1.000000,150480.155000
max,1.581566e+07,850.000000,92.000000,10.000000,238387.560000,4.000000,1.000000,1.000000,199970.740000

Surname값의 value :
 Brown         21
Scott         20
Shih          20
Martin        19
Smith         19
              ..
Steiner        1
Descoteaux     1
Sozonov        1
Jefferson      1
Gilleland      1
Name: Surname, Length: 2289, dtype: int64
--------------------------------------------------------------------------------
Geography값의 value :
 France     3227
Germany    1650
Spain      1622
Name: Geography, dtype: int64
--------------------------------------------------------------------------------
Gender값의 value :
 Male      3485
Female    2861
 male       80
female      73
Name: Gender, dtype: int64
--------------------------------------------------------------------------------
              precision    recall  f1-score   support

           0       0.86      0.97      0.92      1027
           1       0.81      0.43      0.56       273

    accuracy                           0.86      1300
   macro avg       0.84      0.70      0.74      1300
weighted avg       0.85      0.86      0.84      1300

--------------------------------------------------------------------------------
              precision    recall  f1-score   support

           0       0.88      0.95      0.91      1027
           1       0.72      0.49      0.59       273

    accuracy                           0.85      1300
   macro avg       0.80      0.72      0.75      1300
weighted avg       0.84      0.85      0.84      1300

--------------------------------------------------------------------------------
              precision    recall  f1-score   support

           0       0.85      0.98      0.91      1027
           1       0.81      0.34      0.48       273

    accuracy                           0.85      1300
   macro avg       0.83      0.66      0.70      1300
weighted avg       0.84      0.85      0.82      1300

--------------------------------------------------------------------------------
점수: 1.0
   CustomerId  Exited
0    15601012       1
1    15734762       1
2    15586757       0
3    15590888       0
4    15726087       0

# 이직여부 판단 데이터

In [6]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,RobustScaler,MinMaxScaler,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,roc_auc_score

from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv")
y_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_test.csv")

display(x_train.head())
display(y_train.head())

print(x_train.info())
print('-'*80)
print(x_test.info())
print('-'*80)

print(x_train.describe())
print('-'*80)
print(x_test.describe())
print('-'*80)

col = ['gender','enrolled_university','education_level','major_discipline','experience','company_size','company_type','last_new_job']

for i in col:
    print(f'{i} unique_value : \n{x_train[i].unique()}')
    print(f'{i} value : \n{x_train[i].value_counts()}')
    print('-'*80)

x_train['gender'].fillna('other',inplace=True)
x_train['enrolled_university'].fillna('no_enrollment',inplace=True)
x_train['education_level'].fillna('Graduate',inplace=True)
x_train['major_discipline'].fillna('STEM',inplace=True)
x_train['experience'].fillna('0',inplace=True)
x_train['company_size'].fillna('<10',inplace=True)
x_train['company_type'].fillna('other',inplace=True)
x_train['last_new_job'].fillna('never',inplace=True)

x_test['gender'].fillna('other',inplace=True)
x_test['enrolled_university'].fillna('no_enrollment',inplace=True)
x_test['education_level'].fillna('Graduate',inplace=True)
x_test['major_discipline'].fillna('STEM',inplace=True)
x_test['experience'].fillna('0',inplace=True)
x_test['company_size'].fillna('<10',inplace=True)
x_test['company_type'].fillna('other',inplace=True)
x_test['last_new_job'].fillna('never',inplace=True)

x_test['experience'] = x_test['experience'].replace(['>20','<1'],['20+','1-'])
x_train['experience'] = x_train['experience'].replace(['>20','<1'],['20+','1-'])
x_test['company_size'] = x_test['company_size'].replace('<10','10-')
x_train['company_size'] = x_train['company_size'].replace('<10','10-')
x_test['last_new_job'] = x_test['last_new_job'].replace('>4','4+')
x_train['last_new_job'] = x_train['last_new_job'].replace('>4','4+')

x_test_id=x_test['enrollee_id']
x_test.drop(columns=['enrollee_id','city'],axis=1,inplace=True)
x_train.drop(columns=['enrollee_id','city'],axis=1,inplace=True)
y=y_train['target']

from sklearn.preprocessing import StandardScaler,LabelEncoder
le = LabelEncoder()
str_col = x_train.select_dtypes('object').columns
num_col = x_train.select_dtypes(exclude='object').columns
for col in str_col:
    x_train[col]=le.fit_transform(x_train[col])
    x_test[col] = le.fit_transform(x_test[col])

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

x_tr,x_te,y_tr,y_te = train_test_split(x_train,y,test_size=0.2,random_state=2022)

model_rf = RandomForestClassifier(max_depth=5,n_estimators=200)
model_rf.fit(x_tr,y_tr)
pred_rf = model_rf.predict(x_te)
score_rf = model_rf.score(x_te,y_te)

model_xgb = XGBClassifier()
model_xgb.fit(x_tr,y_tr)
pred_xgb = model_xgb.predict(x_te)
score_xgb = model_xgb.score(x_te,y_te)

model_svc = SVC()
model_svc.fit(x_tr,y_tr)
pred_svc = model_svc.predict(x_te)
score_svc = model_svc.score(x_te,y_te)

model_dc = DecisionTreeClassifier()
model_dc.fit(x_tr,y_tr)
pred_dc = model_dc.predict(x_te)
score_dc = model_dc.score(x_te,y_te)

print(score_rf,score_xgb,score_svc,score_dc)

report_rf = classification_report(y_te,pred_rf)
report_xgb = classification_report(y_te,pred_xgb)
report_svc = classification_report(y_te,pred_svc)
report_dc = classification_report(y_te,pred_dc)

print(report_rf)
print('-'*80)
print(report_xgb)
print('-'*80)
print(report_svc)
print('-'*80)
print(report_dc)
print('-'*80)

final_pred1 = model_rf.predict_proba(x_test)
final_pred2 = model_xgb.predict_proba(x_test)
# final_pred3 = model_svc.predict_proba(x_test)
final_pred4 = model_dc.predict_proba(x_test)

print(roc_auc_score(y_test['target'],final_pred1[:,1]))
print('-'*80)
print(roc_auc_score(y_test['target'],final_pred2[:,1]))
print('-'*80)
# print(roc_auc_score(y_test['target'],final_pred3[:,1]))
print('-'*80)
print(roc_auc_score(y_test['target'],final_pred4[:,1]))
print('-'*80)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,25298,city_138,0.836,Male,No relevent experience,Full time course,High School,NaN,5,100-500,Pvt Ltd,1,45
1,4241,city_160,0.920,Male,No relevent experience,Full time course,High School,NaN,5,NaN,NaN,1,17
2,24086,city_57,0.866,Male,No relevent experience,no_enrollment,Graduate,STEM,10,NaN,NaN,1,50
3,26773,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,>4,135
4,32325,city_143,0.740,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,17

   enrollee_id  target
0        25298     0.0
1         4241     1.0
2        24086     0.0
3        26773     0.0
4        32325     1.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12452 entries, 0 to 12451
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             12452 non-null  int64
 1   city                    12452 non-null  object
 2   city_development_index  12452 non-null  float64
 3   gender                  9535 non-null   object
 4   relevent_experience     12452 non-null  object
 5   enrolled_university     12195 non-null  object
 6   education_level         12137 non-null  object
 7   major_discipline        10586 non-null  object
 8   experience              12415 non-null  object
 9   company_size            8600 non-null   object
 10  company_type            8471 non-null   object
 11  last_new_job            12179 non-null  object
 12  training_hours          12452 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 1.2+ MB
None
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6706 entries, 0 to 6705
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             6706 non-null   int64
 1   city                    6706 non-null   object
 2   city_development_index  6706 non-null   float64
 3   gender                  5115 non-null   object
 4   relevent_experience     6706 non-null   object
 5   enrolled_university     6577 non-null   object
 6   education_level         6561 non-null   object
 7   major_discipline        5759 non-null   object
 8   experience              6678 non-null   object
 9   company_size            4620 non-null   object
 10  company_type            4547 non-null   object
 11  last_new_job            6556 non-null   object
 12  training_hours          6706 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 681.2+ KB
None
--------------------------------------------------------------------------------
        enrollee_id  city_development_index  training_hours
count  12452.000000            12452.000000    12452.000000
mean   16966.301076                0.829709       65.604481
std     9646.223269                0.123087       60.430340
min        1.000000                0.448000        1.000000
25%     8591.500000                0.740000       23.000000
50%    17177.500000                0.910000       47.000000
75%    25327.750000                0.920000       88.000000
max    33380.000000                0.949000      336.000000
--------------------------------------------------------------------------------
        enrollee_id  city_development_index  training_hours
count   6706.000000             6706.000000     6706.000000
mean   16706.491351                0.827249       64.925738
std     9558.889892                0.123865       59.363724
min        4.000000                0.448000        1.000000
25%     8509.000000                0.738000       23.000000
50%    16613.500000                0.899000       47.000000
75%    24866.500000                0.920000       88.000000
max    33379.000000                0.949000      336.000000
--------------------------------------------------------------------------------
gender unique_value :
['Male' nan 'Female' 'Other']
gender value :
Male      8595
Female     808
Other      132
Name: gender, dtype: int64
--------------------------------------------------------------------------------
enrolled_university unique_value :
['Full time course' 'no_enrollment' 'Part time course' nan]
enrolled_university value :
no_enrollment       8975
Full time course    2431
Part time course     789
Name: enrolled_university, dtype: int64
--------------------------------------------------------------------------------
education_level unique_value :
['High School' 'Graduate' 'Primary School' 'Masters' 'Phd' nan]
education_level value :
Graduate          7540
Masters           2796
High School       1336
Phd                269
Primary School     196
Name: education_level, dtype: int64
--------------------------------------------------------------------------------
major_discipline unique_value :
[nan 'STEM' 'Other' 'Humanities' 'No Major' 'Business Degree' 'Arts']
major_discipline value :
STEM               9414
Humanities          436
Other               248
Business Degree     195
Arts                157
No Major            136
Name: major_discipline, dtype: int64
--------------------------------------------------------------------------------
experience unique_value :
['5' '10' '>20' '6' '14' '20' '7' '9' '8' '4' '3' '13' '16' '2' '12' '15'
 '11' '1' '<1' '17' '18' nan '19']
experience value :
>20    2179
4       945
5       926
3       858
6       795
2       713
7       661
9       657
10      633
8       520
15      470
11      428
14      368
1       354
16      334
<1      331
12      317
13      260
17      224
19      200
18      151
20       91
Name: experience, dtype: int64
--------------------------------------------------------------------------------
company_size unique_value :
['100-500' nan '50-99' '10/49' '10000+' '1000-4999' '<10' '500-999'
 '5000-9999']
company_size value :
50-99        2000
100-500      1672
10000+       1337
10/49         947
1000-4999     852
<10           838
500-999       599
5000-9999     355
Name: company_size, dtype: int64
--------------------------------------------------------------------------------
company_type unique_value :
['Pvt Ltd' nan 'Public Sector' 'NGO' 'Funded Startup'
 'Early Stage Startup' 'Other']
company_type value :
Pvt Ltd                6413
Funded Startup          652
Public Sector           620
Early Stage Startup     365
NGO                     340
Other                    81
Name: company_type, dtype: int64
--------------------------------------------------------------------------------
last_new_job unique_value :
['1' '>4' 'never' '2' '4' '3' nan]
last_new_job value :
1        5157
>4       2182
2        1895
never    1584
3         685
4         676
Name: last_new_job, dtype: int64
--------------------------------------------------------------------------------
0.7868325973504616 0.7836210357286231 0.7876354877559213 0.7109594540345243
              precision    recall  f1-score   support

         0.0       0.81      0.93      0.87      1864
         1.0       0.63      0.36      0.46       627

    accuracy                           0.79      2491
   macro avg       0.72      0.65      0.66      2491
weighted avg       0.77      0.79      0.76      2491

--------------------------------------------------------------------------------
              precision    recall  f1-score   support

         0.0       0.83      0.89      0.86      1864
         1.0       0.59      0.47      0.52       627

    accuracy                           0.78      2491
   macro avg       0.71      0.68      0.69      2491
weighted avg       0.77      0.78      0.77      2491

--------------------------------------------------------------------------------
              precision    recall  f1-score   support

         0.0       0.81      0.94      0.87      1864
         1.0       0.66      0.32      0.43       627

    accuracy                           0.79      2491
   macro avg       0.73      0.63      0.65      2491
weighted avg       0.77      0.79      0.76      2491

--------------------------------------------------------------------------------
              precision    recall  f1-score   support

         0.0       0.82      0.79      0.80      1864
         1.0       0.43      0.47      0.45       627

    accuracy                           0.71      2491
   macro avg       0.62      0.63      0.63      2491
weighted avg       0.72      0.71      0.71      2491

--------------------------------------------------------------------------------
0.7789800291035314
--------------------------------------------------------------------------------
0.7336768467245696
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
0.5970209394300574
--------------------------------------------------------------------------------

# 정시 배송여부 판단

In [7]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,RobustScaler,MinMaxScaler,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,roc_auc_score

from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv")
y_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_test.csv')

display(x_train.head())
display(y_train.head())

print(x_train.info())
print(x_train.describe())

str_col = x_train.select_dtypes('object').columns
for col in str_col:
    print(f'{col}값의 value 값 : \n{x_train[col].value_counts()}')
    print('-'*80)

x_test_id = x_test.pop('ID')
x_train.drop('ID',axis=1,inplace=True)
y = y_train['Reached.on.Time_Y.N']

x_train['Customer_care_calls']=x_train['Customer_care_calls'].replace({'$7':'7'}).astype('int')
x_test['Customer_care_calls']=x_test['Customer_care_calls'].replace({'$7':'7'}).astype('int')

x_train=pd.get_dummies(x_train,columns=['Gender'])
x_test=pd.get_dummies(x_test,columns=['Gender'])

le = LabelEncoder()
str_col1 = ['Warehouse_block','Mode_of_Shipment','Customer_care_calls','Product_importance']
for col in str_col1:
    x_train[col] = le.fit_transform(x_train[col])
    x_test[col] = le.fit_transform(x_test[col])
scaler = StandardScaler()
x_train['Discount_offered']=scaler.fit_transform(x_train[['Discount_offered']])
x_test['Discount_offered']=scaler.fit_transform(x_test[['Discount_offered']])



x_tr,x_te,y_tr,y_te = train_test_split(x_train,y,test_size=0.2,random_state=2022)

model_rf = RandomForestClassifier(max_depth=5,n_estimators=200)
model_rf.fit(x_tr,y_tr)
pred_rf = model_rf.predict(x_te)
score_rf = model_rf.score(x_te,y_te)

model_xgb = XGBClassifier()
model_xgb.fit(x_tr,y_tr)
pred_xgb = model_xgb.predict(x_te)
score_xgb = model_xgb.score(x_te,y_te)

model_svc = SVC()
model_svc.fit(x_tr,y_tr)
pred_svc = model_svc.predict(x_te)
score_svc = model_svc.score(x_te,y_te)

model_dc = DecisionTreeClassifier()
model_dc.fit(x_tr,y_tr)
pred_dc = model_dc.predict(x_te)
score_dc = model_dc.score(x_te,y_te)

print(score_rf,score_xgb,score_svc,score_dc)

report_rf = classification_report(y_te,pred_rf)
report_xgb = classification_report(y_te,pred_xgb)
report_svc = classification_report(y_te,pred_svc)
report_dc = classification_report(y_te,pred_dc)

print(report_rf)
print('-'*80)
print(report_xgb)
print('-'*80)
print(report_svc)
print('-'*80)
print(report_dc)
print('-'*80)

final_pred1 = model_rf.predict_proba(x_test)
final_pred2 = model_xgb.predict_proba(x_test)
# final_pred3 = model_svc.predict(x_test)
final_pred4 = model_dc.predict_proba(x_test)

print(roc_auc_score(y_test['Reached.on.Time_Y.N'],final_pred1[:,1]))
print('-'*80)
print(roc_auc_score(y_test['Reached.on.Time_Y.N'],final_pred2[:,1]))
print('-'*80)
# print(roc_auc_score(y_test['Reached.on.Time_Y.N'],final_pred3))
print('-'*80)
print(roc_auc_score(y_test['Reached.on.Time_Y.N'],final_pred4[:,1]))
print('-'*80)

final_pred = model_rf.predict(x_test)
output = pd.DataFrame({'ID': x_test_id,'Reached.on.Time_Y.N':final_pred})
output.head(10)

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,6045,A,Flight,4,3,266,5,high,F,5,1590
1,44,F,Ship,3,1,174,2,low,M,44,1556
2,7940,F,Road,4,1,154,10,high,M,10,5674
3,1596,F,Ship,4,3,158,3,medium,F,27,1207
4,4395,A,Flight,5,3,175,3,low,M,7,4833

     ID  Reached.on.Time_Y.N
0  6045                    0
1    44                    1
2  7940                    1
3  1596                    1
4  4395                    1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6598 non-null   int64
 1   Warehouse_block      6598 non-null   object
 2   Mode_of_Shipment     6598 non-null   object
 3   Customer_care_calls  6598 non-null   object
 4   Customer_rating      6598 non-null   int64
 5   Cost_of_the_Product  6598 non-null   int64
 6   Prior_purchases      6598 non-null   int64
 7   Product_importance   6598 non-null   object
 8   Gender               6598 non-null   object
 9   Discount_offered     6598 non-null   int64
 10  Weight_in_gms        6598 non-null   int64
dtypes: int64(6), object(5)
memory usage: 567.1+ KB
None
                 ID  Customer_rating  Cost_of_the_Product  Prior_purchases  \
count   6598.000000      6598.000000          6598.000000      6598.000000
mean    5476.977266         2.991361           210.393149         3.577751
std     3172.946154         1.409624            48.258089         1.511394
min        1.000000         1.000000            96.000000         2.000000
25%     2731.250000         2.000000           170.000000         3.000000
50%     5476.000000         3.000000           214.000000         3.000000
75%     8187.750000         4.000000           251.000000         4.000000
max    10998.000000         5.000000           310.000000        10.000000

       Discount_offered  Weight_in_gms
count       6598.000000    6598.000000
mean          13.353592    3604.191119
std           16.187267    1635.697627
min            1.000000    1001.000000
25%            4.000000    1834.250000
50%            7.000000    4119.500000
75%           10.000000    5027.500000
max           65.000000    7684.000000
Warehouse_block값의 value 값 :
F    2262
B    1116
A    1090
D    1069
C    1061
Name: Warehouse_block, dtype: int64
--------------------------------------------------------------------------------
Mode_of_Shipment값의 value 값 :
Ship      4512
Flight    1066
Road      1020
Name: Mode_of_Shipment, dtype: int64
--------------------------------------------------------------------------------
Customer_care_calls값의 value 값 :
4     2115
3     1919
5     1403
6      604
2      404
$7     153
Name: Customer_care_calls, dtype: int64
--------------------------------------------------------------------------------
Product_importance값의 value 값 :
low       3162
medium    2866
high       570
Name: Product_importance, dtype: int64
--------------------------------------------------------------------------------
Gender값의 value 값 :
F    3311
M    3287
Name: Gender, dtype: int64
--------------------------------------------------------------------------------
0.693939393939394 0.6545454545454545 0.6575757575757576 0.6507575757575758
              precision    recall  f1-score   support

           0       0.58      0.90      0.71       546
           1       0.89      0.55      0.68       774

    accuracy                           0.69      1320
   macro avg       0.73      0.72      0.69      1320
weighted avg       0.76      0.69      0.69      1320

--------------------------------------------------------------------------------
              precision    recall  f1-score   support

           0       0.57      0.66      0.61       546
           1       0.73      0.65      0.69       774

    accuracy                           0.65      1320
   macro avg       0.65      0.66      0.65      1320
weighted avg       0.66      0.65      0.66      1320

--------------------------------------------------------------------------------
              precision    recall  f1-score   support

           0       0.58      0.60      0.59       546
           1       0.71      0.70      0.71       774

    accuracy                           0.66      1320
   macro avg       0.65      0.65      0.65      1320
weighted avg       0.66      0.66      0.66      1320

--------------------------------------------------------------------------------
              precision    recall  f1-score   support

           0       0.58      0.57      0.58       546
           1       0.70      0.71      0.70       774

    accuracy                           0.65      1320
   macro avg       0.64      0.64      0.64      1320
weighted avg       0.65      0.65      0.65      1320

--------------------------------------------------------------------------------
0.734739924696695
--------------------------------------------------------------------------------
0.7349651909936389
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
0.6376901622990034
--------------------------------------------------------------------------------

     ID  Reached.on.Time_Y.N
0  6811                    0
1  4320                    0
2  5732                    0
3  7429                    0
4  2191                    1
5  8618                    0
6  3311                    0
7  7221                    1
8  3291                    0
9  9115                    0

# 성인건강검진 데이터

In [8]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,RobustScaler,MinMaxScaler
from sklearn.metrics import classification_report,roc_auc_score
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/x_test.csv")
y_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/y_test.csv")

display(x_train.head())
display(y_train.head())

print(x_train.info())
print(x_train.describe())

x_test_id = x_test.pop('ID')
x_train.drop('ID',axis=1,inplace=True)
y = y_train['흡연상태']

x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

x_tr,x_te,y_tr,y_te = train_test_split(x_train,y,test_size=0.2)

model_rf = RandomForestClassifier()
model_rf.fit(x_tr,y_tr)
pred_rf = model_rf.predict(x_te)
score_rf = model_rf.score(x_te,y_te)

model_xgb = XGBClassifier()
model_xgb.fit(x_tr,y_tr)
pred_xgb = model_xgb.predict(x_te)
score_xgb = model_xgb.score(x_te,y_te)

model_svc = SVC()
model_svc.fit(x_tr,y_tr)
pred_svc = model_svc.predict(x_te)
score_svc = model_svc.score(x_te,y_te)

model_dc = DecisionTreeClassifier()
model_dc.fit(x_tr,y_tr)
pred_dc = model_dc.predict(x_te)
score_dc = model_dc.score(x_te,y_te)

print(score_rf,score_xgb,score_svc,score_dc)

report_rf = classification_report(y_te,pred_rf)
report_xgb = classification_report(y_te,pred_xgb)
report_svc = classification_report(y_te,pred_svc)
report_dc = classification_report(y_te,pred_dc)

print(report_rf)
print('-'*80)
print(report_xgb)
print('-'*80)
print(report_svc)
print('-'*80)
print(report_dc)
print('-'*80)

final_pred1 = model_rf.predict_proba(x_test)
final_pred2 = model_xgb.predict_proba(x_test)
# final_pred3 = model_svc.predict(x_test)
final_pred4 = model_dc.predict_proba(x_test)

print(roc_auc_score(y_test['흡연상태'],final_pred1[:,1]))
print('-'*80)
print(roc_auc_score(y_test['흡연상태'],final_pred2[:,1]))
print('-'*80)
# print(roc_auc_score(y_test['흡연상태'],final_pred3))
print('-'*80)
print(roc_auc_score(y_test['흡연상태'],final_pred4[:,1]))
print('-'*80)


final_pred = model_rf.predict(x_test)
output = pd.DataFrame({'ID': x_test_id,'흡연상태':final_pred})
output.head(10)

,ID,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),...,LDL콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,구강검진수검여부,치아우식증유무,치석
0,0,F,40,155,60,81.3,1.2,1.0,1.0,1.0,...,126.0,12.9,1.0,0.7,18.0,19.0,27.0,Y,0.0,Y
1,1,F,40,160,60,81.0,0.8,0.6,1.0,1.0,...,127.0,12.7,1.0,0.6,22.0,19.0,18.0,Y,0.0,Y
2,2,M,55,170,60,80.0,0.8,0.8,1.0,1.0,...,151.0,15.8,1.0,1.0,21.0,16.0,22.0,Y,0.0,N
3,3,M,40,165,70,88.0,1.5,1.5,1.0,1.0,...,226.0,14.7,1.0,1.0,19.0,26.0,18.0,Y,0.0,Y
4,4,F,40,155,60,86.0,1.0,1.0,1.0,1.0,...,107.0,12.5,1.0,0.6,16.0,14.0,22.0,Y,0.0,N

   ID  흡연상태
0   0     0
1   1     0
2   2     1
3   3     0
4   4     0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44553 entries, 0 to 44552
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           44553 non-null  int64
 1   성별코드         44553 non-null  object
 2   연령대코드(5세단위)  44553 non-null  int64
 3   신장(5Cm단위)    44553 non-null  int64
 4   체중(5Kg단위)    44553 non-null  int64
 5   허리둘레         44553 non-null  float64
 6   시력(좌)        44553 non-null  float64
 7   시력(우)        44553 non-null  float64
 8   청력(좌)        44553 non-null  float64
 9   청력(우)        44553 non-null  float64
 10  수축기혈압        44553 non-null  float64
 11  이완기혈압        44553 non-null  float64
 12  식전혈당(공복혈당)   44553 non-null  float64
 13  총콜레스테롤       44553 non-null  float64
 14  트리글리세라이드     44553 non-null  float64
 15  HDL콜레스테롤     44553 non-null  float64
 16  LDL콜레스테롤     44553 non-null  float64
 17  혈색소          44553 non-null  float64
 18  요단백          44553 non-null  float64
 19  혈청크레아티닌      44553 non-null  float64
 20  (혈청지오티)AST   44553 non-null  float64
 21  (혈청지오티)ALT   44553 non-null  float64
 22  감마지티피        44553 non-null  float64
 23  구강검진수검여부     44553 non-null  object
 24  치아우식증유무      44553 non-null  float64
 25  치석           44553 non-null  object
dtypes: float64(19), int64(4), object(3)
memory usage: 8.8+ MB
None
                 ID   연령대코드(5세단위)     신장(5Cm단위)     체중(5Kg단위)          허리둘레  \
count  44553.000000  44553.000000  44553.000000  44553.000000  44553.000000
mean   27833.607389     44.210603    164.657038     65.883442     82.077247
std    16064.577297     12.089077      9.198571     12.823676      9.278288
min        0.000000     20.000000    130.000000     30.000000     51.000000
25%    13938.000000     40.000000    160.000000     55.000000     76.000000
50%    27819.000000     40.000000    165.000000     65.000000     82.000000
75%    41738.000000     55.000000    170.000000     75.000000     88.000000
max    55690.000000     85.000000    190.000000    135.000000    129.000000

              시력(좌)         시력(우)        청력(좌)         청력(우)         수축기혈압  \
count  44553.000000  44553.000000  44553.00000  44553.000000  44553.000000
mean       1.011734      1.008134      1.02561      1.026036    121.529055
std        0.488131      0.488762      0.15797      0.159245     13.688748
min        0.100000      0.100000      1.00000      1.000000     71.000000
25%        0.800000      0.800000      1.00000      1.000000    112.000000
50%        1.000000      1.000000      1.00000      1.000000    120.000000
75%        1.200000      1.200000      1.00000      1.000000    130.000000
max        9.900000      9.900000      2.00000      2.000000    240.000000

       ...      트리글리세라이드      HDL콜레스테롤      LDL콜레스테롤           혈색소  \
count  ...  44553.000000  44553.000000  44553.000000  44553.000000
mean   ...    126.721770     57.288421    115.037663     14.622194
std    ...     71.611991     14.795235     40.937878      1.564872
min    ...      8.000000      4.000000      1.000000      4.900000
25%    ...     74.000000     47.000000     92.000000     13.600000
50%    ...    108.000000     55.000000    113.000000     14.800000
75%    ...    160.000000     66.000000    136.000000     15.700000
max    ...    999.000000    618.000000   1860.000000     21.100000

                요단백       혈청크레아티닌    (혈청지오티)AST    (혈청지오티)ALT         감마지티피  \
count  44553.000000  44553.000000  44553.000000  44553.000000  44553.000000
mean       1.087020      0.886097     26.213678     27.084731     40.065517
std        0.404944      0.226092     19.087106     31.754805     50.723521
min        1.000000      0.100000      6.000000      1.000000      1.000000
25%        1.000000      0.800000     19.000000     15.000000     17.000000
50%        1.000000      0.900000     23.000000     21.000000     26.000000
75%        1.000000      1.000000     29.000000     31.000000     44.000000
max        6.000000     11.600000   1311.000000   2914.000000    999.000000

            치아우식증유무
count  44553.000000
mean       0.213521
std        0.409797
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

[8 rows x 23 columns]
0.7623162383570867 0.7599596004937718 0.7673661766356189 0.6883626977892492
              precision    recall  f1-score   support

           0       0.82      0.80      0.81      5651
           1       0.67      0.70      0.68      3260

    accuracy                           0.76      8911
   macro avg       0.74      0.75      0.75      8911
weighted avg       0.77      0.76      0.76      8911

--------------------------------------------------------------------------------
              precision    recall  f1-score   support

           0       0.81      0.81      0.81      5651
           1       0.67      0.68      0.67      3260

    accuracy                           0.76      8911
   macro avg       0.74      0.74      0.74      8911
weighted avg       0.76      0.76      0.76      8911

--------------------------------------------------------------------------------
              precision    recall  f1-score   support

           0       0.83      0.80      0.81      5651
           1       0.67      0.72      0.69      3260

    accuracy                           0.77      8911
   macro avg       0.75      0.76      0.75      8911
weighted avg       0.77      0.77      0.77      8911

--------------------------------------------------------------------------------
              precision    recall  f1-score   support

           0       0.75      0.75      0.75      5651
           1       0.57      0.58      0.57      3260

    accuracy                           0.69      8911
   macro avg       0.66      0.66      0.66      8911
weighted avg       0.69      0.69      0.69      8911

--------------------------------------------------------------------------------
0.9886465303539043
--------------------------------------------------------------------------------
0.9098010551771143
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
0.8960236114480773
--------------------------------------------------------------------------------

   ID  흡연상태
0   8     1
1  17     0
2  20     1
3  24     0
4  25     0
5  27     0
6  29     0
7  46     0
8  47     1
9  50     0

# 자동차 보험가입 예측 데이터

In [4]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,RobustScaler,MinMaxScaler
from sklearn.metrics import classification_report,roc_auc_score
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/x_test.csv")


display(x_train.head())
display(y_train.head())

print(x_train.info())
print('-'*80)
print(x_train.describe())
print('-'*80)
print(x_train.isnull().sum())
print('-'*80)

x_test_id = x_test.pop('ID')
x_train.drop(columns=['ID','id'],axis=1,inplace=True)
y = y_train['Response']
x_test.drop('id',axis=1,inplace=True)

str_col = x_train.select_dtypes('object').columns

for col in str_col:
    print(f'{col}의 value 값:\n{x_train[col].value_counts()}')
    print('-'*80)
x_train['Vehicle_Age'] = x_train['Vehicle_Age'].replace('< 1 Year','+1year')
x_train['Vehicle_Age'] = x_train['Vehicle_Age'].replace('> 2 Years','-2year')

x_test['Vehicle_Age'] = x_test['Vehicle_Age'].replace('< 1 Year','+1year')
x_test['Vehicle_Age'] = x_test['Vehicle_Age'].replace('> 2 Years','-2year')

x_train=pd.get_dummies(x_train)
x_test=pd.get_dummies(x_test)

scaler = StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

x_tr,x_te,y_tr,y_te = train_test_split(x_train,y,test_size=0.1)

model_rf = RandomForestClassifier()
model_rf.fit(x_tr,y_tr)
pred_rf = model_rf.predict(x_te)
score_rf = model_rf.score(x_te,y_te)

model_xgb = XGBClassifier()
model_xgb.fit(x_tr,y_tr)
pred_xgb = model_xgb.predict(x_te)
score_xgb = model_xgb.score(x_te,y_te)

model_svc = SVC()
model_svc.fit(x_tr,y_tr)
pred_svc = model_svc.predict(x_te)
score_svc = model_svc.score(x_te,y_te)

model_dc = DecisionTreeClassifier()
model_dc.fit(x_tr,y_tr)
pred_dc = model_dc.predict(x_te)
score_dc = model_dc.score(x_te,y_te)

print(score_rf,score_xgb,score_svc,score_dc)

report_rf = classification_report(y_te,pred_rf)
report_xgb = classification_report(y_te,pred_xgb)
report_svc = classification_report(y_te,pred_svc)
report_dc = classification_report(y_te,pred_dc)

print(report_rf)
print('-'*80)
print(report_xgb)
print('-'*80)
print(report_svc)
print('-'*80)
print(report_dc)
print('-'*80)

final_pred = model_rf.predict(x_test)
output = pd.DataFrame({'ID': x_test_id,'Response':final_pred})
output.head(10)

,ID,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,id
0,0,Female,23,1,8.0,0,< 1 Year,Yes,61354.0,152.0,235,NaN
1,1,Male,27,1,28.0,1,< 1 Year,No,38036.0,152.0,207,NaN
2,2,Female,23,1,45.0,0,< 1 Year,Yes,25984.0,152.0,217,NaN
3,3,Male,22,1,46.0,0,< 1 Year,No,39499.0,152.0,277,NaN
4,4,Male,32,1,30.0,1,< 1 Year,No,38771.0,152.0,251,NaN

   ID  Response
0   0         0
1   1         0
2   2         1
3   3         0
4   4         0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304887 entries, 0 to 304886
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    304887 non-null  int64
 1   Gender                304887 non-null  object
 2   Age                   304887 non-null  int64
 3   Driving_License       304887 non-null  int64
 4   Region_Code           304887 non-null  float64
 5   Previously_Insured    304887 non-null  int64
 6   Vehicle_Age           304887 non-null  object
 7   Vehicle_Damage        304887 non-null  object
 8   Annual_Premium        304887 non-null  float64
 9   Policy_Sales_Channel  304887 non-null  float64
 10  Vintage               304887 non-null  int64
 11  id                    0 non-null       float64
dtypes: float64(4), int64(5), object(3)
memory usage: 27.9+ MB
None
--------------------------------------------------------------------------------
                  ID            Age  Driving_License    Region_Code  \
count  304887.000000  304887.000000    304887.000000  304887.000000
mean   190511.074044      38.828304         0.997898      26.382650
std    110035.080783      15.504898         0.045804      13.236626
min         0.000000      20.000000         0.000000       0.000000
25%     95216.000000      25.000000         1.000000      15.000000
50%    190452.000000      36.000000         1.000000      28.000000
75%    285790.500000      49.000000         1.000000      35.000000
max    381107.000000      85.000000         1.000000      52.000000

       Previously_Insured  Annual_Premium  Policy_Sales_Channel  \
count       304887.000000   304887.000000         304887.000000
mean             0.458258    30576.579598            112.044954
std              0.498255    17265.678980             54.198329
min              0.000000     2630.000000              1.000000
25%              0.000000    24414.500000             29.000000
50%              0.000000    31663.000000            133.000000
75%              1.000000    39410.000000            152.000000
max              1.000000   540165.000000            163.000000

             Vintage   id
count  304887.000000  0.0
mean      154.319466  NaN
std        83.625500  NaN
min        10.000000  NaN
25%        82.000000  NaN
50%       154.000000  NaN
75%       227.000000  NaN
max       299.000000  NaN
--------------------------------------------------------------------------------
ID                           0
Gender                       0
Age                          0
Driving_License              0
Region_Code                  0
Previously_Insured           0
Vehicle_Age                  0
Vehicle_Damage               0
Annual_Premium               0
Policy_Sales_Channel         0
Vintage                      0
id                      304887
dtype: int64
--------------------------------------------------------------------------------
Gender의 value 값:
Male      164764
Female    140123
Name: Gender, dtype: int64
--------------------------------------------------------------------------------
Vehicle_Age의 value 값:
1-2 Year     160409
< 1 Year     131696
> 2 Years     12782
Name: Vehicle_Age, dtype: int64
--------------------------------------------------------------------------------
Vehicle_Damage의 value 값:
Yes    153869
No     151018
Name: Vehicle_Damage, dtype: int64
--------------------------------------------------------------------------------
              precision    recall  f1-score   support

           0       0.89      0.97      0.93     26766
           1       0.36      0.12      0.19      3723

    accuracy                           0.87     30489
   macro avg       0.63      0.55      0.56     30489
weighted avg       0.82      0.87      0.84     30489

   ID  Response
0  17         0
1  19         0
2  21         0
3  23         0
4  32         0
5  38         0
6  42         0
7  43         0
8  44         0
9  49         0

# 비행탑승 경험 만족도 데이터

In [18]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,RobustScaler,MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,roc_auc_score

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.svm import SVC
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_test.csv")


display(x_train.head())
display(y_train.head())

print('Info 값 :\n' , x_train.info())
print('describe 값 :\n' , x_train.describe())

str_col = x_train.select_dtypes('object').columns
for col in str_col:
    print(f'{col}의 value : \n {x_train[col].value_counts()}')
    print('-'*80)

x_test_id = x_test.pop('ID')
x_test.drop('id',axis=1,inplace=True)
x_train.drop(columns=['ID','id'],axis=1,inplace=True)
y=y_train['satisfaction']
x_train['Arrival Delay in Minutes'].fillna(0,inplace=True)
x_test['Arrival Delay in Minutes'].fillna(0,inplace=True)

x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

x_tr,x_te,y_tr,y_te = train_test_split(x_train,y,test_size=0.1)

model_rf = RandomForestClassifier()
model_rf.fit(x_tr,y_tr)
pred_rf = model_rf.predict(x_te)
score_rf = model_rf.score(x_te,y_te)

model_svc = SVC()
model_svc.fit(x_tr,y_tr)
pred_svc = model_svc.predict(x_te)
score_svc = model_svc.score(x_te,y_te)

model_dc = DecisionTreeClassifier()
model_dc.fit(x_tr,y_tr)
pred_dc = model_dc.predict(x_te)
score_dc = model_dc.score(x_te,y_te)

print(score_rf,score_svc,score_dc)

report_rf = classification_report(y_te,pred_rf)
report_svc = classification_report(y_te,pred_svc)
report_dc = classification_report(y_te,pred_dc)

print(report_rf)
print('-'*80)
print(report_svc)
print('-'*80)
print(report_dc)
print('-'*80)

final_pred = model_rf.predict(x_test)
output = pd.DataFrame({'ID': x_test_id,'satisfaction':final_pred})
output.head(10)

,ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,id
0,0,Female,Loyal Customer,54,Personal Travel,Eco,1068,3,4,3,...,5,5,3,5,3,5,3,47,22.0,NaN
1,2,Male,Loyal Customer,20,Personal Travel,Eco,1546,4,4,4,...,4,3,3,4,4,4,4,5,2.0,NaN
2,3,Male,Loyal Customer,59,Business travel,Business,2962,0,4,0,...,1,1,1,1,5,1,4,54,46.0,NaN
3,4,Male,Loyal Customer,35,Business travel,Eco Plus,106,5,4,4,...,5,2,1,5,4,4,5,130,121.0,NaN
4,5,Female,Loyal Customer,9,Business travel,Business,2917,3,3,3,...,4,4,4,5,4,3,4,0,0.0,NaN

   ID             satisfaction
0   0  neutral or dissatisfied
1   2  neutral or dissatisfied
2   3                satisfied
3   4                satisfied
4   5                satisfied

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83123 entries, 0 to 83122
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   ID                                 83123 non-null  int64
 1   Gender                             83123 non-null  object
 2   Customer Type                      83123 non-null  object
 3   Age                                83123 non-null  int64
 4   Type of Travel                     83123 non-null  object
 5   Class                              83123 non-null  object
 6   Flight Distance                    83123 non-null  int64
 7   Inflight wifi service              83123 non-null  int64
 8   Departure/Arrival time convenient  83123 non-null  int64
 9   Ease of Online booking             83123 non-null  int64
 10  Gate location                      83123 non-null  int64
 11  Food and drink                     83123 non-null  int64
 12  Online boarding                    83123 non-null  int64
 13  Seat comfort                       83123 non-null  int64
 14  Inflight entertainment             83123 non-null  int64
 15  On-board service                   83123 non-null  int64
 16  Leg room service                   83123 non-null  int64
 17  Baggage handling                   83123 non-null  int64
 18  Checkin service                    83123 non-null  int64
 19  Inflight service                   83123 non-null  int64
 20  Cleanliness                        83123 non-null  int64
 21  Departure Delay in Minutes         83123 non-null  int64
 22  Arrival Delay in Minutes           82867 non-null  float64
 23  id                                 0 non-null      float64
dtypes: float64(2), int64(18), object(4)
memory usage: 15.2+ MB
Info 값 :
 None
describe 값 :
                   ID           Age  Flight Distance  Inflight wifi service  \
count   83123.000000  83123.000000     83123.000000           83123.000000
mean    52003.849657     39.360249      1191.164455               2.729545
std     29972.640033     15.102492       997.171944               1.327213
min         0.000000      7.000000        31.000000               0.000000
25%     26120.500000     27.000000       414.000000               2.000000
50%     52004.000000     40.000000       846.000000               3.000000
75%     77935.500000     51.000000      1744.000000               4.000000
max    103903.000000     85.000000      4983.000000               5.000000

       Departure/Arrival time convenient  Ease of Online booking  \
count                       83123.000000            83123.000000
mean                            3.060296                2.757612
std                             1.523947                1.398630
min                             0.000000                0.000000
25%                             2.000000                2.000000
50%                             3.000000                3.000000
75%                             4.000000                4.000000
max                             5.000000                5.000000

       Gate location  Food and drink  Online boarding  Seat comfort  \
count   83123.000000    83123.000000     83123.000000  83123.000000
mean        2.978405        3.204721         3.252060      3.440588
std         1.277390        1.330112         1.349006      1.319980
min         0.000000        0.000000         0.000000      0.000000
25%         2.000000        2.000000         2.000000      2.000000
50%         3.000000        3.000000         3.000000      4.000000
75%         4.000000        4.000000         4.000000      5.000000
max         5.000000        5.000000         5.000000      5.000000

       Inflight entertainment  On-board service  Leg room service  \
count            83123.000000      83123.000000      83123.000000
mean                 3.359660          3.382060          3.351299
std                  1.332698          1.287719          1.315613
min                  0.000000          0.000000          0.000000
25%                  2.000000          2.000000          2.000000
50%                  4.000000          4.000000          4.000000
75%                  4.000000          4.000000          4.000000
max                  5.000000          5.000000          5.000000

       Baggage handling  Checkin service  Inflight service  Cleanliness  \
count      83123.000000     83123.000000      83123.000000  83123.00000
mean           3.632641         3.302516          3.642686      3.28690
std            1.180139         1.262015          1.175697      1.31147
min            1.000000         0.000000          0.000000      0.00000
25%            3.000000         3.000000          3.000000      2.00000
50%            4.000000         3.000000          4.000000      3.00000
75%            5.000000         4.000000          5.000000      4.00000
max            5.000000         5.000000          5.000000      5.00000

       Departure Delay in Minutes  Arrival Delay in Minutes   id
count                83123.000000              82867.000000  0.0
mean                    14.777763                 15.132477  NaN
std                     37.904165                 38.396170  NaN
min                      0.000000                  0.000000  NaN
25%                      0.000000                  0.000000  NaN
50%                      0.000000                  0.000000  NaN
75%                     12.000000                 13.000000  NaN
max                   1592.000000               1584.000000  NaN
Gender의 value :
 Female    42284
Male      40839
Name: Gender, dtype: int64
--------------------------------------------------------------------------------
Customer Type의 value :
 Loyal Customer       67951
disloyal Customer    15172
Name: Customer Type, dtype: int64
--------------------------------------------------------------------------------
Type of Travel의 value :
 Business travel    57370
Personal Travel    25753
Name: Type of Travel, dtype: int64
--------------------------------------------------------------------------------
Class의 value :
 Business    39791
Eco         37349
Eco Plus     5983
Name: Class, dtype: int64
--------------------------------------------------------------------------------
                         precision    recall  f1-score   support

neutral or dissatisfied       0.96      0.98      0.97      4669
              satisfied       0.97      0.94      0.96      3644

               accuracy                           0.96      8313
              macro avg       0.96      0.96      0.96      8313
           weighted avg       0.96      0.96      0.96      8313

   ID             satisfaction
0   1  neutral or dissatisfied
1  16  neutral or dissatisfied
2  17  neutral or dissatisfied
3  25  neutral or dissatisfied
4  27                satisfied
5  28  neutral or dissatisfied
6  30                satisfied
7  38                satisfied
8  45  neutral or dissatisfied
9  47  neutral or dissatisfied

# 수질 음용성 여부 데이터

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,RobustScaler,MinMaxScaler
from sklearn.metrics import classification_report,roc_auc_score
from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import 
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/x_test.csv")


display(x_train.head())
display(y_train.head())

# 약물 분류 데이터

In [20]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
# import sklearn.metrics 
# print(sklearn.metrics.__all__)
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/x_test.csv")


display(x_train.head())
display(y_train.head())

display(x_train.info())
display(x_train.describe())

str_col = x_train.select_dtypes('object').columns
for col in str_col:
    print(f'{col}의 value 값 : \n {x_train[col].value_counts()}')
    print('-'*80)
    
x_test_id = x_test.pop('ID')
x_train.drop('ID',inplace=True,axis=1)
y = y_train['Drug']

x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

x_tr,x_te,y_tr,y_te = train_test_split(x_train,y,test_size = 0.1, random_state = 2022)

model_rf = RandomForestClassifier()
model_rf.fit(x_tr,y_tr)
pred_rf = model_rf.predict(x_te)
score_rf = model_rf.score(x_tr,y_tr)
print(score_rf)

report_rf = classification_report(y_te,pred_rf)
print(report_rf)
final_predict =model_rf.predict(x_test)

output = pd.DataFrame({'ID':x_test_id, 'Drug': final_predict})
print(output.head())

   ID  Age Sex      BP Cholesterol  Na_to_K
0   0   36   F  NORMAL        HIGH   16.753
1   1   47   F     LOW        HIGH   11.767
2   2   69   F  NORMAL        HIGH   10.065
3   3   35   M     LOW      NORMAL    9.170
4   4   49   M     LOW      NORMAL   11.014

   ID  Drug
0   0     0
1   1     3
2   2     4
3   3     4
4   4     4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           157 non-null    int64
 1   Age          157 non-null    int64
 2   Sex          157 non-null    object
 3   BP           157 non-null    object
 4   Cholesterol  157 non-null    object
 5   Na_to_K      157 non-null    float64
dtypes: float64(1), int64(2), object(3)
memory usage: 7.5+ KB

None

               ID         Age     Na_to_K
count  157.000000  157.000000  157.000000
mean    99.687898   44.133758   15.904102
std     59.503055   16.495957    6.951104
min      0.000000   15.000000    6.269000
25%     46.000000   32.000000   10.443000
50%    101.000000   43.000000   13.884000
75%    153.000000   58.000000   19.368000
max    199.000000   74.000000   37.188000

Sex의 value 값 :
 M    85
F    72
Name: Sex, dtype: int64
--------------------------------------------------------------------------------
BP의 value 값 :
 HIGH      64
LOW       47
NORMAL    46
Name: BP, dtype: int64
--------------------------------------------------------------------------------
Cholesterol의 value 값 :
 NORMAL    80
HIGH      77
Name: Cholesterol, dtype: int64
--------------------------------------------------------------------------------
1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         7
           1       1.00      1.00      1.00         1
           2       1.00      1.00      1.00         1
           3       1.00      1.00      1.00         2
           4       1.00      1.00      1.00         5

    accuracy                           1.00        16
   macro avg       1.00      1.00      1.00        16
weighted avg       1.00      1.00      1.00        16

   ID  Drug
0   8     0
1   9     4
2  14     1
3  25     4
4  26     0

# 사기회사 분류 데이터

In [99]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, roc_auc_score

from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/x_test.csv")
y_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/y_test.csv")

display(x_train.head())
display(y_train.head())

# print(x_train.info())
# print('-'*80)
# print(x_test.info())
# print('-'*80)

# print(x_train.describe())
# print('-'*80)
# print(x_test.describe())
# print('-'*80)

x_train['Money_Value'].fillna(x_train['Money_Value'].mean(),inplace=True)
x_test['Money_Value'].fillna(x_test['Money_Value'].mean(),inplace=True)

x_test_id = x_test.pop('ID')
x_train.drop('ID',axis=1,inplace=True)
y=y_train['Risk']

le = LabelEncoder()
str_col = x_train.select_dtypes('object').columns
num_col = x_train.select_dtypes(exclude='object').columns
for col in str_col:
#     print(f'{col} : \n {x_train[col].value_counts()}')
#     print('-'*80)
    x_train[col] = le.fit_transform(x_train[col])
    x_test[col] = le.fit_transform(x_test[col])

scaler = StandardScaler()

x_train[num_col] =scaler.fit_transform(x_train[num_col])
x_test[num_col] = scaler.fit_transform(x_test[num_col])

x_tr,x_te,y_tr,y_te = train_test_split(x_train,y,test_size=0.2)

model_rf = RandomForestClassifier()
model_rf.fit(x_tr,y_tr)
pred_rf = model_rf.predict(x_te)
score_rf = model_rf.score(x_te,y_te)

model_dt = DecisionTreeClassifier()
model_dt.fit(x_tr,y_tr)
pred_dt = model_dt.predict(x_te)
score_dt = model_rf.score(x_te,y_te)

model_sv = SVC()
model_sv.fit(x_tr,y_tr)
pred_sv = model_sv.predict(x_te)
score_sv = model_sv.score(x_te,y_te)

model_xg = XGBClassifier()
model_xg.fit(x_tr,y_tr)
pred_xg = model_xg.predict(x_te)
score_xg = model_xg.score(x_te,y_te)

print(f'RandomForestClassifier : {score_rf}')
print(f'DecisionTreeClassifier : {score_dt}')
print(f'SVC : {score_sv}')
print(f'XGBClassifier : {score_xg}')

repot1 = classification_report(y_te,pred_rf)
repot2 = classification_report(y_te,pred_dt)
repot3 = classification_report(y_te,pred_sv)
repot4 = classification_report(y_te,pred_xg)
print('-'*80)
print(f'RandomForestClassifier : {repot1}')
print(f'DecisionTreeClassifier : {repot2}')
print(f'SVC : {repot3}')
print(f'XGBClassifier : {repot4}')

pred1 = model_rf.predict(x_test)
pred2 = model_dt.predict(x_test)
pred3 = model_sv.predict(x_test)
pred4 = model_xg.predict(x_test)

result1 = roc_auc_score(y_test['Risk'],pred1)
result2 = roc_auc_score(y_test['Risk'],pred2)
result3 = roc_auc_score(y_test['Risk'],pred3)
result4 = roc_auc_score(y_test['Risk'],pred4)

print('-'*80)
print(f'RandomForestClassifier : {result1}')
print(f'DecisionTreeClassifier : {result2}')
print(f'SVC : {result3}')
print(f'XGBClassifier : {result4}')

output = pd.DataFrame({'ID':x_test_id,'Risk' :pred3 })
output.head()

,ID,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,...,PROB,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk
0,0,2.37,16,0.01,0.2,0.002,0.007,0.2,0.0014,0.017,...,0.2,0.4,0,0.2,0.0,2.0,1.4034,0.4,0.5,0.28068
1,2,55.57,9,1.06,0.4,0.424,0.000,0.2,0.0000,1.060,...,0.2,0.4,0,0.2,0.0,2.2,1.8240,0.4,0.5,0.36480
2,3,55.57,16,2.42,0.6,1.452,3.530,0.6,2.1180,5.950,...,0.2,0.4,0,0.2,0.0,3.8,7.4940,0.4,0.5,1.49880
3,4,2.37,9,0.31,0.2,0.062,0.690,0.2,0.1380,1.000,...,0.2,0.4,0,0.2,0.0,2.0,1.6000,0.4,0.5,0.32000
4,5,55.57,6,0.62,0.2,0.124,0.420,0.2,0.0840,1.040,...,0.2,0.4,0,0.2,0.0,2.0,1.6080,0.4,0.5,0.32160

   ID  Risk
0   0     0
1   2     0
2   3     1
3   4     0
4   5     0

RandomForestClassifier : 1.0
DecisionTreeClassifier : 1.0
SVC : 0.9596774193548387
XGBClassifier : 1.0
--------------------------------------------------------------------------------
RandomForestClassifier :               precision    recall  f1-score   support

           0       1.00      1.00      1.00        70
           1       1.00      1.00      1.00        54

    accuracy                           1.00       124
   macro avg       1.00      1.00      1.00       124
weighted avg       1.00      1.00      1.00       124

DecisionTreeClassifier :               precision    recall  f1-score   support

           0       1.00      1.00      1.00        70
           1       1.00      1.00      1.00        54

    accuracy                           1.00       124
   macro avg       1.00      1.00      1.00       124
weighted avg       1.00      1.00      1.00       124

SVC :               precision    recall  f1-score   support

           0       0.93      1.00      0.97        70
           1       1.00      0.91      0.95        54

    accuracy                           0.96       124
   macro avg       0.97      0.95      0.96       124
weighted avg       0.96      0.96      0.96       124

XGBClassifier :               precision    recall  f1-score   support

           0       1.00      1.00      1.00        70
           1       1.00      1.00      1.00        54

    accuracy                           1.00       124
   macro avg       1.00      1.00      1.00       124
weighted avg       1.00      1.00      1.00       124

--------------------------------------------------------------------------------
RandomForestClassifier : 0.9019607843137255
DecisionTreeClassifier : 0.8333333333333333
SVC : 0.9759103641456582
XGBClassifier : 0.8333333333333333

   ID  Risk
0   1     1
1   9     1
2  10     1
3  11     0
4  12     0

# 센서데이터 동작유형 분류 데이터

In [12]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, roc_auc_score

from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv")
y_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_test.csv")


display(x_train.head())
display(y_train.head())

# print(x_train.info())
# print('-'*80)
# print(x_test.info())
# print('-'*80)

# print(x_train.describe())
# print('-'*80)
# print(x_test.describe())
# print('-'*80)

x_test_id = x_test.pop('ID')
x_train.drop('ID',axis=1,inplace=True)
y = y_train['pose']

# col = x_train.columns

# for i in col:
#     print(f'{i}의 value 값 : \n{x_train[i].value_counts()}')
#     print('-'*80)

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

x_tr,x_te,y_tr,y_te = train_test_split(x_train,y,test_size=0.2)

model_rf = RandomForestClassifier()
model_rf.fit(x_tr,y_tr)
pred_rf = model_rf.predict(x_te)
score_rf = model_rf.score(x_te,y_te)

model_dt = DecisionTreeClassifier()
model_dt.fit(x_tr,y_tr)
pred_dt = model_dt.predict(x_te)
score_dt = model_rf.score(x_te,y_te)

model_sv = SVC()
model_sv.fit(x_tr,y_tr)
pred_sv = model_sv.predict(x_te)
score_sv = model_sv.score(x_te,y_te)

model_xg = XGBClassifier()
model_xg.fit(x_tr,y_tr)
pred_xg = model_xg.predict(x_te)
score_xg = model_xg.score(x_te,y_te)

print(f'RandomForestClassifier : {score_rf}')
print(f'DecisionTreeClassifier : {score_dt}')
print(f'SVC : {score_sv}')
print(f'XGBClassifier : {score_xg}')

repot1 = classification_report(y_te,pred_rf)
repot2 = classification_report(y_te,pred_dt)
repot3 = classification_report(y_te,pred_sv)
repot4 = classification_report(y_te,pred_xg)
print('-'*80)
print(f'RandomForestClassifier : {repot1}')
print(f'DecisionTreeClassifier : {repot2}')
print(f'SVC : {repot3}')
print(f'XGBClassifier : {repot4}')

pred1 = model_rf.predict_proba(x_test)
pred2 = model_dt.predict_proba(x_test)
pred3 = model_sv.predict_proba(x_test)
pred4 = model_xg.predict_proba(x_test)

result1 = roc_auc_score(y_test['pose'],pred1[:,1])
result2 = roc_auc_score(y_test['pose'],pred2[:,1])
result3 = roc_auc_score(y_test['pose'],pred3[:,1])
result4 = roc_auc_score(y_test['pose'],pred4[:,1])

print('-'*80)
print(f'RandomForestClassifier : {result1}')
print(f'DecisionTreeClassifier : {result2}')
print(f'SVC : {result3}')
print(f'XGBClassifier : {result4}')

output = pd.DataFrame({'ID':x_test_id,'pose' :pred3 })
output.head()

,ID,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,...,motion_54,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63
0,0,1.0,-2.0,-1.0,4.0,-5.0,-4.0,1.0,0.0,-15.0,...,0.0,-1.0,-13.0,-3.0,1.0,-1.0,-32.0,-22.0,-2.0,-3.0
1,2,20.0,0.0,0.0,1.0,5.0,6.0,-52.0,18.0,15.0,...,-70.0,-55.0,-38.0,-14.0,-12.0,-8.0,-34.0,-63.0,-87.0,-77.0
2,4,1.0,-1.0,1.0,4.0,-5.0,-8.0,1.0,-3.0,-14.0,...,1.0,12.0,-25.0,0.0,0.0,3.0,2.0,-27.0,1.0,0.0
3,5,13.0,2.0,1.0,-3.0,1.0,3.0,28.0,3.0,12.0,...,0.0,-21.0,-17.0,-2.0,0.0,-4.0,-17.0,-21.0,-21.0,25.0
4,6,-2.0,-7.0,-4.0,-8.0,16.0,44.0,1.0,3.0,-16.0,...,-1.0,2.0,-1.0,1.0,4.0,4.0,-17.0,-38.0,-3.0,3.0

   ID  pose
0   0     1
1   2     0
2   4     1
3   5     0
4   6     1

RandomForestClassifier : 0.9935483870967742
DecisionTreeClassifier : 0.9935483870967742
SVC : 0.978494623655914
XGBClassifier : 0.9967741935483871
--------------------------------------------------------------------------------
RandomForestClassifier :               precision    recall  f1-score   support

           0       0.99      1.00      0.99       458
           1       1.00      0.99      0.99       472

    accuracy                           0.99       930
   macro avg       0.99      0.99      0.99       930
weighted avg       0.99      0.99      0.99       930

DecisionTreeClassifier :               precision    recall  f1-score   support

           0       0.97      0.97      0.97       458
           1       0.97      0.97      0.97       472

    accuracy                           0.97       930
   macro avg       0.97      0.97      0.97       930
weighted avg       0.97      0.97      0.97       930

SVC :               precision    recall  f1-score   support

           0       0.99      0.96      0.98       458
           1       0.97      0.99      0.98       472

    accuracy                           0.98       930
   macro avg       0.98      0.98      0.98       930
weighted avg       0.98      0.98      0.98       930

XGBClassifier :               precision    recall  f1-score   support

           0       1.00      1.00      1.00       458
           1       1.00      1.00      1.00       472

    accuracy                           1.00       930
   macro avg       1.00      1.00      1.00       930
weighted avg       1.00      1.00      1.00       930

--------------------------------------------------------------------------------
RandomForestClassifier : 0.9996798918745888
DecisionTreeClassifier : 0.9826830396044888
XGBClassifier : 0.9999021891839022

# 당뇨여부판단 데이터

In [111]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, roc_auc_score

from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/x_test.csv")
y_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/y_test.csv')

display(x_train.head())
display(y_train.head())

# print(x_train.info())
# print('-'*80)
# print(x_test.info())
# print('-'*80)

# print(x_train.describe())
# print('-'*80)
# print(x_test.describe())
# print('-'*80)

col = ["Glucose",'BloodPressure','SkinThickness','Insulin','BMI']

for i in col:
    x_train[i].replace(0,x_train[i].mean(),inplace=True)
    x_test[i].replace(0,x_test[i].mean(),inplace=True)

x_test_id = x_test.pop('ID')
x_train.drop('ID',axis=1,inplace=True)
y = y_train['Outcome']

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

x_tr,x_te,y_tr,y_te = train_test_split(x_train,y,test_size=0.2)

model_rf = RandomForestClassifier()
model_rf.fit(x_tr,y_tr)
pred_rf = model_rf.predict(x_te)
score_rf = model_rf.score(x_te,y_te)

model_dt = DecisionTreeClassifier()
model_dt.fit(x_tr,y_tr)
pred_dt = model_dt.predict(x_te)
score_dt = model_rf.score(x_te,y_te)

model_sv = SVC()
model_sv.fit(x_tr,y_tr)
pred_sv = model_sv.predict(x_te)
score_sv = model_sv.score(x_te,y_te)

model_xg = XGBClassifier()
model_xg.fit(x_tr,y_tr)
pred_xg = model_xg.predict(x_te)
score_xg = model_xg.score(x_te,y_te)

print(f'RandomForestClassifier : {score_rf}')
print(f'DecisionTreeClassifier : {score_dt}')
print(f'SVC : {score_sv}')
print(f'XGBClassifier : {score_xg}')

repot1 = classification_report(y_te,pred_rf)
repot2 = classification_report(y_te,pred_dt)
repot3 = classification_report(y_te,pred_sv)
repot4 = classification_report(y_te,pred_xg)
print('-'*80)
print(f'RandomForestClassifier : {repot1}')
print(f'DecisionTreeClassifier : {repot2}')
print(f'SVC : {repot3}')
print(f'XGBClassifier : {repot4}')

pred1 = model_rf.predict(x_test)
pred2 = model_dt.predict(x_test)
pred3 = model_sv.predict(x_test)
pred4 = model_xg.predict(x_test)

result1 = roc_auc_score(y_test['Outcome'],pred1)
result2 = roc_auc_score(y_test['Outcome'],pred2)
result3 = roc_auc_score(y_test['Outcome'],pred3)
result4 = roc_auc_score(y_test['Outcome'],pred4)

print('-'*80)
print(f'RandomForestClassifier : {result1}')
print(f'DecisionTreeClassifier : {result2}')
print(f'SVC : {result3}')
print(f'XGBClassifier : {result4}')

output = pd.DataFrame({'ID':x_test_id,'Outcome' :pred4 })
output.head()

,ID,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,8,126,88,36,108,38.5,0.349,49
1,1,0,74,52,10,36,27.8,0.269,22
2,2,1,140,74,26,180,24.1,0.828,23
3,3,6,162,62,0,0,24.3,0.178,50
4,4,2,94,68,18,76,26.0,0.561,21

   ID  Outcome
0   0        0
1   1        0
2   2        0
3   3        1
4   4        0

RandomForestClassifier : 0.8048780487804879
DecisionTreeClassifier : 0.8048780487804879
SVC : 0.8048780487804879
XGBClassifier : 0.7642276422764228
--------------------------------------------------------------------------------
RandomForestClassifier :               precision    recall  f1-score   support

           0       0.85      0.87      0.86        84
           1       0.70      0.67      0.68        39

    accuracy                           0.80       123
   macro avg       0.78      0.77      0.77       123
weighted avg       0.80      0.80      0.80       123

DecisionTreeClassifier :               precision    recall  f1-score   support

           0       0.78      0.71      0.75        84
           1       0.48      0.56      0.52        39

    accuracy                           0.67       123
   macro avg       0.63      0.64      0.63       123
weighted avg       0.68      0.67      0.67       123

SVC :               precision    recall  f1-score   support

           0       0.86      0.86      0.86        84
           1       0.69      0.69      0.69        39

    accuracy                           0.80       123
   macro avg       0.77      0.77      0.77       123
weighted avg       0.80      0.80      0.80       123

XGBClassifier :               precision    recall  f1-score   support

           0       0.84      0.81      0.82        84
           1       0.62      0.67      0.64        39

    accuracy                           0.76       123
   macro avg       0.73      0.74      0.73       123
weighted avg       0.77      0.76      0.77       123

--------------------------------------------------------------------------------
RandomForestClassifier : 0.9343434343434344
DecisionTreeClassifier : 0.8424242424242424
SVC : 0.7727272727272727
XGBClassifier : 0.9292929292929294

   ID  Outcome
0  13        0
1  18        0
2  29        0
3  33        1
4  34        0

# 학생성적 예측데이터

In [33]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_test.csv")
y_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_test.csv')


display(x_train.head())
display(y_train.head())

print(x_train.info())
print('-'*80)
print(x_train.describe())

str_col = x_train.select_dtypes('object').columns
for col in str_col:
    print(f'{col} : \n {x_train[col].value_counts()}')
    print('-'*80)

x_test_id = x_test.pop('StudentID')
x_train.drop('StudentID',axis=1,inplace=True)
y = y_train['G3']

x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

scaler = StandardScaler()
x_train['absences'] = scaler.fit_transform(x_train[['absences']])
x_test['absences'] = scaler.fit_transform(x_test[['absences']])

x_tr,x_te,y_tr,y_te = train_test_split(x_train,y,test_size = 0.1, random_state = 2022)

model_rf = RandomForestRegressor()
model_rf.fit(x_tr,y_tr)
pred_rf = model_rf.predict(x_te)
score_rf = model_rf.score(x_te,y_te)
print(score_rf)
print('-'*80)
print(r2_score(y_te,pred_rf))
print('-'*80)

model_xgb = XGBRegressor()
model_xgb.fit(x_tr,y_tr)
pred_xgb = model_xgb.predict(x_te)
score_xgb = model_xgb.score(x_te,y_te)
print(score_xgb)
print('-'*80)
print(r2_score(y_te,pred_xgb))
print('-'*80)

final_pred = model_rf.predict(x_test)
print(r2_score(y_test['G3'],final_pred))
output=pd.DataFrame({'StudentID':x_test_id,'G3':final_pred})
output.head(10)

,StudentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,1714,GP,F,18,U,GT3,T,4,3,other,...,no,4,3,3,1,1,3,0,14,13
1,1254,GP,F,17,U,GT3,T,4,3,health,...,yes,4,4,3,1,3,4,0,13,15
2,1639,GP,F,16,R,GT3,T,4,4,health,...,no,2,4,4,2,3,4,6,10,11
3,1118,GP,M,16,U,GT3,T,4,4,services,...,no,5,3,3,1,3,5,0,15,13
4,1499,GP,M,19,U,GT3,T,3,2,services,...,yes,4,5,4,1,1,4,0,5,0

   StudentID  G3
0       1714  14
1       1254  15
2       1639  11
3       1118  13
4       1499   0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   678 non-null    int64
 1   school      678 non-null    object
 2   sex         678 non-null    object
 3   age         678 non-null    int64
 4   address     678 non-null    object
 5   famsize     678 non-null    object
 6   Pstatus     678 non-null    object
 7   Medu        678 non-null    int64
 8   Fedu        678 non-null    int64
 9   Mjob        678 non-null    object
 10  Fjob        678 non-null    object
 11  reason      678 non-null    object
 12  guardian    678 non-null    object
 13  traveltime  678 non-null    int64
 14  studytime   678 non-null    int64
 15  failures    678 non-null    int64
 16  schoolsup   678 non-null    object
 17  famsup      678 non-null    object
 18  paid        678 non-null    object
 19  activities  678 non-null    object
 20  nursery     678 non-null    object
 21  higher      678 non-null    object
 22  internet    678 non-null    object
 23  romantic    678 non-null    object
 24  famrel      678 non-null    int64
 25  freetime    678 non-null    int64
 26  goout       678 non-null    int64
 27  Dalc        678 non-null    int64
 28  Walc        678 non-null    int64
 29  health      678 non-null    int64
 30  absences    678 non-null    int64
 31  G1          678 non-null    int64
 32  G2          678 non-null    int64
dtypes: int64(16), object(17)
memory usage: 174.9+ KB
None
--------------------------------------------------------------------------------
         StudentID         age        Medu        Fedu  traveltime  \
count   678.000000  678.000000  678.000000  678.000000   678.00000
mean   1516.181416   16.719764    2.607670    2.371681     1.50590
std     303.029891    1.239881    1.134682    1.096750     0.73675
min    1001.000000   15.000000    0.000000    0.000000     1.00000
25%    1253.250000   16.000000    2.000000    1.000000     1.00000
50%    1508.000000   17.000000    3.000000    2.000000     1.00000
75%    1780.750000   18.000000    4.000000    3.000000     2.00000
max    2043.000000   22.000000    4.000000    4.000000     4.00000

        studytime    failures      famrel    freetime       goout        Dalc  \
count  678.000000  678.000000  678.000000  678.000000  678.000000  678.000000
mean     1.989676    0.261062    3.933628    3.233038    3.140118    1.480826
std      0.848082    0.664340    0.952346    1.042083    1.165537    0.895789
min      1.000000    0.000000    1.000000    1.000000    1.000000    1.000000
25%      1.000000    0.000000    4.000000    3.000000    2.000000    1.000000
50%      2.000000    0.000000    4.000000    3.000000    3.000000    1.000000
75%      2.000000    0.000000    5.000000    4.000000    4.000000    2.000000
max      4.000000    3.000000    5.000000    5.000000    5.000000    5.000000

             Walc      health    absences         G1          G2
count  678.000000  678.000000  678.000000  678.00000  678.000000
mean     2.293510    3.522124    4.594395   11.20649   11.182891
std      1.287705    1.431430    6.527236    2.90395    3.296146
min      1.000000    1.000000    0.000000    4.00000    0.000000
25%      1.000000    2.000000    0.000000    9.00000    9.000000
50%      2.000000    4.000000    2.000000   11.00000   11.000000
75%      3.000000    5.000000    6.000000   13.00000   13.000000
max      5.000000    5.000000   75.000000   19.00000   19.000000
school :
 GP    509
MS    169
Name: school, dtype: int64
--------------------------------------------------------------------------------
sex :
 F    394
M    284
Name: sex, dtype: int64
--------------------------------------------------------------------------------
address :
 U    499
R    179
Name: address, dtype: int64
--------------------------------------------------------------------------------
famsize :
 GT3    479
LE3    199
Name: famsize, dtype: int64
--------------------------------------------------------------------------------
Pstatus :
 T    602
A     76
Name: Pstatus, dtype: int64
--------------------------------------------------------------------------------
Mjob :
 other       254
services    165
at_home     118
teacher      89
health       52
Name: Mjob, dtype: int64
--------------------------------------------------------------------------------
Fjob :
 other       371
services    196
teacher      43
at_home      42
health       26
Name: Fjob, dtype: int64
--------------------------------------------------------------------------------
reason :
 course        269
reputation    172
home          165
other          72
Name: reason, dtype: int64
--------------------------------------------------------------------------------
guardian :
 mother    475
father    153
other      50
Name: guardian, dtype: int64
--------------------------------------------------------------------------------
schoolsup :
 no     604
yes     74
Name: schoolsup, dtype: int64
--------------------------------------------------------------------------------
famsup :
 yes    419
no     259
Name: famsup, dtype: int64
--------------------------------------------------------------------------------
paid :
 no     537
yes    141
Name: paid, dtype: int64
--------------------------------------------------------------------------------
activities :
 no     350
yes    328
Name: activities, dtype: int64
--------------------------------------------------------------------------------
nursery :
 yes    543
no     135
Name: nursery, dtype: int64
--------------------------------------------------------------------------------
higher :
 yes    621
no      57
Name: higher, dtype: int64
--------------------------------------------------------------------------------
internet :
 yes    541
no     137
Name: internet, dtype: int64
--------------------------------------------------------------------------------
romantic :
 no     433
yes    245
Name: romantic, dtype: int64
--------------------------------------------------------------------------------
0.8805895200783546
--------------------------------------------------------------------------------
0.8805895200783546
--------------------------------------------------------------------------------
0.8466639752525089
--------------------------------------------------------------------------------
0.8466639752525089
--------------------------------------------------------------------------------
0.819636335423803

   StudentID     G3
0       1000  16.28
1       1008  10.88
2       1013  14.11
3       1014   6.81
4       1017  10.87
5       1018  14.31
6       1021  17.66
7       1024  13.01
8       1025  12.93
9       1031  12.32

# 중고차 가격 예측 데이터

In [62]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_test.csv")
y_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/y_test.csv")


display(x_train.head())
display(y_train.head())

print(x_train.info())
print('-'*80)
print(x_train.describe())
print('-'*80)

str_col = x_train.select_dtypes('object').columns
for col in str_col:
    print(f'{col} value : \n {x_train[col].value_counts()}')
    print('-'*80)

x_test_id = x_test.pop('carID')
x_train.drop('carID',axis=1,inplace=True)
y = y_train['price']

# x_train = pd.get_dummies(x_train)
# x_test = pd.get_dummies(x_test)

# x_train = x_train.loc[:, (x_train.columns.isin(x_test.columns))]
# x_test = x_test.loc[:, (x_test.columns.isin(x_train.columns))]
le = LabelEncoder()
for col in str_col:
    x_train[col] = le.fit_transform(x_train[col])
    x_test[col] = le.fit_transform(x_test[col])

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

x_tr,x_te,y_tr,y_te = train_test_split(x_train,y,test_size=0.1)

model_rf = RandomForestRegressor()
model_rf.fit(x_tr,y_tr)
pred_rf = model_rf.predict(x_te)
f_pred = model_rf.predict(x_test)
score_rf = r2_score(y_te,pred_rf)
score_rff = r2_score(y_test['price'],f_pred)
print('예측값 :', score_rf)
print('최종예측값 : ', score_rff)

model_xgb = XGBRegressor()
model_xgb.fit(x_tr,y_tr)
pred_xgb = model_xgb.predict(x_te)
f_pred_x = model_xgb.predict(x_test)
score_xgb = r2_score(y_te,pred_xgb)
score_xgb_f= r2_score(y_test['price'],f_pred_x)
print('예측값 :', score_xgb)
print('최종예측값 : ', score_xgb_f)

output=pd.DataFrame({'CarID':x_test_id,'price':f_pred_x})
output.head()

,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,13207,hyundi,Santa Fe,2019,Semi-Auto,4223,Diesel,145.0,39.8,2.2
1,17314,vauxhall,GTC,2015,Manual,47870,Diesel,125.0,60.1,2.0
2,12342,audi,RS4,2019,Automatic,5151,Petrol,145.0,29.1,2.9
3,13426,vw,Scirocco,2016,Automatic,20423,Diesel,30.0,57.6,2.0
4,16004,skoda,Scala,2020,Semi-Auto,3569,Petrol,145.0,47.1,1.0

   carID  price
0  13207  31995
1  17314   7700
2  12342  58990
3  13426  12999
4  16004  16990

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4960 entries, 0 to 4959
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   carID         4960 non-null   int64
 1   brand         4960 non-null   object
 2   model         4960 non-null   object
 3   year          4960 non-null   int64
 4   transmission  4960 non-null   object
 5   mileage       4960 non-null   int64
 6   fuelType      4960 non-null   object
 7   tax           4960 non-null   float64
 8   mpg           4960 non-null   float64
 9   engineSize    4960 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 387.6+ KB
None
--------------------------------------------------------------------------------
              carID         year        mileage          tax          mpg  \
count   4960.000000  4960.000000    4960.000000  4960.000000  4960.000000
mean   15832.446169  2016.737903   24956.286895   152.332661    50.370766
std     2206.717006     2.884035   24443.333662    82.403844    35.746505
min    12002.000000  1997.000000       1.000000     0.000000     2.800000
25%    13929.250000  2016.000000    5641.250000   145.000000    38.700000
50%    15840.000000  2017.000000   19000.000000   145.000000    47.100000
75%    17765.750000  2019.000000   36702.000000   150.000000    54.300000
max    19629.000000  2020.000000  259000.000000   580.000000   470.800000

        engineSize
count  4960.000000
mean      2.124375
std       0.789368
min       0.000000
25%       1.600000
50%       2.000000
75%       2.800000
max       6.600000
--------------------------------------------------------------------------------
brand value :
 merc        790
vw          768
ford        766
bmw         638
hyundi      511
toyota      446
skoda       425
audi        343
vauxhall    273
Name: brand, dtype: int64
--------------------------------------------------------------------------------
model value :
  Arteon         167
 Grand C-MAX    164
 Scirocco       163
 Prius          154
 Santa Fe       150
               ...
 Eos              5
 Z3               5
 Getz             4
 CLK              4
 IQ               2
Name: model, Length: 90, dtype: int64
--------------------------------------------------------------------------------
transmission value :
 Manual       1948
Automatic    1660
Semi-Auto    1351
Other           1
Name: transmission, dtype: int64
--------------------------------------------------------------------------------
fuelType value :
 Diesel      2989
Petrol      1754
Hybrid       189
Other         26
Electric       2
Name: fuelType, dtype: int64
--------------------------------------------------------------------------------
예측값 : 0.9639241787831766
최종예측값 :  0.9049198191658165
예측값 : 0.9640832724533401
최종예측값 :  0.896943294079381

   CarID         price
0  12000  41169.613281
1  12001  24945.708984
2  12004  50355.410156
3  12013  15644.749023
4  12017  50435.945312

# 의료비용 예측 모델

In [76]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/x_test.csv")
y_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/y_test.csv")

display(x_train.head())
display(y_train.head())

print(x_train.info())
print('-'*80)
print(x_test.info())
print('-'*80)

print(x_train.describe())
print('-'*80)
print(x_test.describe())
print('-'*80)

str_col = x_train.select_dtypes('object').columns

for col in str_col:
    print(f'{col} : \n {x_train[col].value_counts()}')
    print('-'*80)

x_test_id = x_test.pop('ID')
x_train.drop('ID',axis=1,inplace=True)
y = y_train['charges']
# col=['sex','smoker']


le = LabelEncoder()
x_train['region']=le.fit_transform(x_train['region'])
x_test['region']=le.fit_transform(x_test['region'])

x_train=pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

scaler = StandardScaler()
# num_col = ['age','bmi','children']
# x_train[num_col] = scaler.fit_transform(x_train[num_col])
# x_test[num_col] = scaler.fit_transform(x_test[num_col])
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

x_tr,x_te,y_tr,y_te = train_test_split(x_train,y,test_size=0.2)

model_rf = RandomForestRegressor()
model_rf.fit(x_tr,y_tr)
pred_rf = model_rf.predict(x_te)
f_pred = model_rf.predict(x_test)
score_rf = r2_score(y_te,pred_rf)
score_rff = r2_score(y_test['charges'],f_pred)
print('예측값 :', score_rf)
print('최종예측값 : ', score_rff)

model_xgb = XGBRegressor()
model_xgb.fit(x_tr,y_tr)
pred_xgb = model_xgb.predict(x_te)
f_pred_x = model_xgb.predict(x_test)
score_xgb = r2_score(y_te,pred_xgb)
score_xgb_f= r2_score(y_test['charges'],f_pred_x)
print('예측값 :', score_xgb)
print('최종예측값 : ', score_xgb_f)

output=pd.DataFrame({'ID':x_test_id,'charges':f_pred_x})
output.head()

   ID  age     sex     bmi  children smoker     region
0   2   35  female  35.860         2     no  southeast
1   3   28  female  23.845         2     no  northwest
2   4   23  female  32.780         2    yes  southeast
3   6   52  female  25.300         2    yes  southeast
4   7   63    male  39.800         3     no  southwest

   ID      charges
0   2   5836.52040
1   3   4719.73655
2   4  36021.01120
3   6  24667.41900
4   7  15170.06900

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        1070 non-null   int64
 1   age       1070 non-null   int64
 2   sex       1070 non-null   object
 3   bmi       1070 non-null   float64
 4   children  1070 non-null   int64
 5   smoker    1070 non-null   object
 6   region    1070 non-null   object
dtypes: float64(1), int64(3), object(3)
memory usage: 58.6+ KB
None
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        268 non-null    int64
 1   age       268 non-null    int64
 2   sex       268 non-null    object
 3   bmi       268 non-null    float64
 4   children  268 non-null    int64
 5   smoker    268 non-null    object
 6   region    268 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 14.8+ KB
None
--------------------------------------------------------------------------------
                ID          age          bmi     children
count  1070.000000  1070.000000  1070.000000  1070.000000
mean    664.704673    39.146729    30.743131     1.086916
std     385.062225    14.247707     6.101926     1.192005
min       2.000000    18.000000    15.960000     0.000000
25%     332.000000    26.000000    26.410000     0.000000
50%     671.500000    39.000000    30.495000     1.000000
75%     996.750000    52.000000    34.770000     2.000000
max    1337.000000    64.000000    53.130000     5.000000
--------------------------------------------------------------------------------
                ID         age         bmi    children
count   268.000000  268.000000  268.000000  268.000000
mean    683.652985   37.832090   30.186138    1.171642
std     392.014851   13.615568    6.140865    1.257345
min       0.000000   18.000000   16.815000    0.000000
25%     336.250000   25.000000   25.800000    0.000000
50%     658.000000   37.000000   30.030000    1.000000
75%    1029.250000   50.000000   33.782500    2.000000
max    1334.000000   64.000000   53.130000    5.000000
--------------------------------------------------------------------------------
sex :
 male      541
female    529
Name: sex, dtype: int64
--------------------------------------------------------------------------------
smoker :
 no     860
yes    210
Name: smoker, dtype: int64
--------------------------------------------------------------------------------
region :
 southeast    289
northwest    267
southwest    265
northeast    249
Name: region, dtype: int64
--------------------------------------------------------------------------------
예측값 : 0.8676903054665496
최종예측값 :  0.8672008078270793
예측값 : 0.8400315622356819
최종예측값 :  0.8580144612311633

   ID       charges
0   0   5285.075195
1   1   5107.997070
2   5   8945.115234
3  21   3430.872314
4  26  23637.214844

# 킹카운티 주거지 가격예측 데이터

In [123]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/x_test.csv")
y_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/y_test.csv")

display(x_train.head())
display(y_train.head())

# print(x_train.info())
# print('-'*80)
# print(x_test.info())
# print('-'*80)

# print(x_train.describe())
# print('-'*80)
# print(x_test.describe())
# print('-'*80)
x_test_id = x_test.pop('ID')
x_train.drop('ID',axis=1,inplace=True)
y=y_train['price']

from sklearn.preprocessing import StandardScaler,LabelEncoder
le = LabelEncoder()
x_train['date']=le.fit_transform(x_train['date'])
x_test['date']=le.fit_transform(x_test['date'])

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

from sklearn.model_selection import train_test_split
x_tr,x_te,y_tr,y_te = train_test_split(x_train,y,test_size=0.2)

from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score

model_rf = RandomForestRegressor()
model_rf.fit(x_tr,y_tr)
pred_rf = model_rf.predict(x_te)
score_rf = r2_score(y_te,pred_rf)

model_xg = XGBRegressor()
model_xg.fit(x_tr,y_tr)
pred_xg = model_xg.predict(x_te)
score_xg = r2_score(y_te,pred_xg)

# model_dt = DecisionTreeRegressor()
# model_dt.fit(x_tr,y_tr)
# pred_dt = model_dt.predict(x_te)
# score_dt = r2_score(y_te,pred_dt)

# model_lr = LogisticRegression()
# model_lr.fit(x_tr,y_tr)
# pred_lr = model_lr.predict(x_te)
# score_lr = r2_score(y_te,pred_lr)

print(f'RandomForestRegressor : {score_rf}')
print(f'XGBRegressor : {score_xg}')
# print(f'DecisionTreeRegressor : {score_dt}')
# print(f'LogisticRegression : {score_lr}')

final1 = model_rf.predict(x_test)
final2 = model_xg.predict(x_test)

score1 = r2_score(y_test['price'],final1)
score2 = r2_score(y_test['price'],final2)

output = pd.DataFrame({'ID':x_test_id,'price':final2})
output.head()

,ID,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,2,8651400730,20150428T000000,3,1.00,840,5525,1.0,0,0,...,6,840,0,1969,0,98042,47.3607,-122.085,920,5330
1,3,3163600130,20150317T000000,3,1.00,1250,8000,1.0,0,0,...,7,1250,0,1956,0,98146,47.5065,-122.337,1040,6973
2,4,5045700330,20140725T000000,4,2.50,2200,6400,2.0,0,0,...,8,2200,0,2010,0,98059,47.4856,-122.156,2600,5870
3,5,1036100130,20140808T000000,3,2.50,1980,39932,2.0,0,0,...,8,1980,0,1994,0,98011,47.7433,-122.196,2610,12769
4,6,7696630080,20140506T000000,3,1.75,1690,7735,1.0,0,0,...,7,1060,630,1976,0,98001,47.3324,-122.280,1580,7503

   ID     price
0   2  191000.0
1   3  234900.0
2   4  460000.0
3   5  442000.0
4   6  197000.0

RandomForestRegressor : 0.8565671777594798
XGBRegressor : 0.863672562457413

   ID         price
0   0  469902.87500
1   1  518339.75000
2  14  350878.00000
3  22  485992.03125
4  26  469156.12500

# 대학원 입학가능성

In [133]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/x_test.csv")
y_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/y_test.csv")

display(x_train.head())
display(y_train.head())

# print(x_train.info())
# print('-'*80)
# print(x_test.info())
# print('-'*80)

# print(x_train.describe())
# print('-'*80)
# print(x_test.describe())
# print('-'*80)

x_test_id = x_test.pop('ID')
x_train.drop(columns=['ID','Serial No.'],axis=1, inplace= True)
x_test.drop('Serial No.',axis=1,inplace=True)
y=y_train['Chance of Admit']

from sklearn.preprocessing import StandardScaler,LabelEncoder
le = LabelEncoder()
col = ['SOP','LOR','University Rating']
for i in col:
    x_train[i] = le.fit_transform(x_train[i])
    x_test[i] = le.fit_transform(x_test[i])
    
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

from sklearn.model_selection import train_test_split
x_tr,x_te,y_tr,y_te = train_test_split(x_train,y,test_size=0.2)

from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score

model_rf = RandomForestRegressor()
model_rf.fit(x_tr,y_tr)
pred_rf = model_rf.predict(x_te)
score_rf = r2_score(y_te,pred_rf)

model_xg = XGBRegressor()
model_xg.fit(x_tr,y_tr)
pred_xg = model_xg.predict(x_te)
score_xg = r2_score(y_te,pred_xg)

model_dt = DecisionTreeRegressor()
model_dt.fit(x_tr,y_tr)
pred_dt = model_dt.predict(x_te)
score_dt = r2_score(y_te,pred_dt)

# model_lr = LogisticRegression()
# model_lr.fit(x_tr,y_tr)
# pred_lr = model_lr.predict(x_te)
# score_lr = r2_score(y_te,pred_lr)

print(f'RandomForestRegressor : {score_rf}')
print(f'XGBRegressor : {score_xg}')
print(f'DecisionTreeRegressor : {score_dt}')
# print(f'LogisticRegression : {score_lr}')

final1 = model_rf.predict(x_test)
final2 = model_xg.predict(x_test)

score1 = r2_score(y_test['Chance of Admit'],final1)
score2 = r2_score(y_test['Chance of Admit'],final2)

output = pd.DataFrame({'ID':x_test_id,'Chance of Admit':final1})
output.head()

,ID,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
0,0,67,327,114,3,3.0,3.0,9.02,0
1,1,112,321,109,4,4.0,4.0,8.68,1
2,2,495,301,99,3,2.5,2.0,8.45,1
3,3,356,317,106,2,2.0,3.5,8.12,0
4,4,250,321,111,3,3.5,4.0,8.83,1

   ID  Chance of Admit
0   0             0.61
1   1             0.69
2   2             0.68
3   3             0.73
4   4             0.77

RandomForestRegressor : 0.7322341275018924
XGBRegressor : 0.678653884117268
DecisionTreeRegressor : 0.6188394975887053

   ID  Chance of Admit
0  13           0.5825
1  16           0.7403
2  23           0.8537
3  25           0.5963
4  29           0.6831

# 현대 차량 가격 분류 문제 데이터

In [147]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/x_test.csv")
y_test = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/y_test.csv")

display(x_train.head())
display(y_train.head())

print(x_train.info())
print('-'*80)
print(x_test.info())
print('-'*80)

print(x_train.describe())
print('-'*80)
print(x_test.describe())
print('-'*80)

x_train = x_train.astype({'year':'object'})
x_test = x_test.astype({'year':'object'})
x_test_id = x_test.pop('ID')
x_train.drop('ID',axis=1,inplace=True)
y=y_train['price']
from sklearn.preprocessing import StandardScaler,LabelEncoder
le = LabelEncoder()

str_col = x_train.select_dtypes('object').columns
num_col = x_train.select_dtypes(exclude='object').columns
for col in str_col:
    print(f'{col} value : \n {x_train[col].value_counts()}')
    print('-'*80)
    x_train[col] = le.fit_transform(x_train[col])
    x_test[col] = le.fit_transform(x_test[col])

scaler = StandardScaler()
x_train[num_col] = scaler.fit_transform(x_train[num_col])
x_test[num_col] = scaler.fit_transform(x_test[num_col])

from sklearn.model_selection import train_test_split
x_tr,x_te,y_tr,y_te = train_test_split(x_train,y,test_size=0.2)

from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score

model_rf = RandomForestRegressor()
model_rf.fit(x_tr,y_tr)
pred_rf = model_rf.predict(x_te)
score_rf = r2_score(y_te,pred_rf)

model_xg = XGBRegressor()
model_xg.fit(x_tr,y_tr)
pred_xg = model_xg.predict(x_te)
score_xg = r2_score(y_te,pred_xg)

model_dt = DecisionTreeRegressor()
model_dt.fit(x_tr,y_tr)
pred_dt = model_dt.predict(x_te)
score_dt = r2_score(y_te,pred_dt)

model_lr = LogisticRegression()
model_lr.fit(x_tr,y_tr)
pred_lr = model_lr.predict(x_te)
score_lr = r2_score(y_te,pred_lr)

print(f'RandomForestRegressor : {score_rf}')
print(f'XGBRegressor : {score_xg}')
print(f'DecisionTreeRegressor : {score_dt}')
print(f'LogisticRegression : {score_lr}')


final1 = model_rf.predict(x_test)
final2 = model_xg.predict(x_test)

score1 = r2_score(y_test['price'],final1)
score2 = r2_score(y_test['price'],final2)

output = pd.DataFrame({'ID':x_test_id,'price':final1})
output.head()

,ID,model,year,transmission,mileage,fuelType,tax(£),mpg,engineSize
0,0,I30,2019,Manual,21,Petrol,150,34.0,2.0
1,1,Santa Fe,2018,Semi-Auto,10500,Diesel,145,39.8,2.2
2,2,Tucson,2017,Manual,29968,Diesel,30,61.7,1.7
3,3,Kona,2018,Manual,27317,Petrol,145,52.3,1.0
4,4,Tucson,2018,Semi-Auto,31459,Diesel,145,57.7,1.7

   ID  price
0   0  23995
1   1  28490
2   2  13251
3   3  14990
4   4  17591

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3888 entries, 0 to 3887
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            3888 non-null   int64
 1   model         3888 non-null   object
 2   year          3888 non-null   int64
 3   transmission  3888 non-null   object
 4   mileage       3888 non-null   int64
 5   fuelType      3888 non-null   object
 6   tax(£)        3888 non-null   int64
 7   mpg           3888 non-null   float64
 8   engineSize    3888 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 273.5+ KB
None
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 972 entries, 0 to 971
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            972 non-null    int64
 1   model         972 non-null    object
 2   year          972 non-null    int64
 3   transmission  972 non-null    object
 4   mileage       972 non-null    int64
 5   fuelType      972 non-null    object
 6   tax(£)        972 non-null    int64
 7   mpg           972 non-null    float64
 8   engineSize    972 non-null    float64
dtypes: float64(2), int64(4), object(3)
memory usage: 68.5+ KB
None
--------------------------------------------------------------------------------
                ID         year        mileage       tax(£)          mpg  \
count  3888.000000  3888.000000    3888.000000  3888.000000  3888.000000
mean   2423.184671  2017.098765   21401.966821   121.378601    53.767361
std    1403.252714     1.931292   17792.072867    58.225210    12.598379
min       0.000000  2000.000000       1.000000     0.000000     1.100000
25%    1212.500000  2016.000000    8334.750000   125.000000    44.800000
50%    2420.500000  2017.000000   17393.000000   145.000000    55.400000
75%    3636.500000  2019.000000   30713.500000   145.000000    60.100000
max    4859.000000  2020.000000  138000.000000   555.000000   256.800000

        engineSize
count  3888.000000
mean      1.458385
std       0.402209
min       0.000000
25%       1.200000
50%       1.600000
75%       1.700000
max       2.900000
--------------------------------------------------------------------------------
                ID         year        mileage      tax(£)         mpg  \
count   972.000000   972.000000     972.000000  972.000000  972.000000
mean   2454.761317  2016.263374   28360.536008  121.409465   53.631173
std    1402.954035     2.769664   23360.382700   66.793324   12.237316
min      21.000000  2000.000000      10.000000    0.000000    1.100000
25%    1245.750000  2015.000000   10867.750000   30.000000   44.800000
50%    2468.500000  2017.000000   23000.000000  145.000000   54.300000
75%    3662.250000  2018.000000   38227.500000  150.000000   61.400000
max    4848.000000  2020.000000  138000.000000  555.000000   78.500000

       engineSize
count  972.000000
mean     1.516564
std      0.393672
min      0.000000
25%      1.200000
50%      1.600000
75%      1.700000
max      2.900000
--------------------------------------------------------------------------------
model value :
  Tucson      1049
 I10          863
 I30          432
 I20          398
 Kona         266
 Ioniq        228
 Santa Fe     193
 IX20         157
 I40          105
 I800          97
 IX35          89
 Getz           5
 Veloster       3
 Amica          1
 Terracan       1
 Accent         1
Name: model, dtype: int64
--------------------------------------------------------------------------------
year value :
 2017    945
2019    870
2018    783
2016    593
2015    254
2014    147
2020    122
2013     91
2010     21
2012     20
2011     16
2009     12
2007      5
2008      3
2003      2
2005      1
2006      1
2000      1
2002      1
Name: year, dtype: int64
--------------------------------------------------------------------------------
transmission value :
 Manual       2880
Automatic     532
Semi-Auto     474
Other           2
Name: transmission, dtype: int64
--------------------------------------------------------------------------------
fuelType value :
 Petrol    2320
Diesel    1291
Hybrid     277
Name: fuelType, dtype: int64
--------------------------------------------------------------------------------
RandomForestRegressor : 0.9524737702278272
XGBRegressor : 0.9544051191452739
DecisionTreeRegressor : 0.9213240876191352
LogisticRegression : 0.6869088609466063

C:\Users\SuperUser\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

   ID     price
0  21   8586.07
1  28   4651.16
2  33  35864.65
3  38  14458.25
4  45   9133.67