# 10950

In [21]:
n = int(input())
for i in range(n):
    a,b = map(int,input().split())
    result = a+b
    print(result)

5
1 1
2 3
3 4
3 3
2 2
4

# 2739

In [28]:
n = int(input())
for i in range(1,10):
#     print(f'{n}*{i}={n*i}')
    print(n, '*', i, '=', n*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

# 5597

In [8]:
students = [i for i in range(1,31)]

for _ in range(28):
    applied = int(input())
    students.remove(applied) #소거

print(min(students))
print(max(students))

3
1
4
5
7
9
6
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
2
8

# 3052

In [21]:
arr = []
for i in range(10):
    n = int(input())
    arr.append(n % 42)
arr = set(arr)
print(len(arr))

1
2
3
4
5
6
7
8
9
10
10

# 1546

In [41]:
n = int(input())
sub = [int(input().split())]
m=max(sub)
print(m)

3
1 2 3

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

# 2738

In [48]:
A, B = [], []

N, M = map(int, input().split())

for row in range(N):
    row = list(map(int, input().split()))
    A.append(row)

for row in range(N):
    row = list(map(int, input().split()))
    B.append(row)
    
for row in range(N):
    for col in range(M):
        print(A[row][col] + B[row][col], end=' ')
    print()

3 3
1 1 1
2 2 2
0 1 0
3 3 3
4 4 4
5 5 100
4 4 4
6 6 6
5 6 100

# 10809

In [12]:
word = input()
alphabet = list(range(97,123))  # 아스키코드 숫자 범위

for x in alphabet :
    print(word.find(chr(x)))

apple
0
-1
-1
-1
4
-1
-1
-1
-1
-1
-1
3
-1
-1
-1
1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1